[2015-10-21 18:39] PropGit commented on #278
Verified fixed.

[2015-10-21 18:40] PropGit commented on #185
Verified enhanced.

[2015-10-21 20:52] phated commented on #309
Chrome issue that causes this bug https://code.google.com/p/chromium/issues/detail?id=480926

[2015-10-21 21:22] PropGit opened #312 "Filter out bluetooth ports"
Related to issue #116...

Please filter out any Bluetooth ports from the list of communication ports.

On my Mac Mini (for example), **/dev/tty.Bluetooth-PDA-Sync** appears as a port in our app's list, and it takes _forever_ to do any Identify or Download process with that port being in the list.

[2015-10-21 21:24] PropGit commented on #309
@phated - thanks.  After the discussion and considerations, I'm closing this issue as a "won't fix" item.  It may correct itself (ie: Google) later anyway.

[2015-10-21 21:24] #309 closed, assigned to nobody

[2015-10-22 01:02] PropGit commented on #79
Verified:
- **Works** on Mac OS X
  - must be host; feature does not work on VM
- **Works** on Chromebook
- **Works** on Ubuntu
  - must be host; feature does not work on VM
- **Does not work** on Windows for reasons we can not fix

[2015-10-26 21:33] PropGit commented on #295
@urbantumbleweed - I updated the examples files in the link in the first post.  The archive is now dated 2015-10-26.

[2015-10-26 22:49] PropGit commented on #270
@monteslu - I updated the [Key Groups and Context definition post](https://github.com/parallaxinc/Parallax-IDE/issues/270#issuecomment-141197000).

[2015-10-30 01:36] #311 closed, assigned to nobody

[2015-10-30 03:17] phated commented on #295
It seems the discussion during sprint planning wasn't captured here.  We had decided that the default project would be the "Examples" project instead of "new project", so it doesn't seem necessary to have yet another popup dialog.

Also, we are restoring any example file that doesn't exist (deleted or newly added in a future release) instead of trying to determine if an example directory existed a

[2015-10-30 03:22] #295 closed, assigned to 2fast2fourier

[2015-10-30 03:39] #270 closed, assigned to monteslu

[2015-10-30 07:22] #276 closed, assigned to monteslu

[2015-10-30 20:17] #310 closed, assigned to 2fast2fourier

[2015-11-16 21:46] jimjeffers opened #318 "Prototyping Parallax IDE (Multiple Elements)"
_[UPDATE: This discussion began as Project/File UI design but various issues pushed us to consider many other factors simultaneously.  Once design of certain elements is deemed final, separate issues will be created to house each element individually]_

Here are some notes from our initial discussion on file navigation:
### File Navigation

Let’s create a list of common scenarios:
1. New Project (

[2015-11-20 18:13] jimjeffers commented on #318
Notes from our continued discussion:

[This discussion generated the first File Navigation mock-up [screencast](https://drive.google.com/file/d/0B53rXRf-3dMiTWloR2FHOU5hUGM/view?usp=sharing) and [pdf](https://drive.google.com/file/d/0B53rXRf-3dMiUUVRamktbENDWWM/view?usp=sharing)]

### App Menu
- Editing Items
- Provide the right option at the right time — in the right context.
- See the [scratchpa

[2015-11-20 18:55] PropGit commented on #318
[Icons post moved to separate issue](https://github.com/parallaxinc/Parallax-IDE/issues/319)

[2015-11-23 17:24] PropGit opened #319 "UI Icons"
## Icons

The question came up about icon design; specifically, does Material Design allow for more colorful icons or purely limited to a line-art style (monotone) design.  It appears that the latter is true, however, to _pretty it up_ Google has started using different colors for various icons presented in the same context in certain apps, like Inbox.  Examples below:
### Menu

![screenshot_2015-

[2015-11-23 17:25] PropGit commented on #319
[The Noun Project](https://thenounproject.com) is a good place to look for icons (and inspiration) for the menu system and buttons.

[2015-11-25 20:09] jimjeffers commented on #318
@PropGit Notes from our discussion today related to mockup [Screencast](https://drive.google.com/file/d/0B53rXRf-3dMiVTkwRWFoY3dxYnc/view?usp=sharing) and [PDF](https://drive.google.com/file/d/0B53rXRf-3dMiWWkyd0RaQUkwZVU/view?usp=sharing):

## Project Drawer
- ~~Jeff to add Parallax IDE logo to google drive.~~  [Done](https://drive.google.com/folderview?id=0B0tev9Y3WaL4flliUTJ6MW55Ym9iZVI4Q3dCek5

[2015-11-25 20:27] jimjeffers commented on #60
@PropGit Thanks this wasn't apparent to me. I'll utilize these colors in  the UI mockups!

[2015-11-30 18:32] PropGit commented on #318
Updates from Jeff:

## Fuzzy Search

- Results to contain Filename (if matching) in large black font, then below, Project > Folder in small grey font.  If it's a Project or Folder that matches (instead of Filename), then result contains "..." in small black font (representing possibly multiple files), then below, Project > Folder in large grey font.
  - Search result priorities are
    - Filename

[2015-11-30 20:36] PropGit commented on #318
Updated from Jeff:

## Floating Toolbar

The floating toolbar concept seems very practical for the Project Files View, but unfortunately less practical on the Editor view.  I'll explain:
- On the Project Files View
  - There's less opportunity for the keyboard overlay to consume the bottom of the screen
  - It displays the most-likely needed options (create folder / create project) immediately, st

[2015-11-30 21:20] jimjeffers commented on #318
Hey Jeff,

I did more research and your points are indeed valid on the FAB. I think it works on the project views but is a bad fit for the editor view especially due to the presence of the on screen keyboard. I see two options — we can use a softwindow mode (or since this is a web app some javascript to replicate softwindow mode. This option would allow us to have a toolbar that floats above the k

[2015-12-01 00:17] PropGit commented on #318
Hi @jimjeffers

Good points.  I'm pondering this more.  Maybe changing the more menu icon is not the right perspective; perhaps it's more that we're replacing it in certain contexts, the there can be an animated (circular) animation to call attention to the transition from a more menu to an error notification.  When pressed, the error notification displays the error toast and navigates to and high

[2015-12-01 01:52] jimjeffers commented on #318
@PropGit given that we won't be able to make much use of suggestions (per the fact that our users will be typing code) I think we may have more usable space by creating a custom accessory view to float above the keyboard or rest at the bottom of the editing view when the keyboard is not visible. We could still definitely do a dual dropdown menu as discussed. I'm open to discussing further. Please

[2015-12-01 01:53] jimjeffers commented on #318
@PropGit Sorry correct link to the PDF is:
https://drive.google.com/file/d/0B53rXRf-3dMiSHE0UDNHOEJONkk/view?usp=sharing

[2015-12-01 19:27] PropGit commented on #318
@jimjeffers Thanks Jim.  Yes, it was good for you to apply the remaining time to the mobile design- I agree.

## Project's Drawer
- **Header**
  - The addition of the logo and title+font look great!  The "PARALLAX" text should say "PARALLAX IDE" however, so it appears you'll have to make the logo size and font size a little smaller to fit it in nicely.
- **Project Files View**
  - I'd like to call

[2015-12-01 23:55] jimjeffers commented on #318
Aha! Ok I was afraid of that :) I'll finesse it in there!

Sure - many IDEs are subtle and just use a shade of grey matching the text etc.. my only caution is that red could confuse people into thinking there is an error but we can test to see if that hypothesis is actually true during user testing :)

Got it. Ok let's do it! I'll use the play button. I think that'll be more straightforward.

Yes

[2015-12-02 22:40] PropGit commented on #318
## Common Actions

[Discussion is below, with quick _Summary_ at end (after _Analysis_)]

To help determine the most common actions for prioritizing feature access, our Education Department identified two phases of common use for our consideration.

### Usage During Educator's Course Presentations
1. Identify
2. New Source
3. Select Stamp ($STAMP directive)
4. Select Language ($PBASIC directive)
5

[2015-12-03 00:10] PropGit commented on #318
@jimjeffers

Perhaps yellow would be a better _caution_ signal.

I'm pretty sure we'll package using PhoneGap, but there's a chance we'll use another technology if that doesn't meet our needs.

Good points, but the flow you're speaking of is front-and-center only in the mobile platforms, all others leave code in-view during Projects Drawer and File View operations.  I think you hit on the very cor

[2015-12-03 01:37] jimjeffers commented on #318
Some notes from our discussion this evening:

## Open Indicator
- Use yellow / orange cautionary color.
- Move indicator over to the left hand side.

## Fuzzy Search
- Search string should be able to match ‘%term%’ i.e. CONTAINS not BEGINS_WITH.
- CONTAINS are lower priority than BEGINS_WITH. Or possibly how soon the matching characters appear in the string. (i.e. match occurs at 3rd char vs 7th)

[2015-12-03 20:48] jimjeffers commented on #318
@PropGit Here is an update on mobile today:

Screencast:
https://drive.google.com/open?id=0B53rXRf-3dMidTZnUDlkZXdnN2c

PDF:
https://drive.google.com/open?id=0B53rXRf-3dMiRVBHZEhHWWFFMUU

Hope to get you one more on Tablet  / Desktop tonight.

[2015-12-04 00:13] PropGit commented on #318
@jimjeffers Thank you.

### Project Drawer
- I envisioned "Parallax IDE" on one line, but the stacked way you put it to save font size and fill in space is kind of growing on me
- Thanks for incorporating the colors and your choice of the green for primary action
- Is the "Projects" and "Files" section headers one of the colors in our scheme?

### Search
- Perfect!

### File View
- The New File ic

[2015-12-04 03:14] jimjeffers commented on #318
@PropGit

~~Yes. It is the medium blue color.~~  Correction, the section headers are not in the color scheme... this will be fixed.

Sounds good. When there is not a special situation -- do we simply display only the run / validate button?

That could be better - my only concern is that people may get confused about memory map -- i.e. they won't know why it appears when it does or why they can't a

[2015-12-04 17:16] PropGit commented on #318
Yes... either a blank spot where the Context-Button would have been, or perhaps ideally, a gentle animate-stretch of the filename's width to occupy that blank space.

Right.  It's not possible to see the memory map if it can't compile.  Not sure how we'd explain that to people with brevity... except through this interaction and their experience.

[2015-12-04 18:09] PropGit commented on #318
Yes, let's chat about that; I thought of a hybrid approach that, while probably not super easy to implement, would be really nice.

I had a feeling the "cover" behavior was unavoidable using Google's convention.  :-(

[2015-12-04 20:23] PropGit commented on #318
Updated mobile mockup [screencast](https://drive.google.com/file/d/0B53rXRf-3dMiX1lhMExobUFiY3c/view?usp=sharing) and also [PDF](https://drive.google.com/file/d/0B53rXRf-3dMiZ2VfWUV6YVBONHc/view?usp=sharing) is here.

[2015-12-04 20:25] PropGit commented on #318
Updated desktop mockup [screencast](https://drive.google.com/file/d/0B53rXRf-3dMiQ3pfd3pBQ0Q2RDA/view?usp=sharing) and [PDF](https://drive.google.com/file/d/0B53rXRf-3dMicV82NjkwMk9TZlU/view?usp=sharing) is here.

[2015-12-05 00:25] PropGit commented on #318
@jimjeffers - Here's my desktop mockup feedback:

### Project Drawer
- Perfect - Looks the sames as on mobile; great!

### File View
- Condensed folder/file view - Good.
- We want to be able to show and hide this view (ie: slide this view all the way to the left) leaving just the menu button on the toolbar when hidden.  Hiding this will give us the sometimes-precious horizontal editing space we ne

[2015-12-07 17:48] jimjeffers commented on #318
## Touch vs. Keyboard
- For right now stick with large touch targets in hopes of a better solution in the future to address all cases without being annoying.
- Hiding the file view on desktop. Make it sticky on desktop but not on mobile.
- It’s important that we keep the tabs consistent. Possibly something like intelli-j.

## More Menu on the Editor
- ‘Save as’ could be in the more menu.
- Move th

[2015-12-15 21:08] jimjeffers commented on #318
Per our last conversation. Some of the interactive mockups have been completed:

## Desktop file navigator show / hide:

https://drive.google.com/file/d/0B53rXRf-3dMiWE4yN2pnYjktaGM/view?usp=sharing

**Interactive version:**
http://share.framerjs.com/0l61zk9qb2gc/

## Mobile File Navigator Toolbar Transitions

https://drive.google.com/file/d/0B53rXRf-3dMiNDVMMmVNUGhnekE/view?usp=sharing

**Interac

[2015-12-16 21:35] PropGit commented on #318
@jimjeffers - Thanks.
- Desktop File View
  - Please make this slide out (animate) when the Project icon is clicked; like the transition of the Project Drawer.
  - I still think it'd be good on desktops and tablets (that have the screen space) to provide a button to hide the File View.  Like this, perhaps, where the button doesn't get hidden when the view slides out, but rather the button slides t

[2015-12-16 22:01] jimjeffers commented on #318
@PropGit Thanks for the feedback. I just looked into that last issue. Looks like ab ug with framer's viewer. It works in Safari but not in Git. I will see if there's anything I can do to fix it within framer.

[2015-12-30 01:57] PropGit opened #320 "Unable to find $STAMP directive"
The following code causes a tokenization error, "Unknown target module. $STAMP directive not found," yet the $STAMP directive is clearly there and the same code tokenizes just fine in the BSE.

I do not know yet, why this code does not work in Parallax IDE, but we should try it in the PBASIC Tokenizer tester first, and if that works, I suspect some kind of character handling issue between the app

[2016-01-05 20:11] PropGit opened #321 "Add Multi-Module Syntax Highlighting Support"
Add syntax highlighting support for multiple BASIC Stamp modules (BS2, BS2e, BS2sx, BS2p, and BS2pe), described in Issue #71.

Each module has similar syntax, but beyond BS2, each has a superset of supported keywords relative to the prior.  Currently (v0.10.0 and v0.11.0) those additional keywords show up as user-created symbols; no syntax highlighting.

[2016-01-11 18:52] jimjeffers commented on #318
Some notes from today's discussion:

## Begin considering deeper interactions such as the debug terminal.
- Console allows echo or not echo.
- Console will allow you to control baud rate and device port.
- On mobile the console will need to be full screen — our current mockups do not make the console accessible enough to the developer so we will most likely want to workout a situation where the de

[2016-01-11 21:08] PropGit commented on #318
@jimjeffers
I'm confused by something in the Mobile mock ups.
When in the editor view:
![image](https://cloud.githubusercontent.com/assets/1266318/12246550/ed4f0178-b863-11e5-8803-42c1e17e494e.png)

The upper-left icon is a left arrow, indicating that we're in a nested activity, right?  Selecting that takes us back to the file view?
![image](https://cloud.githubusercontent.com/assets/1266318/12246

[2016-01-11 21:37] jimjeffers commented on #318
@PropGit Agreed. I think our compromise or solution here was the quick file switch which allows to switch between projects. OR the autocomplete for file search matches files, folders, and projects. So those alternate paths would be quicker routes to get to different files or projects. Do you think this could be sufficient or should I reconsider the mobile nav in the file switcher?

[2016-01-13 16:43] PropGit commented on #318
UPDATE:

Here's a 6 minute video I recorded to give our Parallax Team a walk-through of our mocked up design for the official Parallax IDE.  These are mostly static mock ups that I'm making look dynamic in the video; just politely ignore graphics that shift around in transitions.

https://drive.google.com/file/d/0B0tev9Y3WaL4T1dDeWdXczVzeHc/view?usp=sharing

[2016-01-13 20:52] jimjeffers commented on #318
@PropGit Looks great. That's some fancy screen dancing with static mocks!

[2016-01-13 20:54] jimjeffers commented on #318
I've done some house keeping per the feedback we had on the last iteration of interactive mockups. Framer generates a new URL each time I share a prototype so here are updated versions of the last prototypes I deployed:
1. Fab scrolling now properly clips the Fab in Chrome:
   http://share.framerjs.com/46p699tk97ni/
2. Here are revisions to the desktop mockup in which you can now swipe to open the

[2016-01-14 00:16] PropGit commented on #318
@jimjeffers - Great!  Both items verified and I like them!

Try expanding the file view and then click the Menu button; funny thing happens.

[2016-01-14 01:39] jimjeffers commented on #318
@PropGit I've added a lot of demo functionality to the mobile file nav.

# Updated Mobile Navigation Prototype
1. We can now navigate to the search screen and type real keyboard input into the search field. It will only respond to 'SER' if you type anything outside of that you'll see 'No Results Found':
2. You can summon the project drawer via swipe or tapping the menu button:

http://share.framer

[2016-01-14 02:02] jimjeffers commented on #318
@propgit I can resolve this by making the layer below an interactive later. Seems to be a bug with framers scroll component. I had to deal with that specific issue on the updates to mobile.

Sent from my iPhone

[2016-01-15 01:02] jimjeffers commented on #318
## Mobile Navigation Prototype V2
- Added the ability to switch between projects when viewing the project drawer.
- You can open the code editor by tapping on the first file item.
- You can see the more menu by tapping any of the 'more' buttons on a given file or folder.
- You can show or hide the keyboard in the code editor.

http://share.framerjs.com/22b2efzxlghh/

Please excuse some loading tim

[2016-01-15 06:03] jimjeffers commented on #318
## Mobile Navigation Prototype V3
- Fixed bugs relating to the project switcher drawer showing the wrong project.
- Fixed bug causing the keyboard to appear erratically in the code editing view.
- Fixed bug causing the code to scroll to an improper constraint when the keyboard was not visible.
- Added the ability to show the jump menu to switch between projects.
- Added the ability to launch the m

[2016-01-15 18:41] jimjeffers commented on #318
## Mobile Navigation Prototype V4
- Completed the illusion of file switching.
- Improved the 'delete' from jump menu demonstration.
- Fixed some bugs causing files in the main navigation to detect false clicks when scrolling.
- Both cases where the keyboard gets displayed are accurately presented w/ the default android behavior to hide the keyboard or go back.

http://share.framerjs.com/2c41hlwie6

[2016-01-15 21:18] PropGit commented on #318
@jimjeffers

I'm responding to a number of versions of the interactives... ignore comments if they've been fixed in later versions.

Search and Project Drawer interactions verified!  Fantastic!

Does the resolve the overly complex framer project issue?

This interactive simply toggles open project, sometimes making the resulting view show the wrong project.

Verified, but this works for the first

[2016-01-15 22:33] PropGit commented on #318
@jimjeffers - Request for comment:  I'm no longer seeing a true benefit in having the green action bar (at the bottom of the File View) animating away into a FAB.  If we're making the scrolling list provide enough padding at the bottom to allow scrolling up out of the way of the FAB, then it naturally also scrolls up out of the way of the green action bar.  I think we started down this path to pre

[2016-01-16 01:32] jimjeffers commented on #318
@PropGit Outside of it being a nice effect - it is some unnecessary complexity in the UI. It affords you more screen real-estate to read the list, but if most smartphones have a larger display as they do today, than I think it could be safe to forego this element in the actual interface as well!

[2016-01-16 02:00] PropGit commented on #318
@jimjeffers - Okay, let's make it a fixed green action bar then.  Sorry to have wasted time on this, but some things are not obvious until we implement them.

[2016-01-22 22:21] PropGit opened #322 "Make overlay elements respond to mouse and touch alike"
On Windows platforms with touchscreens, the overlay elements (like buttons) do not respond to mouse clicks.

Add mouse/touch handling support so that overlay elements respond appropriately to both touch and mouse events.

[2016-01-23 00:26] jimjeffers commented on #318
@PropGit -
I've uploaded a new screencast demoing the debug console on mobile. Please take a look:

https://drive.google.com/open?id=0B53rXRf-3dMiM2VOYnluZ29qSVE

(Also see [this post](https://github.com/parallaxinc/Parallax-IDE/issues/318#issuecomment-175743259))
Changes in this update include:
1. The new file/folder menu does not disappear when you scroll. The fab is no more! Long live the new i

[2016-01-23 00:51] PropGit commented on #318
@jimjeffers - I'll provide feedback as soon as possible.

The shared interactive limitation is a bummer, but we can deal with it the way you indicated.  Sounds reasonable.

[2016-01-27 16:49] PropGit commented on #318
@jimjeffers

The screencast shows the green toolbar still transitions into a fab.  Am I misunderstanding what you meant?

Do you have a new interactive to publish?

The debug console is not shown in this screencast.

Maybe you linked to the wrong screencast?

[2016-01-27 16:58] PropGit commented on #318
@jimjeffers
Found it.  Here's the debugger screencast:  https://drive.google.com/file/d/0B53rXRf-3dMiYzJEOXExbk5uWHc/view?usp=sharing

The permanent new file/folder menu is great.  The swipe up (or tap) to reveal the debug terminal is perfect.  Animation is fantastic too.  Great work!

[2016-01-27 17:37] PropGit commented on #318
### Next Design Elements

NOTE: Ideas are welcome.  ~~Struck-through~~ items are done.
- ~~Show Syntax Error~~ **Done.**
  - ~~Make this in interactive~~
- ~~Show source change~~ **Done.**
  - ~~when selecting each of the top two items in the jump list~~ **Done.**
- ~~Import / Export / Share~~ **Done.**
  - Project and file storage is closely managed by the app.  This increases storage integrity b

[2016-01-27 17:53] PropGit opened #323 "Add Show/Hide Line Numbers option"
Add Show/Hide Line Numbers option.  This lets the user gain more horizontal code space (when hidden) or see line numbers for reference when desired.

[2016-01-27 17:53] jimjeffers commented on #318
@PropGit Sorry about that! It was incorrect. Reviewing your notes for next items now.

[2016-01-27 17:56] jimjeffers commented on #318
@PropGit I wanted to chat with you shortly about breaking the interactive up into parts before I did so. There is no interactive because it's grown too large for the sharing API provided by framer.

[2016-01-27 19:27] jimjeffers commented on #318
@PropGit Notes from our discussion today:

# ~~File Switching~~ **Done.**
- ~~Jeff to provide alternate screenshot of code to provide interactive demo of file switching.~~ **Done.**

# ~~Syntax Error:~~ **Done.**
- ~~Syntax error would be below the screen. **Correction - my thought was not practical here.  This idea may work for mobile, but not for larger screen sizes without having to use much lo

[2016-01-27 20:55] PropGit commented on #318
@jimjeffers
Follow-up from our discussion:
- I've created new screenshots of bad code (with and without error highlight) and also of alternate code (for use with a different filename).  You can find it here in the [Example Code folder](https://drive.google.com/folderview?id=0B53rXRf-3dMiNF9wWHBxYUl4RE0&usp=sharing)
- I made a [short Find/Replace video](https://drive.google.com/file/d/0B0tev9Y3WaL4

[2016-01-28 18:00] PropGit commented on #318
@jimjeffers
I've updated the [notes from discussion](https://github.com/parallaxinc/Parallax-IDE/issues/318#issuecomment-175811161) and the [Next Design Elements](https://github.com/parallaxinc/Parallax-IDE/issues/318#issuecomment-175811161).

[2016-01-28 22:38] jimjeffers commented on #318
@PropGit Thanks!

[2016-02-02 17:23] jimjeffers commented on #318
# Debug Console (Mobile)

Interacting with the debug console while on a mobile device can be done in several ways:
1. Swiping from the bottom of the view.
2. Swiping allows you to drag the debug console to a partial view so  that you can view the code and  output simultaneously as you can on a desktop IDE.
3. Utilizing the ‘debug’ button from the bottom toolbar in the code view.
4. Utilizing the ‘

[2016-02-02 17:37] jimjeffers commented on #318
@PropGit I've posted a quick screencast showing how XCode provides a very thorough amount of find and replace capabilities in a small UI. This is just for reference purposes:

https://drive.google.com/file/d/0B53rXRf-3dMid3BqbUVZdnNjWXc/view?usp=sharing

[2016-02-05 00:52] jimjeffers commented on #318
# Error Highlighting (Mobile)

Syntax errors change the IDE in a number of ways:
1. Upon detection (which should happen in the background at timed intervals after typing has stopped) a snack bar and a transition of the run button to an 'errors' button will occur.
2. When all errors are resolved the run button will re-appear.
3. Typing the errors button or the 'SHOW' action in the snack bar will sc

[2016-02-05 00:53] jimjeffers commented on #318
@PropGit Please check out the latest update for demo on errors in the IDE. I'll be in touch soon. Hopefully one more major demo before the end of this week!

[2016-02-06 16:20] PropGit commented on #318
@jimjeffers

Excellent work, Jim!  That _exactly_ meets my vision of how the Debug Terminal arrives and departs from the UI.  Fantastic!

[2016-02-06 16:24] PropGit commented on #318
@jimjeffers

Thanks Jim.  They packed a lot of functionality into that small space.  I like it as inspiration.  We'll have a simpler and smaller interface, as you know, but I'll consider how they solved certain problems to explore how we can achieve what we need.  This was very beneficial.

[2016-02-06 16:31] PropGit commented on #318
@jimjeffers

Wow, that looks fantastic!  Even better than I envisioned; I love it!  Thanks Jim!  I'm excited to see the next demo too.

Also, I really appreciate how you're presenting these and the feature list and formatting in your posts regarding it.  This combined with the centralized doc is perfect for us and Iced Dev in the future.

[2016-02-10 02:45] jimjeffers commented on #318
# Landscape Design Examples

I've created landscape alternates of the following mockups:
1. File Navigator
2. Code Editor
3. Debug Console

The on screen keyboard creates some important changes:
1. In the code editor, when the keyboard is present, the app will utilize Android's full screen mode if possible. This will hide the status bar and the app bar. The user will need to dismiss the keyboard o

[2016-02-11 17:10] PropGit commented on #318
@jimjeffers - perfect decisions.  Also, the static PDF-only renditions of landscape are great for getting the idea across without spending extra time for an interactive; exactly as we discussed.  Thank you.

[2016-02-12 14:59] PropGit commented on #318
@jimjeffers
_[Edited as per our discussion on 2/16/16]_

Our Education department suggested that the Run / Error button (icon) have a third, intermediate state the represents when the app is waiting for editing to finish.  So the idea is:
- Run button - when code in editor background-tokenizes successfully
- Processing ~~button~~ state- when code in editor is being edited by user
- Error button -

[2016-02-16 18:39] PropGit commented on #318
#### Brief Discussion 2/16/16

### ~~Debug Terminal~~ **Done.**
- ~~Add text entry to transmit pane~~ **Done.**
- ~~Make transmit pane sizable relative to the receive pane~~**Done.**

### ~~Processing State~~ **Done.**
- ~~Run/Error button shows third state as an altered version of themselves, as noted in previous post.~~ **Done.**

[2016-02-16 21:47] jimjeffers commented on #318
@PropGit I've created an updated interactive with a debounce timeout of 1 second. We can tweak this as needed but you can see the processing state in action:

http://share.framerjs.com/69o16i7r9c79/

I have also updated the design document but have not created an updated screencast for this update. If you think it's necessary I will happily do so but wasn't sure if we needed it in this minor chang

[2016-02-16 23:38] PropGit commented on #318
@jimjeffers That's great.  No need for a screencast.  ~~Please bump the timeout up to 1.5 seconds.~~ **Done.**

[2016-02-18 18:41] jimjeffers commented on #318
@PropGit Take a look at this updated version of the debug console. I have updated the google doc with this new link and have updated the description accordingly to provide some direction as to how we want the resizing to behave:

http://share.framerjs.com/z45z34ie9dn7/

[2016-02-18 18:42] jimjeffers commented on #318
@PropGit The timing on the compilation and snackbar have been bumped up slightly. They are explicitly defined in the google doc along with this updated link:

http://share.framerjs.com/qdq54nh404fg/

[2016-02-18 18:55] PropGit commented on #318
@jimjeffers
**Updated Debug Console** - Resizing works great.  Is it ready to accept text into the Transmit Pane?  I wasn't able to type anything there.

**Updated Compilation Timing** - That's much better!  Thank you.

[2016-02-18 18:59] jimjeffers commented on #318
@PropGit Is it not working for you? It should allow text entry via your actual keyboard. Not by clicking on the fake on screen keyboard. I will check in Chrome. It works in Safari.

[2016-02-18 19:07] PropGit commented on #318
@jimjeffers - I see, it does indeed work with hardware keyboard, but only when Debug Terminal is full screen.

[2016-02-19 00:01] jimjeffers commented on #318
@PropGit Right! There was a bug. Now if you tap on the field it will launch into full screen with the virtual keyboard:

http://share.framerjs.com/4lwlryiuyq28/

The idea is you'd need to be in full screen if you actually want to transmit on mobile as you're going to be using the virtual keyboard in most cases and screen real estate is too limited. Thoughts?

[2016-02-19 01:18] PropGit commented on #318
I see.  I think that works well for mobile (phone), but may not necessarily apply to tablet and certainly not desktop.  When we get back to those interactives, I'd like to explore making it take advantage of the extra
screen space to allows virtual keyboard input (or hardware keyboard) even when the Debug Terminal is not full screen.

[2016-02-19 17:03] jimjeffers commented on #318
@PropGit Agreed! I think in the case of mobile - if a hardware keyboard were detected - we could disable the transition to full screen. On tablet/desktop this won't even be a design consideration as the debug console will not usually be fullscreen, if ever.

[2016-02-19 17:06] jimjeffers commented on #318
# Find and Replace (Mobile)

On mobile we will have limited screen real estate. The interface for find and replace is built off the accessory view where the find and replace button is displayed.
1. When you tap the find and replace button in the accessory view - the accessory view will be replaced by the find and replace pane.
2. Tapping the X in the top right corner of the find and replace interf

[2016-02-20 02:49] jimjeffers commented on #318
Hey @PropGit I've updated the find and replace screencast and PDF with an updated UI that allows for more advanced functionality such as case sensitivity and partial/whole word toggles. I also replaced the next/previous button with one search button to simplify the UI given how compact the UI is.

[2016-02-22 01:11] jimjeffers commented on #318
@PropGit The original file navigation demo will now actually adjust the code contents when you switch between projects:

http://share.framerjs.com/u87mxiqrfioa/

Also - I've added some documentation for this demo to the master document:

https://docs.google.com/document/d/1AZIVgcckDK1XsJvnb4-j_FkSNyKqPzBif2twwZN0ccg/edit?usp=sharing

[2016-02-22 23:04] jimjeffers commented on #318
@PropGit

# Import / Export Buttons

I've added the import and export buttons so that those operations can now be done at a project and file level. I've also added the functionality.
1. To import/export a project, use the options located on the project drawer.
2. To import/export a file use the contextual menu or the more menu within the IDE activity.
3. I've provided a sharing sheet to show how t

[2016-02-22 23:43] PropGit commented on #318
@jimjeffers

Great start!  I like all the features you display and the behavior described, especially the "x of total" indication.  Below is some more feedback and ideas.
- Since _Replace_ tends to be used much less often... I'm tempted to find a way to hide that feature until the user calls for it.  Maybe there's no room for a button for that... and a gesture to expand the accessory view (to reve

[2016-02-22 23:46] PropGit commented on #318
@jimjeffers

Fantastic!  Thanks, it works!

[2016-02-22 23:59] PropGit commented on #318
@jimjeffers

Those options and your described operation look good.
- I think the icons for Import and Export need to be visually opposite each other
- I like the share sheet appearance
- [Jeff] need to still consider input button on action bar to input files into project/folder
- [Jeff] need to decide and discuss Import / Export workflow

[2016-02-24 18:40] jimjeffers commented on #318
Thanks @PropGit I'm going to implement some revisions today and also work on the directives. If you're free we could chat tomorrow to cover all of the ground we've covered now. I think the entire list is covered except the dialogs which we'll have to do at the start of next month's iteration as we're going to run out of hours in this month pretty soon!

[2016-02-24 18:43] jimjeffers commented on #318
@PropGit Perhaps on find and replace I will hide the navigation bar until the find and replace is dismissed. This should open up a noticeable amount of editor space.

[2016-02-24 18:44] jimjeffers commented on #318
@PropGit I'm hesitant to perform a gesture based find and replace as just from personal experience in IDEs I'm used to scrolling the document and reviewing the highlighted areas as well as using the search button to jump to the next occurrence if I need to.

[2016-02-24 18:46] jimjeffers commented on #318
@PropGit I'll try out a version where you have to actually toggle replace to see the full interface! I thought about it but was having trouble finding the space for the extra button that could do this. I'll brainstorm a bit more! If anything it could be on the more menu.

[2016-02-25 00:04] jimjeffers commented on #318
@PropGit I've updated the find and replace demo:
1. Simplified the more menu to opt with the toggle solution.
2. Added an option to toggle the replace field on and off via the more menu.
3. The navigation bar is hidden when find/replace is active.
4. The navigation bar reappears if the keyboard is dismissed but find and replace is still active.

## PDF Document

https://drive.google.com/file/d/0B5

[2016-02-25 02:38] jimjeffers commented on #318
@PropGit

# Directives

This is more of a brainstorming post than anything. But I'm thinking we can use a little helper icon such as a lightbulb on special lines of code where we can provide a menu of suggestions to the user. This is how intelli-j handles code suggestions and it works quite well in Android Studio. I also discuss some ideas on how we're going to handle new files on mobile. We discu

[2016-02-25 21:53] PropGit commented on #322
The menu's Save As, New File, etc. items are subject to this problem.

[2016-02-25 22:00] PropGit commented on #80
Bumped to high priority per customer's needs.

[2016-02-25 22:00] PropGit commented on #86
Bumped to high priority per customer's request.

[2016-02-25 22:01] PropGit commented on #322
Bumped to high priority due to customer request.

[2016-02-25 22:02] PropGit commented on #124
Bumped to high priority due to customer request.

[2016-02-25 22:05] PropGit opened #324 "Add automatic keyword case modification"
Add keyword case modification to the automatic syntax highlighting feature, as noted by Issue #71.

[2016-02-25 22:05] PropGit commented on #324
Bumped to high priority due to customer request.

[2016-03-02 17:23] PropGit commented on #318
@jimjeffers

Excellent idea.

Understood.  I have a suspicion a natural feeling interface can be had, but I don't know the solution and can't afford the time to dream it up right now, so we'll leave that idea on the back burner.

Thanks.

Oh that works great!  I like it!

Fantastic!

Ideal!

Yes!  That feels much better!  I prefer the lightbulb appearing only when the cursor is on the related stat

[2016-03-02 20:05] PropGit commented on #318
#### Dialog Design

Here is a list of dialogs and screenshots from our current dialog designs where they already exist.
- Save
  - The save dialog normally isn't seen but appears automatically in certain cases
  - Case 1: A user-selected Save operation displays the dialog when the file has never been saved before (ie: it's a new file)
    - Our goal is to make the existing dialog (below) use a dif

[2016-03-02 23:58] jimjeffers commented on #318
# Find / Replace
- Add mockup with nav bar visible when keyboard dismissed if not there already.

# Lightbulb
- Menu should appear just below the line.
- If directive is missing show an auto-inserted error on the top of the file. App will not compile and they can choose the right directive.

# Import/Export
- Use the same icon flip/flopped.

[2016-03-02 23:58] jimjeffers commented on #318
Thanks for the dialog info @PropGit

[2016-03-25 01:02] jimjeffers commented on #318
Hey @PropGit! Sorry I have gone missing since we last chatted. I had come down with a pretty bad cough / cold and fell behind schedule this month. I still have a bit of this irking itch in my throat which I hope is not too distracting in the screencasts. I tried to edit out the coughing where I could! First off. I wanted to touch on the general house keeping revisions we discussed per our last cal

[2016-03-25 05:07] jimjeffers commented on #318
@PropGit Get ready for a mobile dialogs marathon:

In this screencast I run through pretty much every dialog box that we will likely plan on implementing in the initial version of the editor. The only exclusions and the areas we need to have discussions will center around how we want to approach 'help' and 'settings'.

## Screencast:

https://drive.google.com/a/sumocreations.com/file/d/0B53rXRf-3d

[2016-03-31 16:44] PropGit commented on #318
@jimjeffers - I've reviewed the screencasts.

Excellent!  Looks better than I imagined and very clearly defines the problem to the user.  I like your idea of adding the message in the code font that looks and acts like a hyperlink.

The lightbulb is perfect.  To verify, I do like having the menu drop below the line that it applies to; that works great.

That looks great without the keyboard.  Than

[2016-04-04 17:32] jimjeffers commented on #318
@PropGit The PDF for the dialogs has been updated with:
- New import/export icons
- Updated move work flow that allows you to move file to another project.
- Updated import/export workflow which uses a share sheet with less options to export file/folder to google drive etc.. an example (imported screenshot from the google drive SDK) to illustrate how the user would select a file from their google

[2016-04-04 17:33] jimjeffers commented on #318
@PropGit Also I made some updates to the identify dialogs so that they show longer device names, the current port getting scanned, and longer custom names that are truncated.

[2016-04-04 18:40] phated commented on #318
I have a feeling all the dialogs with textboxes in them are going to be a nightmare to develop since web applications don't have access to height of the keyboard, etc.  Are they really best as dialogs?

[2016-04-04 20:30] jimjeffers commented on #318
@phated We can display them as full screen modal views if that is the case.

[2016-04-08 21:18] #322 closed, assigned to nobody

[2017-09-20 18:43] q2apro commented on #272
PS: Version 5.3 is coming out, Sep. 2017, and there is still no shortcut for duplicateLine?

But `deleteLine` is implemented for ages :/

Here are all recent core shortcuts: https://github.com/codemirror/CodeMirror/blob/dda5d7220f0e3cbf8c203223ee4e7dc2d5c04bec/src/input/keymap.js

[2017-09-21 20:09] PropGit opened #326 "Can't Identify/Program BASIC Stamps on Chrome v60 or v61"
Chrome v60 breaks Parallax IDE's ability to communicate with the BASIC Stamp.

Chrome v61 makes it even worse.

### Identification process misbehaves on Chrome v60.
On Chrome v45...v59, the start of the BS2-IC identification process (Tx and Rx lines) looks like this:
![image](https://user-images.githubusercontent.com/1266318/30715657-f7c0cbb4-9ecb-11e7-8d82-7b4771d09e27.png)
_(Remember, the BS2-IC

[2017-09-21 20:10] PropGit opened #327 "Further serial failure on Chrome v61."
On Chrome v61, the serial failure reported in Issue #326 is exasperated further.

### Lost connection with serial port
On Chrome v45-60, the "zoomed out" view of the identification process looks like this:
![image](https://user-images.githubusercontent.com/1266318/30716576-672fac60-9ecf-11e7-97f0-558cc5466444.png)

The failure to identify a BS2-IC (the first set of pulses) leads _properly_ to atte

[2017-09-21 20:35] PropGit opened #328 "Buffer Overflow error - likely with Chrome v61."
On 9/18/2017, not long after Issues #326 and #327 occurred, a customer reported this:

![image](https://user-images.githubusercontent.com/1266318/30717234-1576dbe4-9ed1-11e7-89ff-33f839b7b73d.png)

Along the way of debugging for Issue #326, I found the code that I believe is causing this, and the way it is written, it treats a potentially-likely response from a connected device (BS2, or otherwise)

[2017-09-29 18:27] PropGit commented on #326
This issue seems to have disappeared with a fresh install and build on one system, but not another (which was actually tried first).  For now, we'll proceed to assume this is not a problem anymore but we'll try to determine why it won't build the same on the first system.

[2017-10-26 01:14] PropGit commented on #327
Fixed.  Verified in Windows, Mac, Linux, and Chromebook.

[2017-10-26 01:14] #327 closed, assigned to nobody

[2017-10-31 16:39] PropGit commented on #326
Solved with cacheless install from npm.  Parallax IDE v0.13 solves this problem.

[2017-10-31 16:39] #326 closed, assigned to nobody

[2017-10-31 16:40] PropGit commented on #328
Have not seen this error occur since it was reported.  Parallax IDE v0.13 or v0.14 may have "fixed" the problem, though we're keeping this issue open for future use as the code involved may need a slight revision.

[2018-06-02 20:04] christianbender opened #330 "Signals to the microcontroller"
What for signals go sent to the microcontroller? The machine commands?
I use a ```BS1```. But this board will be isn't support.

[2018-11-16 23:00] PropGit opened #331 "Menu Overlaps Files"
Menu system overlaps files and makes it difficult to access them if they appear low on the list.

[2019-05-07 19:15] PropGit opened #333 "Failed propType 'children'"
As seen on the chrome://extensions page (when running the app as an unpacked extension only):

[2019-05-07 19:19] PropGit opened #334 "Unsupported vendor-prefixed style property"
As seen on the chrome://extensions page (when running the app as an unpacked extension only):

In exploring, this is caused by code in

- ./node_modules/react-material/components/src/AppBar.js
- ./node_modules/react-material/components/src/ListItem.js

however there are dozens (hundreds?) of occurrences of "webkit..." in react-material code.

[2019-05-16 23:23] PropGit opened #335 "Chrome 74 prepends '\\.\' to COM ports > 9"
On Windows, Chrome 74 prepends the characters '\\\\.\\' to COM ports > 9 (presumably; based small sample set and prior history with Windows platforms).

Would like to strip this off of the downloader display for brevity and legacy reasons.

[2019-05-16 23:25] PropGit opened #336 "50% or greater BASIC Stamp discovery failures are back"
An older release of Chrome caused problems with Parallax IDE in the form of every-other download failing.  As of Chrome 74, this problem appears to be back.

[2019-05-16 23:28] PropGit commented on #336
Older issues with Chrome v60 and v61 are Issue #326 and Issue #327.

[2022-05-06 15:54] PropGit commented on #336
This was solved in v0.14.4 (or earlier).

[2022-05-06 15:54] #336 closed, assigned to nobody

[2022-05-06 15:54] PropGit commented on #334
This is fixed in v0.14.4.

[2022-05-06 15:54] #334 closed, assigned to nobody

[2022-08-01 22:50] PropGit opened #347 "Allow Spin 1 Empty Parentheses"
Update the Spin 1 parser to allow empty parenthesis for methods that do not have parameters so that some libraries can naturally work across both Spin 1 and Spin 2 languages.

[2022-08-08 20:44] PropGit opened #348 "Enhance Block Selection behavior"
Enhance editor so that any multi-line Alt-Block selection will be treated differently as follows:

- Instead of replacing the whole block with what is typed or pasted next, pressing any character or whitespace key simply inserts the character ahead of the block (in a single column that is as high as the block).
- If it's the Backspace key that is pressed, it deletes one column of characters from j