[2015-02-23 18:13] phated opened #1 "Be an installable Chrome application."

[2015-02-23 18:14] phated opened #2 "Include a text editing viewer."

[2015-02-23 18:14] phated opened #3 "Save files into browser storage."

[2015-02-23 18:14] phated opened #4 "Show saved files in a sidebar listing."

[2015-02-23 18:15] phated opened #5 "Allow user to create and open directories."

[2015-02-23 18:15] phated opened #6 "Have app menu for creating, opening, and deleting directories."

[2015-02-23 18:15] phated opened #7 "Allow user to add, rename, and delete files from a directory using a sidebar context menu."

[2015-02-23 18:16] phated opened #8 "Opens with the sidebar displaying last directory accessed."

[2015-02-23 18:20] phated opened #9 "Blink program for BS2"

[2015-02-23 18:25] DarkmatterVale opened #10 "BlocklyProp Support"
Add support for BlocklyProp. I do not know if this is possible.

[2015-02-23 19:05] PropGit commented on #9
Here's a simple Blink LED program for the BASIC Stamp 2 (BS2).  It also outputs a DEBUG stream.
_[GitHub won't let me attach the file, so I've just entered it here, but you'll see that PBASIC comments conflict with the code markdown (the first two comments are part of the code), so I've also provided some links]_

[code]

You can get the code from here:
    https://drive.google.com/file/d/0B0tev9Y

[2015-02-23 19:05] #9 closed, assigned to PropGit

[2015-02-23 21:57] phated commented on #9
I updated the markdown to hopefully get everything contained.  How does that look?  Thanks!

[2015-02-23 22:05] phated commented on #1
We will need to create a `manifest.json` file, `background.js` file and an `index.html` page

[2015-02-24 00:14] jacobrosenthal opened #11 "Research porting parallax programming protocol v1.1"
http://forums.parallax.com/attachment.php?attachmentid=56837

[2015-02-24 00:15] jacobrosenthal opened #12 "bs2 uploader - perform reset sequence"

[2015-02-24 00:15] jacobrosenthal opened #13 "bs2 uploader - perform identify sequence"

[2015-02-24 00:15] jacobrosenthal opened #14 "bs2 uploader - perform program and complete sequence"

[2015-02-24 00:45] PropGit commented on #9
Perfect!  Now I realize I was entering apostrophes instead of back ticks.  Thanks!

[2015-02-24 20:34] jacobrosenthal commented on #9
Note: I ended up using the documented

[code]

[2015-02-24 20:36] jacobrosenthal commented on #11
Bare prototype at
https://github.com/jacobrosenthal/bs2-programmer/

[2015-02-24 20:50] jacobrosenthal commented on #12
Started in on programmer document today and I've got a blocker on reset.

You guys use assert the Break condition.
http://man7.org/linux/man-pages/man4/tty_ioctl.4.html

I've patched it into node-serialport, the native node serial library:
https://github.com/jacobrosenthal/node-serialport#break

And have a prototype uploader ready
https://github.com/jacobrosenthal/bs2-programmer/

But I can't find

[2015-02-25 05:27] PropGit commented on #11
Jacob,

I took a brief look at what you've done so far.  It looks like you've made
fantastic progress!

[2015-02-25 07:12] PropGit commented on #12
That's upsetting.  It seems both Apple and Google don't seem to realize they're missing a rare, but important, functionality in their serial APIs / drivers.

Not as far as the BASIC Stamp is concerned; upon reset (and once the Stamp's interpreter actually wakes up), it's SIN pin (Tx from host) must be asserted for longer than 9 bit periods at 9600 baud for it to realize that a host is trying to ta

[2015-02-25 07:20] jacobrosenthal commented on #12
That MIGHT work. from chrome api:

The requested bitrate of the connection to be opened. For compatibility
with the widest range of hardware, this number should match one of
commonly-available bitrates, such as 110, 300, 1200, 2400, 4800, 9600,
14400, 19200, 38400, 57600, 115200. There is no guarantee, of course, that
the device connected to the serial port will support the requested bitrate,
even

[2015-02-25 07:34] PropGit commented on #12
The FTDI drivers will automatically take a requested baud rate and apply the closest possible baud rate that the chip can perform... in this case, requesting 110 would probably result in 183.1.  That's assuming that the computer is using the FTDI drivers, or some other driver that supports the same functionality for the FTDI chipset.  I think one of my coworkers determined that FTDI drivers were a

[2015-02-25 15:46] #1 closed, assigned to nobody

[2015-02-26 05:55] jacobrosenthal commented on #12
_That's upsetting. It seems both Apple and Google don't seem to realize they're missing a rare, but important, functionality in their serial APIs / drivers._
Please tell them that and star our issue :) We did get some action there today so that might be a good sign:
https://code.google.com/p/chromium/issues/detail?id=461169&q=break&colspec=ID%20Pri%20M%20Week%20ReleaseBlock%20Cr%20Status%20Owner%2

[2015-02-27 04:04] jacobrosenthal commented on #12
I have a test branch up that opens a port at 200, sends a byte, changes the baud to 9600 and sends a byte-- which doesnt work
https://github.com/parallaxinc/ChromeIDE/tree/serialtest

It actually does work with certain other bauds and directions, like 9600 -> 200 and 4800 -> 9600 ..

Before I submit this (new) chrome bug Id like to rule out the ftdi chip
@PropGit Do you guys have a db9 machine lyi

[2015-02-27 04:25] jacobrosenthal commented on #12
Oh and it needs to run Chrome latest obviously :)

[2015-02-27 04:50] jacobrosenthal commented on #12
OK another test, which might make it more likely FTDI's problem not Chrome's
https://github.com/parallaxinc/ChromeIDE/tree/serialtest-open-close

an open, close, open exibits the same characteristics
200   -> 9600 maintains 9600
9600 -> 200 works as expected

[2015-02-28 17:55] PropGit commented on #12
Okay, I did.

You mean, it didn't generate any serial output at all?

The BASIC Stamp will typically reset and wake up in 18 ms after DTR deasserts.  We recommend 2x 18 ms (or 36 ms after DTR deassertion) but we'll take what we can get.  The unknown is how consistently-timed the serial stream will be with the edges of DTR.

Uh oh.

Yes, port opening tends to assert DTR from what I remember, then o

[2015-03-01 08:23] PropGit commented on #12
Okay, my first tests were to resurrect an old serial port test program I wrote for Windows.  I modified it to do the same kind of this you're trying and I watched the signals with my logic analyzer.  I'm using my normal development system, with USB ports and our FTDI FT232RQ-based USB-to-Serial adapter.

I have two good news items to report...
1. I can duplicate most of what you're describing with

[2015-03-02 06:04] jacobrosenthal commented on #12
@PropGit Looks like you were right. I assumed our write callback was upon completion, but by adding >70ms blocking delay after the write before I update the baud settings I have it working now:
https://github.com/parallaxinc/ChromeIDE/tree/bs2-programmer

[2015-03-04 01:23] #2 closed, assigned to nobody

[2015-03-04 19:51] #3 closed, assigned to nobody

[2015-03-04 22:09] #4 closed, assigned to nobody

[2015-03-05 11:38] #5 closed, assigned to nobody

[2015-03-05 21:49] monteslu opened #22 "need to mention build step in readme"

[2015-03-05 21:50] #8 closed, assigned to nobody

[2015-03-06 00:11] #6 closed, assigned to nobody

[2015-03-06 00:11] #7 closed, assigned to nobody

[2015-03-06 20:05] jacobrosenthal commented on #12
I've patched node-serialport upstream to support reset via the BRK control signal which landed tonight as  [node-serialport 1.6.1](https://github.com/voodootikigod/node-serialport/releases/tag/v1.6.1).

In chrome we use a wrapper library called browser-serialport which I actually maintain.  There we're using the fake break via a baud update. Ironically we haven't landed that yet official yet, but

[2015-03-06 20:05] #12 closed, assigned to jacobrosenthal

[2015-03-06 20:11] jacobrosenthal commented on #14
Programming of previously tokenized string supported in [0.1.0](https://github.com/jacobrosenthal/bs2-programmer)

[2015-03-06 20:11] #14 closed, assigned to jacobrosenthal

[2015-03-06 20:12] jacobrosenthal commented on #13
Identify verification for all bs2 board supported in [0.1.0](https://github.com/jacobrosenthal/bs2-programmer)
For querying for an unknown board (ie running all possible options against it) follow https://github.com/jacobrosenthal/bs2-programmer/issues/3

[2015-03-06 20:12] #13 closed, assigned to jacobrosenthal

[2015-03-06 20:14] jacobrosenthal commented on #14
One note, 0.1.0 doesnt support slotted uploads for boards other than the vanilla bs2. Follow https://github.com/jacobrosenthal/bs2-programmer/issues/6

[2015-03-06 20:18] jacobrosenthal commented on #11
[bs2-programmer](https://github.com/jacobrosenthal/bs2-programmer) has been released as [0.1.0](https://github.com/jacobrosenthal/bs2-programmer/releases/tag/v0.1.0) and published to npm as [bs2-programmer](https://www.npmjs.com/package/bs2-programmer)

We demod in in the browser in an older branch of this app https://github.com/parallaxinc/ChromeIDE/tree/bs2-programmer

This sprint didn't require

[2015-03-06 20:18] #11 closed, assigned to jacobrosenthal

[2015-03-09 16:14] PropGit commented on #10
This is definitely in our plans, but for a later phase.  We have a lot of ground to cover first before we can start absorbing functionality such as this.

[2015-03-09 16:43] DarkmatterVale commented on #10
Definitely. We don't even have a release for BlocklyProp yet, and that has to be completed first before anything else can be done.

[2015-03-09 18:54] phated opened #25 "When launching the application, editor view defaults to an empty file."

[2015-03-09 18:55] phated opened #26 "Allow user to save files from the editor."

[2015-03-09 18:58] phated commented on #25
Finished in https://github.com/parallaxinc/ChromeIDE/commit/b557406159e5b7e53f61e18a323b6913ceeff320

[2015-03-09 18:58] #25 closed, assigned to nobody

[2015-03-09 18:59] phated commented on #26
Finished in https://github.com/parallaxinc/ChromeIDE/commit/e4e21eff6f506de8cbbb2fd91f5c68d196d08821

[2015-03-09 18:59] #26 closed, assigned to nobody

[2015-03-09 19:01] phated opened #27 "Sure up UI work from last week."
Including:
- UI Review
- Testing
- Destructive operation confirmation

[2015-03-09 19:02] phated opened #28 "Integrate programmer with IDE."

[2015-03-09 19:04] phated opened #29 "Tokenizing"
Need to research and implement tokenizing of PBASIC code.

Options include:
- Use emscripten to compile tokenizer to JS
- Rewrite the tokenizer in JS
- Send files to a server that tokenizes using C tokenizer

[2015-03-09 19:06] phated opened #30 "Implement a release process."
As stated by @PropGit today, there will probably be a beta release at the end of this sprint, so we want a release process implemented.

[2015-03-09 19:15] phated commented on #22
Closed by https://github.com/parallaxinc/ChromeIDE/pull/24

[2015-03-09 19:15] #22 closed, assigned to urbantumbleweed

[2015-03-09 22:39] phated opened #31 "Linked modules break the webpack build."
I've been working around this by installing a local module using `npm` but I'd like if we could be `npm link`ing instead.

[2015-03-09 22:57] phated commented on #30
Chrome webstore has a REST API - https://developer.chrome.com/webstore/using_webstore_api

I think it would be really cool if Travis published a release to "GitHub Releases" and then to the Chrome Webstore upon creation of a new tag.

[2015-03-10 00:18] phated commented on #30
I've verified that the REST API will work for this process.  The application will need to be created in the Chrome Webstore first, as it needs a description, images, etc and then we can add the ItemID to the release process.

[2015-03-10 01:12] phated commented on #30
Info on using GitHub Releases with Travis CI - http://docs.travis-ci.com/user/deployment/releases/

[2015-03-10 01:58] #31 closed, assigned to nobody

[2015-03-10 02:21] jacobrosenthal opened #33 "Getting a timeout on bootload"
Every randomly we get a timeout when bootloading from inside chrome. So far its been non-reproducible with the same code in node osx. I assume its in chrome serial or browser-serialport (our chrome serial wrapper) layer.

To start I recommend re-scoping the two to see if theres an obvious timing difference

[code]

[2015-03-10 23:32] phated commented on #29
@PropGit can you include David in on this thread?  I'd like to see his steps and results related to emscripten.

[2015-03-10 23:33] phated opened #34 "Release the BS2 tokenizer as open source."
As discussed with @PropGit, we will need this available before the end of Sprint 2.

[2015-03-11 00:27] phated opened #35 "Change leveldown alias to memdown"
This relates to an update in a dependency. ref #27

[2015-03-11 19:49] PropGit commented on #29
I prompted David to jump in here.

I should note that there's a fourth possible option that David mentioned; A JavaScript-based x86 emulator/VM.

In an earlier conversation, David said:
There is a very simple open-source implementation here: https://github.com/copy/v86.

Also, someone wrote a JavaScript program to interpret the assembly mnemonics: http://timhatch.com/projects/jsassembly/index.html

[2015-03-11 21:40] dlcarrier commented on #29
For some background on Emscripten:

Most multi-language compilers, like GCC and LLVM, compile from a given language to an intermediary language then from the intermediary language to the target architecture.  Emscripten compiles the input code using the LLVM compiler, but instead of providing a target architecture, it grabs the compiled intermediary language, (also called LLVM) and wraps a JavaScr

[2015-03-11 22:42] jacobrosenthal commented on #33
The only difference I could find was an extra 2 ms delay (15 to 17ms) between the reset signal and the beginning of the break signal on a 'bad' bootload. I actually cant control that slice of time so I tried @PropGit 's suggestion in #12 of sending the break byte first and so far I haven't seen a bad bootload yet.
Fixed in dep https://github.com/jacobrosenthal/bs2-serial/commit/a7061227f62d44d840d

[2015-03-11 22:45] PropGit commented on #33
Great!  Hopefully the break-immediately-before-reset method works reliably.  I've certainly seen good evidence to support that.

Make sure there's no "coded" delay between the two, only after the reset; it's the best we can hope for unless/until Google supports Break in their serial API.

[2015-03-16 18:23] phated commented on #34
@PropGit what is the status of this?  We are going to need to start implementing this week.

[2015-03-16 18:54] jacobrosenthal commented on #29
TLDR we have a working but not perfect prototype but were blocked on https://github.com/parallaxinc/ChromeIDE/issues/34

Last week wewere able to run emscripten against the tokenizer.cpp file and generate javascript. Full details in this gist https://gist.github.com/jacobrosenthal/92889db5223891a985a8

However there appears to be no official support for passing a struct back. I'm faking it by pass

[2015-03-17 00:34] phated commented on #29
Doing some more digging today, we found the figure on page 7 of the "Using the PBASIC Tokenizer Library v1.2.pdf" that outlines the struct member alignment.  Based on this, we see 5 bytes of spacing in the first 11 bytes of the memory structure.  We've come up with the following JavaScript code to demonstrate the spacing is correct:

[code]

Given this and the fact that the struct elements are 650

[2015-03-17 18:37] PropGit commented on #30
Is it still possible to do this while keeping the application for beta test and "private" on the Chrome Webstore?

[2015-03-17 18:40] PropGit commented on #34
Working on this today.

[2015-03-17 18:49] phated commented on #30
yes

[2015-03-18 03:44] PropGit commented on #29
The tokenizer itself just needs the caller to pass it an address of a long-aligned (4-byte aligned) contiguous memory block (of proper size in bytes) that it can write to.  The tokenizer will write to it based on the designated structure element positions (as indicated in the document) and with byte padding in-between some structure elements as needed to ensure the next logical data element is ali

[2015-03-18 04:11] PropGit commented on #29
I forgot to say that there's a built-in function for testing the structure alignment (and field alignment), called TestRecAlignment.  It's mentioned on after the table on page 7, and described in more detail on pages 9 and 10.  You should call that function and then verify that the data returned in the buffer you delivered matches what's indicated in the table on page 10.

[2015-03-18 05:18] PropGit commented on #29
Wait... maybe not.  I looked at how Version is defined.  I wrote in the document that Version returns an int.  But in the code it's written as STDAPI which is defined in the header as uint8_t if being compiled on Linux.  I don't know why it's defined like this (and can't remember if I did it or if a developer who was helping me with porting issues did it... but may have been me)... now I think it

[2015-03-18 19:33] PropGit commented on #34
For now, I only pushed a light from of the [PBASIC Tokenizer project](https://github.com/parallaxinc/PBASIC-Tokenizer).  The branch to start from is Dev-Version-1.3.  @phated , @monteslu , and @jacobrosenthal , you have push access to this repository.  I will be adding a lot to this project as soon as I can.

[2015-03-19 22:21] phated commented on #34
I believe we can close this now.  Thanks @PropGit

[2015-03-19 22:21] #34 closed, assigned to PropGit

[2015-03-19 22:22] phated commented on #35
This has been completed

[2015-03-19 22:22] #35 closed, assigned to nobody

[2015-03-19 22:28] phated commented on #33
None of us have seen failures since @jacobrosenthal's change.  Closing.

[2015-03-19 22:28] #33 closed, assigned to nobody

[2015-03-19 22:35] PropGit commented on #33
That's fantastic!

[2015-03-20 04:21] jacobrosenthal commented on #29
You're right, I just misnamed it because I wasnt sure of the memory mapping at first.

Now that weve mapped it all up its looking like the last 3 bytes of padding are actually AFTER PacketBuffer. The tests should confirm this.

If you like, you can take a look at the branch Im working on in https://github.com/parallaxinc/PBASIC-Tokenizer/tree/emscripten

My current feeling is theres isn't a use ca

[2015-03-20 08:17] jacobrosenthal commented on #29
@PropGit TestRecAlignment turned out to be a very nice test actually. I THINK the only thing missing currently is the Source-to-Token-Reference Structure and the version problem. Ive added them both as issues to that repo to be dealt with time permitting.

[2015-03-21 23:16] phated commented on #28
This landed in the UI in https://github.com/parallaxinc/ChromeIDE/commit/650af69ed30ec6304f0174e10c3cc2a86ee823fb

[2015-03-21 23:16] #28 closed, assigned to jacobrosenthal

[2015-03-24 02:52] #27 closed, assigned to nobody

[2015-03-24 04:41] phated commented on #29
This has been merged to master

[2015-03-24 04:41] #29 closed, assigned to jacobrosenthal

[2015-03-24 04:42] phated commented on #30
We have this working in travis.  There's some stuff I need to do with @PropGit to add it to the Chrome Webstore and then we can discuss automating the Webstore update

[2015-03-24 04:42] #30 closed, assigned to nobody

[2015-03-24 22:39] urbantumbleweed opened #45 "Update docs to include steps for downloading build from github releases."

[2015-03-25 18:53] phated opened #47 "Communicate to the BASIC Stamp 2 over USB serial connection."
Mainly just receiving of `DEBUG` statements for this phase.

[2015-03-25 18:54] phated opened #48 "Display pane for output unformated serial console data in the UI."
Integrated into the IDE window, probably below the editor.  Always open unless opening/closing works better for the architecture.

[2015-03-25 18:54] phated opened #49 "Serial console data pane is cleared upon download."

[2015-03-25 18:56] phated opened #50 "Display a popup (toast) with unformated compilation error in UI."
Also handle successful downloads.

The error toast shouldn't go away until the user closes it or a download success happens.

[2015-03-25 18:56] phated opened #51 "Display file saved/unsaved state next to filename in sidebar listing."
This could be represented by green and red dots next to filenames.

[2015-03-25 18:57] phated opened #52 "Create ghost files for unsaved changes."
This is the way we will manage unsaved changes to files when switching between files or closing the editor.

[2015-03-25 19:41] #45 closed, assigned to nobody

[2015-03-25 23:10] PropGit commented on #47
Here's some implementation notes.  Items _not_ required for proof-of-concept are marked **FUTURE**, and are included here only as a "heads up" about later needs.

The data is standard RS-232-like asynchronous serial data.
- For "DEBUG" data, it is 8-bit, no parity, 1 stop bit (8, N, 1)
  - For BS2, BS2e, BS2sx, BS2p, and BS2pe, it is transmitted at 9,600 baud
  - **FUTURE:** For BS2px, "DEBUG" dat

[2015-03-25 23:12] PropGit commented on #48
Here's some implementation notes.  Items _not_ required for proof-of-concept are marked **FUTURE**, and are included here only as a "heads up" about later needs.

See issue #47 for related information.

The process is:
- Upon data arrival, output data to display in a left-to-right, top-to-bottom scrolling fashion
  - Data may contain control characters that cause special display behavior
    - ASC

[2015-03-25 23:13] PropGit commented on #50
The download success toast can disappear after a short time.

[2015-03-26 21:10] PropGit commented on #51
After some thought, I think it may be best to use
- an icon of a pencil writing something (red, perhaps) when the file has been edited but unsaved by user
- no icon (just blank) when the file has not been edited (or was saved by the user)

[2015-03-26 21:16] PropGit commented on #10
Ken responded to my query about supporting BASIC Stamp with Blockly with the following, which I interpret as meaning "No... at least, not right now, but we may readdress it again later."  We do however have Propeller support with Blockly, so we may later choose only to bring in Blocky as a language for Propeller in our ChromeIDE.

From Ken:
For the BASIC Stamp? I don’t think so - the PAB WX makes

[2015-03-26 22:04] PropGit opened #53 "Create icons for app"
Create icons for editor project "ChromeIDE."
- 16 x 16
- 48 x 48
- 128 x 128

.png format.

[2015-03-26 22:07] PropGit commented on #53
Can you show me examples of where these icons would appear?  16 x 16 is very constraining; hard to convey much there.  Need to know context.

Also, is it full 32-bit color (24-bit RGB + 8-bit alpha)?

[2015-03-26 22:09] phated commented on #53
I believe places the icons appear are outlined at https://developer.chrome.com/apps/manifest/icons

Yes, full 32-bit color is correct

[2015-03-26 22:35] PropGit commented on #53
Thanks, that helps a lot.

[2015-03-27 00:19] PropGit opened #54 "Spot-test Emscripten-ized PBASIC Tokenizer"
We forgot this one... for Sprint 3, we need to at least spot-check the PBASIC Tokenizer that is Emscripten-ized.  By spot-check, I mean try a few random pre-defined tests, including at least one large PBASIC program, each from the test suite.

If _**all**_ the tests can be performed in Sprint 3, that'd be great, but if time it too tight, let's stick to a small number of tests.

Agreed?

Here's a v

[2015-03-27 00:27] phated commented on #54
This may have to fall in Sprint 4 since we didn't discuss it as a task during the planning meeting.  Let me discuss with @jacobrosenthal

[2015-04-02 18:25] PropGit commented on #45
Confirmed that Quickstart instructions work.

[2015-04-02 23:41] PropGit commented on #53
We've created many icon (ideas) for this app and have settled on these for now.  Can you include these in the repo and in the next builds?

[EDIT: Replaced former icons with these more rounded ones]

![pchip-rounded-128](https://cloud.githubusercontent.com/assets/1266318/6987439/da2b5a8e-d9fb-11e4-9771-6bd462ef670a.png)

![pchip-rounded-48](https://cloud.githubusercontent.com/assets/1266318/698744

[2015-04-05 03:29] #53 closed, assigned to PropGit

[2015-04-06 19:37] PropGit opened #56 "Limits on Browser Local Storage and Temporary Storage"
Browser Local and Temporary Storage is of huge importance to this project.  I like this feature and our use of it so far.

Are there limits imposed on Local Storage from the Chrome Browser?  I just read an article from 2013 that said it's something like 4 MB.

How about Temporary Storage?

Is either Local or Temporary Storage automatically deleted by the browser at any time, or by some user action

[2015-04-06 19:43] phated commented on #56
Chrome applications are allowed 5mb of local storage by default but they can request `unlimitedStorage` as a permission in the manifest to get an unrestricted storage amount.

More information: https://developer.chrome.com/extensions/declare_permissions

[2015-04-06 20:21] PropGit opened #57 "Can Chrome Web Store app be run on Chromium?"
I tried running this on Chromium on a Raspberry Pi, but CWS seems to disallow it (because it's not Google's Chrome distro) and pointing Chromium at the unpacked extension fails to display the Details, Launch, and Reload links.

Is there a way to make it run in this case?

[2015-04-08 17:46] phated commented on #56
@PropGit if we add `unlimitedStorage` to the permissions, can we close this?

[2015-04-08 17:58] phated commented on #51
@PropGit I tried getting your suggestions to work, but couldn't easily within the current implementation of the sidebar and I didn't think it was pertinent to completely redo it.

[2015-04-08 18:02] phated commented on #54
Given the deadline for Sprint 3 is approaching, I'm going to remove this from the sprint.  Also, I am going to mark it as an enhancement because all it will really be doing is being a smoketest that Emscripten is working correctly, which, I believe, is already heavily tested.

[2015-04-08 18:17] PropGit commented on #56
Yes, that seems like the best solution.  Awesome. You can close this issue after adding unlimitedStorage.  Is that done in the manifest?

I should point out though that I expect the file manager code you build (in future revs, not now) to gracefully handle known errors... such as may occur if the system refuses storage or file updates for any reason.  This is part of many needed icing-on-the cake

[2015-04-08 18:31] PropGit commented on #51
Okay, let's focus on other issues at this point.

[2015-04-08 18:32] phated commented on #51
To clarify, I've implemented as originally noted in the issue because it was straightforward to add, but the icons, etc from the suggestion were harder to get right.

[2015-04-08 18:33] PropGit commented on #54
Agreed on Enhancement label and removing from Sprint 3.  We'll need to address it in a later sprint to ensure our overall solution is sound.

[2015-04-08 18:34] PropGit commented on #51
Thanks!  I was wondering that and hoping that was the case.

[2015-04-08 18:37] phated commented on #56
@PropGit correct, it is done in the manifest.

[2015-04-08 21:06] #51 closed, assigned to nobody

[2015-04-08 21:06] #52 closed, assigned to nobody

[2015-04-08 21:38] PropGit opened #60 "Consider and Utilize Parallax Theme Colors"
Since this is destined to be a "Parallax" branded development environment (company-centric rather than product-centric), we'd like to carefully consider color palette for it's skin.

We have a Parallax "theme" color palette that we use on our website and many product materials and we'd like to apply this where appropriate to this IDE.  Variations may be discussed, considered and applied depending

[2015-04-08 21:47] #56 closed, assigned to nobody

[2015-04-09 00:31] urbantumbleweed commented on #57
Hmm, it looks like I have it working on my end.  I wonder what version of Chromium you are using? That could be the issue as there where problems with google V8 and ARM processors that were only recently fixed. So, definitely be sure you have the latest chromium for the Raspberry Pi.

I didn't have any problems running this on mac.
Here is some information about my system at the time I was able to

[2015-04-09 00:55] #50 closed, assigned to nobody

[2015-04-09 04:49] PropGit commented on #12
+jacobrosenthal Did you see that someone replied with code to the Google issue you submitted?

Comment #6 on issue 461169 by clivepau...@gmail.com: Serial api doesnt support sending Break
https://code.google.com/p/chromium/issues/detail?id=461169

If someone would like to have a go at adding this essential RS-232 standard feature as something like

chrome.serial.setBreak(integer connectionId, bool

[2015-04-09 05:37] jacobrosenthal commented on #12
I did! Hoping for a google reply so we know where their head is on the issue.

[2015-04-09 19:13] phated commented on #48
@PropGit I am not seeing the control characters coming across with the content from the `debug` statement.  I have an open question to @jacobrosenthal related to this, but any insight would be helpful.

[2015-04-09 23:31] PropGit commented on #48
Maybe there's a misconception here... does the DEBUG statement have control characters listed in the code?  It doesn't output control characters unless told to.

For example:

[code]

will output an ASCII 13 character after the "This is a test" text.

[code]

will output an ASCII 0 character after the "some text" text.

[2015-04-09 23:33] phated commented on #48
Thanks.  We got it figured out awhile ago.  Sorry for not updating the thread.

[2015-04-09 23:34] PropGit commented on #48
No problem.  I've been busy with other projects for the last 5 hours or so and just didn't get to this until now.

[2015-04-10 03:46] #47 closed, assigned to jacobrosenthal

[2015-04-10 03:46] #48 closed, assigned to jacobrosenthal

[2015-04-10 03:46] #49 closed, assigned to jacobrosenthal

[2015-04-10 05:11] PropGit commented on #57
Good point.  I'll check those things and update this thread when I can.

[2015-04-11 06:18] PropGit opened #66 "Fast data causes performance issues and apparent lock-up"
Sending data faster than a certain rate (and maybe when combined with more than a certain number of received lines) causes v0.2.0 to slow down to a crawl.

On my computer, this code started causing the behavior around loop 250 and get's really bad around loop 350.  It appears to be a cumulative effect on display refresh rate and CPU usage.  The app appears to lock up, but it's actually very busy-

[2015-04-11 06:35] PropGit opened #67 "PBASIC Tokenizer Failures"
I think there is some kind of problem in the delivery of the source code to the tokenizer.

NOTE: Plug in a BASIC Stamp, but DO NOT POWER IT for the following tests
1. Copy and paste the code below into the editor.
2. Attempt to Download
   - Error: 156- Unknown target module
   - The code is actually syntactically correct, this is a bogus error... continue with the steps below
3. Make the code a

[2015-04-11 18:56] PropGit commented on #67
Found a programming clue:  The source code above is exactly 256 bytes in length (when assuming single-byte characters, new lines and end-of-source marker).

[2015-04-11 23:21] PropGit opened #68 "For Review: What Features Parallax Customers Are Used To"
Now that proof-of-concept is done and we're switching to the next phase, feature and design considerations for the user experience are more important.

To give you a feel for features Parallax customers currently have in our legacy software I've prepared some short videos for your review.  Most are around 30 to 80 seconds long.

**IMPORTANT: This is for context and consideration purposes; meant to

[2015-04-12 16:27] PropGit opened #69 "Undo/Redo Buffer Spans Across Files"
**Problem:**
The Undo/Redo buffer operations span across files instead of tracking changes only in the current source in view.

**How to duplicate?**
1. Start a new project
2. Create a new file (call it "1")
3. Create a new file (call it "2")
4. Switch back to 1 and enter "123" in the editor
5. Switch to 2 and enter "234" in the editor
6. Switch back and forth between them a few times
7. Make some

[2015-04-16 16:55] PropGit opened #70 "Keyboard Shortcut Interactions"
Do you know if Chrome OS keyboard shortcuts override/collide with a Chrome App's shortcuts, or vice versa?

NOTE: [Issue #93](https://github.com/parallaxinc/ChromeIDE/issues/93) is loosely related.

[2015-04-26 02:57] PropGit opened #71 "BASIC Stamp Syntax Style Details"
Here's some detail about PBASIC Syntax Styles.

As I said in our hangout, the reserved-word list (which includes every element that need be syntax highlighted) is a dynamic list that changes depending on the exact module (BS2, BS2e, BS2sx, etc.) as well as the version of the PBASIC Language (2.0 or 2.5) that the code is actually written for.  The mode of operation for the app is to invoke the GetR

[2015-04-26 03:09] PropGit commented on #71
Here are the reserved words for the BS2 stamp with PBASIC 2.5.  Sorry, this list doesn't include the types or each reserved word- you'll have to get that by calling GetReservedWord from the tokenizer on source code that contains the `'{$STAMP BS2}`  and `'{$PBASIC 2.5}` directives.

[code]

[2015-04-27 16:24] PropGit commented on #66
Here's a video demonstrating this problem.  https://drive.google.com/a/parallax.com/file/d/0B0tev9Y3WaL4SEFmSlRYNEg2Njg/view?usp=sharing

[2015-04-27 16:30] PropGit opened #72 "How is code handled/stored in Local Storage and Temporary Storage?"
Can you explain in detail how the user's source code (currently PBASIC) is being handled and stored in Local Storage and Temporary Storage?

As noted in our last meeting, I have some ideas for handling this in a way that is both simple and powerful; inspired by the work you've already done, or at least the perceived way it works.  Knowing what's possible and what the limitations are will help imme

[2015-04-30 02:07] PropGit commented on #71
In the DScheme array (code in the first posting), the elements describe the formatting for particular types.  For example:

[code]

This indicates that the "PBASIC" style for "Conditional Compile Directives" is a font color of $808080, a background color of _default_ ($1000000), a character style of bold ($01), and a case style of upper case (1).

The _default_ is indicated by the MSB of the secon

[2015-05-08 21:56] PropGit opened #73 "Support for BASIC Stamp Identification and display"
Add function to perform _only_ a BASIC Stamp Identification, and display the progress and results.

The Identification is achieved as the first part of the download protocol (ie: most of the work has already been achieved at the protocol level to enable this feature) but the process simply needs to stop short of the actual download.  The download protocol documentation describes what to do for the

[2015-05-08 22:15] PropGit opened #74 "Automatic scanning of each port for micros when identifying/downloading"
Each time the user starts an Identification or Downloading process, the app will:
- Display a progress window
- Determine what communication ports currently exist
- Show the existing ports on the progress window
- Iteratively open each port and scan it for all possible microcontrollers supported
- Update the progress window along the way to show activity and status on each port

"Scan" means perfo

[2015-05-08 22:23] PropGit opened #75 "Debug Terminal: Support for all defined characters"
Add support for all defined characters (visible and control characters) as defined in the **Transmit Pane** and **Receive Pane** sections of the [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing) document.

[2015-05-08 22:28] PropGit opened #76 "Debug Terminal: Add Transmit Pane"
Add Transmit pane to support host-to-microcontroller transmissions as defined in the **Transmit Pane** section of the [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing).

For BASIC Stamp's PBASIC language, this feature supports instructions DEBUGIN and SERIN.

[2015-05-08 22:32] PropGit opened #77 "Debug Terminal: User-settable baud and port"
Add port and baud rate settings for the Debug Terminal.

The port to which the terminal is attached, and its baud rate, should be indicated somewhere near the terminal itself.  The values are adjustable by the user at any time.

More information may be read in the **Settings** section of the [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=s

[2015-05-08 22:35] PropGit opened #78 "Debug Terminal: Tx/Rx Indicators"
Add Tx and Rx activity indicators for the Debug Terminal.

The Tx (transmit) and Rx (receive) indicators should be somewhere near the terminal itself.  They each individually flash once for every block of data transmitted or received.

More information may be read in the **Settings** section of the [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edi

[2015-05-08 22:43] PropGit opened #79 "Debug Terminal: Automatic (event-driven) port arrival/departure handling"
Gracefully handle USB-based Virtual COM Port arrivals and departures.

The legacy serial port support that is also used for USB-based Virtual COM Ports may act in undesirable ways if the application has the port open when unexpectedly is it physically disconnected (causing the port to disappear from the system).  On Windows, this often resulted in preemptive process lock-out.

  1) Test what happe

[2015-05-10 22:41] PropGit opened #80 "Resizable Panes & View/Hide"
Users will experience Chrome IDE on many devices with drastically different screen sizes and resolutions.  Additionally, as the user walks through their workflow, certain features will be more important than any other for a temporary time.

For these reasons, most features sharing the same screen real estate need to be resizable or have a simple view/hide functionality that allows the user to quic

[2015-05-10 23:29] PropGit opened #81 "Quick-Access Buttons"
There are certain features used very often and thus the user needs to have a very quick way to access them.
- Keyboard shortcuts for devices with a hardware keyboard are great.
- Buttons are great for users that don't like keyboard shortcuts, or on devices that lack a hardware keybaord.

Suggested buttons, in order of frequency of use, are:
- Syntax Check
- Run
- Identify
- Stamp Mode
- PBASIC Lan

[2015-05-10 23:40] PropGit opened #82 "Progress Display (during Identification or Run (download))"
It's vital that the Chrome IDE display active progress status during Identification and Run (download) processes; without them, there's often no visual or audio feedback for the user.  This is also critical for diagnosis purposes as hardware connection issues can be elusive.

Examples of this active progress status are in the [Handling Multiple Stamps](https://drive.google.com/a/parallax.com/file/

[2015-05-10 23:51] PropGit opened #83 "Import/Export between local storage and drive/downloads, USB drives, Google Drive, Email"
Local storage is great!  It safely handles the source code in a way the maintains the integrity of the application.

However, users will occasionally want to back up their projects or share their work with others.  For this reason, Chrome IDE needs a way to export and import code/projects between local storage and their system drive ("downloads folder in Chromebook) or USB drives as well as Google

[2015-05-10 23:59] PropGit opened #84 "Sync File System Support"
Google integration is highly desired.  This would naturally allow the user to use their Google account to have real-time access to project files from multiple devices.

Some kind of Google-supplied, or seemingly-Google-supplied, cloud support is what is meant here; not necessarily Google Drive.  It's important that the cloud support be easy and natural so the user doesn't even have to think about

[2015-05-11 00:05] PropGit opened #85 "PBASIC Syntax Highlighting"
Add PBASIC Syntax Highlighting as described in [Issue 71](https://github.com/parallaxinc/ChromeIDE/issues/71).

NOTE: True PBASIC Syntax highlighting also changes the case of the symbols in the source code, and also causes those changes to be saved in the file (as if entered that way by the user).  Since that is probably beyond what is readily available in the Chrome IDE edit control, we will glad

[2015-05-11 00:06] PropGit commented on #71
NOTE: Case-modification is likely to be non-trivial.  Case-modification is deferred to a later time.  See [Issue 85](https://github.com/parallaxinc/ChromeIDE/issues/85).

[2015-05-11 00:14] PropGit opened #86 "Editor and Debug Terminal Zoom (font sizing)"
The editor and terminal are the focal point of most user's development efforts in Chrome IDE.  As such, exploration of the source code and run-time information contained in each needs to be comfortable, including the ability to easily zoom in and out of each control (as well as just resizing the display itself).

For devices with hardware keyboards and a mouse, shortcut combinations like Ctrl-Mous

[2015-05-11 00:17] PropGit opened #87 "Unlimited line length (click beyond line end)"
Add ability to click and navigate beyond any end of line.  This allows easy navigation as well as manipulating right-justified comments.

This was discussed in the **Editor > unlimited line length** section of the [Chrome IDE Phase 2 Discussion Notes](https://docs.google.com/document/d/1lKBstygUt17s0X4s2q4nKF9Zc8pQdPDV-Zq6QeNqZ5A/edit?usp=sharing) document.

Here's some other discussion about this

[2015-05-11 00:53] PropGit opened #88 "Add Keyboard Shortcuts"
For devices with hardware keyboards, keyboard shortcuts are critical to ease-of-use for the intermediate and expert developer.

This was discussed in the **Editor > Keyboard Shortcuts** section of the [Chrome IDE Phase 2 Discussion Notes](https://docs.google.com/document/d/1lKBstygUt17s0X4s2q4nKF9Zc8pQdPDV-Zq6QeNqZ5A/edit?usp=sharing) document.

There are certain often used shortcuts, and a few ot

[2015-05-11 00:55] PropGit opened #89 "Start session where last left off"
[This is a reversal of my decision a while ago]

We'd like each session to start off where the last session left off; just like mobile device apps.

In other words; each new session starts with the last used file, navigated to the last view within that file, in the editor.

[2015-05-11 00:57] PropGit opened #90 "Update User Prompt Messages"
Request that user prompt messages be made consistent with existing BSE, with some exceptions to be considered.  This is just a consistency thing; we've not defined any of this for you, but we will give you details of the messages for certain prompts and toasts.

This includes error messages, user prompts, status messages, progress messages, etc.

Please contact Jeff when near-ready to address this

[2015-05-11 01:15] PropGit commented on #88
This relates to a question, in [Issue 70](https://github.com/parallaxinc/ChromeIDE/issues/70).

[2015-05-11 19:55] PropGit opened #91 "File/Project View Re-envisioning"
Let's consider and discuss our target UX design.

I'd like us to change how projects and files are accessed, viewed, and manipulated to make it more device agnostic.

We should take the existing project view pane (left side of app in v0.2.0), collapse it (out of the way) and move it to appear from the top of the app (title/button bar).  Also, we should display the project and object title, which m

[2015-05-11 20:00] PropGit opened #92 "Menu system"
UX design addition: a menu system.

The idea is to provide a scrollable menu pane that slides out from the left side, accessible via a menu button (top-left of app) or via click or click-drag / slide gesture (on gesture-input devices).

Here's a [demo video of Inbox](https://drive.google.com/file/d/0B0tev9Y3WaL4clM3bXB4Q3NBYWM/view?usp=sharing) showing a great example of implementation and also a

[2015-05-11 23:57] PropGit commented on #82
Here's an [Identify and Run video](https://drive.google.com/file/d/0B0tev9Y3WaL4TjBxN2VsWFNPVGs/view?usp=sharing) that better demonstrates the kind of visual feedback and information were looking for during an Identification or Download process.

[2015-05-12 19:05] PropGit opened #93 "Keyboard Shortcuts on tablets with Wireless Keyboards?"
Once Chrome IDE works on mobile devices (that do not have a fixed hardware keyboard), will all the keyboard shortcuts we add in naturally be ignored (no conflicts) for normal use?  Also, will those same shortcuts naturally become available if the user pairs their device with a wireless (Bluetooth) keyboard?

NOTE: [Issue #70](https://github.com/parallaxinc/ChromeIDE/issues/70) is loosely related.

[2015-05-12 19:35] PropGit commented on #79
UPDATE:  Testing on Windows.

On Win 7 64-bit, when Chrome IDE has downloaded and is successfully receiving data from the BASIC Stamp, disconnecting the USB port doesn't cause a visible problem immediately; however, the port remains open and presumably Chrome IDE's handle is invalid.
- Disconnecting USB port while in use causes no visible issue
  - Chrome IDE still functions and can download to ot

[2015-05-12 21:17] PropGit commented on #67
I just saw the pull request on PBASIC-Tokenizer.  I'm saying "Yes, yes, yes!  Thank you!"  I figured it was something like that!  Keeping my fingers crossed now.

[2015-05-13 03:06] PropGit commented on #54
**[From 2fast2fourier]**

I've started on [this issue], and I've placed an initial implementation of this test suite in the 'testsuite' branch of the PBASIC-Tokenizer repo. It depends on the SourceSize PR, so it won't run on a fresh build until that is merged.

Right now execute every test case in the test file. For each test it will compile the source, and verify that 'Succeeded' matches the PASS

[2015-05-13 03:07] PropGit commented on #54
That's fantastic progress!  I understand the high potential for false positives.

Okay, that's test number 815.

The error you're getting doesn't make sense in terms of just pure code syntax because that ErrorStart location it reports (5516) is right in the middle of the LOOKUP command (keyword).

Those "strange characters" are part of the ASCII character set, but they are in the Latin-1 extension

[2015-05-14 23:57] phated commented on #67
@PropGit we are getting these merged today.  Do you think we should do a v0.2.1 to get this bugfix in a published version?

[2015-05-15 16:52] jeffam70 commented on #67
Oh wow, yes please!  That would be fantastic!

[2015-05-15 17:32] phated commented on #54
The one outstanding test case that has problems has been documented at https://github.com/parallaxinc/PBASIC-Tokenizer/issues/7  - closing this issue.

[2015-05-15 17:32] #54 closed, assigned to 2fast2fourier

[2015-05-15 17:33] jeffam70 commented on #54
To follow-up on my previous post:

Regardless of source code encoding employed in file/database/internal, the source that is passed to the tokenizer must be ANSI encoded (single-byte characters) where:
- Any single or multi-byte character that represents a specific ASCII character (0-255) is converted to a single-byte 0-255 value, and,
- Any multi-byte character that represents a non-ASCII charact

[2015-05-15 17:40] phated commented on #67
This has been released as 0.2.1 - https://github.com/parallaxinc/ChromeIDE/releases

Closing.

[2015-05-15 17:40] #67 closed, assigned to 2fast2fourier

[2015-05-15 23:26] PropGit opened #94 "Preprocess Source to Send to PBASIC Tokenizer"
Assuming the Chrome IDE editor will naturally allow entry of non-ASCII characters (ie: Unicode code points > 255) and/or that file/database/internal storage may encode the source in multi-byte format, the source code needs to be preprocessed before sending on to the PBASIC Tokenizer.

The source that is passed to the tokenizer must be ANSI encoded (single-byte characters) where:
- Any single or mu

[2015-05-15 23:55] PropGit commented on #73
Here's a video demonstrating the [Identification display](https://drive.google.com/file/d/0B0tev9Y3WaL4UDRpWkxaU2xoRE0/view?usp=sharing), which also serves double-duty as the Download progress display.

[2015-05-15 23:57] PropGit commented on #82
Here's a video demonstrating the [Identification display and later the Download Progress display](https://drive.google.com/file/d/0B0tev9Y3WaL4UDRpWkxaU2xoRE0/view?usp=sharing).

[2015-05-15 23:58] PropGit commented on #66
Here's another video that demonstrates [Debug Throughput at 38.4 kBaud](https://drive.google.com/file/d/0B0tev9Y3WaL4NzZWM0lfeWRkSjA/view?usp=sharing).  It can smoothly handle faster rates too; rendering only what is visible in the window, and updating on an event-driven basis, rather than a polled basis, so that the display is smooth and responsive.

The video's capture rate make is look much slo

[2015-05-18 21:50] monteslu commented on #85
@PropGit got the first pass at recognizing all the reserved words, handling indentation correctly in if-elseif-endif, do-while blocks, etc.  As well as correctly recognizing comment blocks.

![syntax](https://cloud.githubusercontent.com/assets/423800/7691126/e8ee5aa0-fd6c-11e4-852a-0225583e2dd2.png)

I could use some advice on matching the colors described in #71 to hex colors so that we can updat

[2015-05-19 05:29] urbantumbleweed commented on #70
With most of the keyboard shortcuts completed I have at least a tentative answer that seems correct in most situations regarding your question on overriding/colliding.  Most of the shortcuts you have sent to us do not overlap with those defined for ChromeOS so we been significantly obstructed yet.  We have found that in some cases you need to enable or disable default behavior. Other keyboard comb

[2015-05-19 05:33] phated commented on #88
I believe that most/all of the functionality that we currently have in the IDE is mapped to the correct key commands now.  Leaving for @urbantumbleweed to list and verify the implemented key commands below and then close this issue.

[2015-05-19 17:07] PropGit commented on #71
Here's a more clearly-defined set of syntax highlighting metrics for PBASIC.

**Notes**
- Color values are given in 24-bit hexadecimal RGB format ($RRGGBB)
- _Default_ Font Color is Black ($000000) and _default_ Background (Bg) Color is White ($FFFFFF)
- Syntax Type matches that of the Delphi code shown in previous posts
- Element Type matches the GetReservedWords returned element types where it a

[2015-05-19 17:27] PropGit commented on #85
@monteslu and @drquinn I'm not positive I know what advice you need, but I just posted more clear syntax metrics in post# 5 of Issue #71.

In the colored example you provided,
- the `Rnd`, `LED1`, and `GetRandom:` are a user-defined symbols, they don't match any reserved words, so the SynDefault gets applied (black font on white background, plain font style, no case change).
- `VAR` and `PIN` are

[2015-05-19 17:33] PropGit commented on #70
Thanks @urbantumbleweed.  Hopefully we don't run into a big problem that is difficult to resolve.  The Tab issue concerns me.

[2015-05-19 18:34] urbantumbleweed commented on #88
## Update:

 There are 6 keystroke combinations from the list above that are problematic on a ChromeBook. I have not yet verified that valid combinations can invoke a handler without other side-effects; that is the next step.

The 6 combinations that aren't working are:
CTRTL-Home - The home key does not exist and needs an alternative, maybe CTRL-'
CTRL-End - The End key does not exist and needs a

[2015-05-19 19:19] PropGit commented on #88
**[CURSOR+ENTER - The 'Enter' key is not a modifier so key events are not registered together so this combination is not possible. We are assuming that CURSOR means UP and DOWN.]**

You must be talking about "Cursor + enter keys navigate and select files" ?

If so, that's my fault for being unclear.  I meant, the UP and DOWN (cursor) keys visibly highlight files in the Project/Files view, and then

[2015-05-19 19:22] PropGit commented on #88
**[CTRL-T - This combination is used to create tabs and does conflict.]**

Can we override it?

**[CTRL-W - This combination will close the window]**

Where did I define Ctrl-W?

[2015-05-19 19:24] urbantumbleweed commented on #73
Can you provide feedback about what is a reasonable timeout period for this process?

[2015-05-19 19:29] PropGit commented on #88
**[CTRL-+ - This is a ChromeOS combination binding to control window size
CTRL-_ - This is a ChromeOS combination binding to control window size]**

This appears to control the zoom level of the browser contents on my Chromebook.  Is that what you meant?

It doesn't seem to do anything when ChromeIDE is active... is it really causing a problem?  Can we override it?

If we can't override it (or it

[2015-05-19 19:32] PropGit commented on #88
**[CTRTL-Home - The home key does not exist and needs an alternative, maybe CTRL-'
CTRL-End - The End key does not exist and needs an alternative, maybe CTRL-/]**

The solution to this is (from an earlier email):

I assume you mean that the HOME and END key shortcuts will still work on Win/Mac/Linux, but we need to find something else that gets substituted in when run on Chromebook.  Is that right

[2015-05-19 19:38] urbantumbleweed commented on #73
### Background

In the application we anticipate using scanning the for the presence of several board types. Additionally, on a computer there are potentially many ports we need to scan.

Currently we have set a 1 second timeout to search for a board on a port.  This translates to 1 second per board/port possibility.  This delay period will grow as there are more ports to search and additional boa

[2015-05-19 19:55] urbantumbleweed commented on #82
We need your guidance on the implementation of the progress display.  We have a couple option for you to consider.

### Options

1) Present port list that updated as process runs OR
2) Present an indeterminate progress bar  until the process is complete and show a complete port list.

### Considerations

Option 1 is more difficult to implement and will not be completed by the demo because it will

[2015-05-19 20:18] PropGit commented on #73
Please explain how the timeout is applied?  Is it a drop-dead timeout that overrides and terminates the search process for that particular port?  Is it meant to prevent app lock-up, or is it really meant to apply to waiting for a response from the board?

If it's meant to apply to waiting for a response from the board (of which there are many possibilities) it does indeed need to be as short as po

[2015-05-19 20:36] PropGit commented on #82
This is an interesting situation.  The answer's yes and no.

We much prefer Option 1 ideally, because it gives informed visual feedback for cases where there's an unexpected delay (sometimes caused by the OS negotiating with the USB device or installing the driver, or other strange behavior) and the rare but occasional case where the OS actually preempts and never responds because of some system i

[2015-05-19 21:23] urbantumbleweed commented on #88
It turns out that we in my tests I needed to prevent default behavior.  There are currently no issues with for the following combinations.
CTRL+SEARCH+LEFT
CTRL+SEARCH+RIGHT
CTRL-+
CTRL-_
CTRL-T

My apology, the CTRL-W is not listed and I was testing it as a known binding in ChromeOS.  It too is now being overridden in our tests.

CURSOR followed by ENTER is not currently implemented. How will thi

[2015-05-19 22:06] PropGit commented on #88
Oh good.  No problem.

For CURSOR followed by ENTER sequences, that only applies when the Project/File view has focus; otherwise, CURSOR and ENTER keys do the normal editing thing.

[2015-05-19 22:21] #85 closed, assigned to drquinn

[2015-05-19 22:24] urbantumbleweed commented on #88
Here is the status on the individual keyboard shortcuts.

### Editing

**works** Ctrl-A - Select all text in current source code
**works** Ctrl-C - Copy selected text to the clipboard
**works as Find** Ctrl-F - Find or replace text
**works** Ctrl+Shift+F - replace text
**works** Ctrl-V - Paste text from clipboard to selected area
**works** Ctrl-X - Cut selected text to the clipboard
**works** Ctrl

[2015-05-19 22:32] urbantumbleweed opened #97 "Rename Syntax css file to 'PBASIC.css'"
There are other syntax types that will be introduced later so the Parallax.css name is not appropriate.

References issue #85

[2015-05-19 22:37] PropGit commented on #88
Does Tab / Shift+Tab insert/remove 2 space characters?  If not, we'd like it to insert spaces to line up with absolute multiples of 2 characters (column 3, 5, 7, 9, 11; assuming leftmost column is column 1).

[2015-05-19 22:39] urbantumbleweed commented on #97
This issue is closed because the file in question is for a theme and not syntax.  The file for the syntax is correctly named pbasic.js.

[2015-05-19 22:39] #97 closed, assigned to drquinn

[2015-05-19 23:18] urbantumbleweed commented on #70
Please see the response on #88

[2015-05-19 23:18] #70 closed, assigned to urbantumbleweed

[2015-05-19 23:25] urbantumbleweed commented on #88
Although multi-line functionality is partially working, as a development is considered a new issue (it wasn't spec'd) and will be addressed after the demo.

Shift-Tab removes 2 spaces as expected on Mac but is collapsing to column 1 in Chrome.  'ChromeOS support' will become a label so we can address this and other similar cases new issues.

[2015-05-19 23:25] #88 closed, assigned to drquinn

[2015-05-21 01:57] #73 closed, assigned to 2fast2fourier

[2015-05-21 01:57] #74 closed, assigned to 2fast2fourier

[2015-05-21 19:11] #89 closed, assigned to nobody

[2015-05-21 23:25] phated commented on #82
Completed by #100

[2015-05-21 23:25] #82 closed, assigned to 2fast2fourier

[2015-05-22 01:58] #66 closed, assigned to 2fast2fourier

[2015-05-22 20:03] 2fast2fourier commented on #66
We just landed another change that reduces the performance penalty when running a very-fast debug output loop (<10ms).

The change rate-limits the expensive HTML update portion of console output. Currently, if data events arrive at a very high speed, the console will attempt to display each update as it comes in. With this change, we will throttle events if they occur too quickly, but ensure that

[2015-05-29 16:06] PropGit commented on #89
Verified that source appears on new sessions exactly as it was left last, regardless of whether it was saved or not.  Excellent!

[2015-05-29 16:12] PropGit opened #104 "File dialog doesn't capture and process all keys"
**Problem:**
New file dialog let's Tab and Shift+Tab key events pass through to the editor; changing the code unexpectedly.

Also, Ctrl+S passes through, and probably many others.

**Solution:**
When a _modal_ dialog is displayed, all key combinations should be captured and processed with respect to that context, muting (nullifying) any key combinations that do not have a specific intended use in

[2015-05-29 16:25] PropGit opened #105 "File dialog doesn't allow keyboard navigation or resolution"
**Problem**
There's no default button indicator.

New file dialog doesn't respond to Enter key.  It's naturally expected that pressing Enter on this dialog will activate the "Create" button's function.

The Esc key does indeed seem to "Cancel" the dialog; this is great!  Alt+F4 (which also commonly closes dialogs; in Windows at least) actually closes the entire application.

Pressing the Tab key t

[2015-05-29 16:32] PropGit opened #106 "File dialog should set focus on filename field automatically"
The New File dialog should put focus on filename field automatically once opened.

Request: A very slight delay (after dialog appearance) followed by a focus-event animation (perhaps an expanding and translucent-fading circle on the field) to simulate the appearance of a user click/touch on the field, followed by the existing "filename" label slide-shrink animation.

If it's possible for a previou

[2015-05-29 17:01] PropGit opened #107 "New source function"
**Problem**
Currently, entering source in the first session's blank editor presents no problem, until you go to save it, which presents an "EISDIR, illegal operation on a directory '/new-project' error.

**Solution**
The common workflow in BSE and PT does not require a user to create (and decide on a name for) a new source code file before entering source code in the editor (although it's an optio

[2015-05-29 17:06] PropGit opened #108 "Add Save As function"
Add a Save As function to save the current source as a new file, possibly even in a different project.

[2015-05-29 17:27] PropGit commented on #85
Verified all reserved words are syntax highlighted correctly, except DEBUGIN... this is because I mistakenly labeled it as an etConstant.

[2015-05-29 20:38] PropGit opened #109 "Adjust Syntax Highlighting"
Please change to the following:
- DEBUGIN should be treated as etInstruction (I mistakenly listed it as etConstant in Sprint Issue #71)
- Change text selection colors to white ($FFFFFF) font on navy ($000080) background as defined in Issue #71)
- The outline on the currently found item (when doing a Find operation) is too hard to see; it needs to contrast with the black background better.  Maybe a

[2015-05-29 20:40] PropGit opened #110 "Found Match Animation"
Can the currently selected match, among possibly many matches in a find operation, be made to animate upon selection, like it does in Google Docs?  This is eye catching which helps greatly.

[2015-05-29 20:49] PropGit opened #111 "Line numbers collide with vertical line"
It seems the right-shift of text in the editor doesn't move over far enough for longer listings.  When it reaches > 99 lines, the higher-numbered lines' line number indicators overlap the vertical separator line between the editor and the project/file list.

The effect is most visible at lines in the 300s.  It's uncomfortably close to the fading shadow effect.

Here's a screenshot:

![image](https

[2015-05-29 23:57] PropGit commented on #88
**Ctrl-Tab and Ctrl-Shift-Tab**
As implemented in v0.3.0, it's not exactly what I indended.  The intent was to provide navigation to the next or previous file recently opened.  In other words, imagine the app is a multi-tabbed browser, but without the tabs.  But even without tabs, the Ctrl-Tab and Ctrl-Shift-Tab combinations switch the edit view to the next or previous source that is opened.

[2015-05-30 00:05] PropGit opened #112 "Next Keyboard Shortcuts"
The following are more keyboard shortcuts to implement.  Some are leftover from Issue #88 and others are new.

**Editing**
- Tab - Indent block (Inserts spaces to align with absolute multiples of 2)
- Shift-Tab - Outdent block (Deletes spaces to align with absolute multiples of 2)
- F4 - Replace current found selection
  - Once a find is done, there may be multiple selections and one active found

[2015-05-30 00:06] PropGit opened #113 "Implement Memory Map Feature"
[This is a placeholder so we don't forget to implement this feature.  The details will be placed here before we attempt solving this issue.]
- F8 or Ctrl-M - Tokenize and open Memory Map display.

[2015-05-30 00:15] PropGit commented on #73
Can not get Chrome IDE to recognize my BASIC Stamp any more.  It seems to hold the port open also; the BASIC Stamp Editor is unable to open the port after Chrome IDE has touched it.  Need to remove and reconnect the board to allow the BASIC Stamp Editor to open the port.

[2015-06-01 23:38] urbantumbleweed opened #114 "ChromeIDE intermittently does not recognize BASIC STAMP"
Related to [this comment](https://github.com/parallaxinc/ChromeIDE/issues/73#issuecomment-106965883) on #73.

[2015-06-02 17:26] phated opened #115 "Apply flux architecture patterns to remove state from views"
The library I've been using is https://www.npmjs.com/package/alt

[2015-06-02 20:23] PropGit commented on #114
I've run into this issue myself and am trying to duplicate and diagnose this.

[2015-06-02 23:05] PropGit opened #116 "Filter out all 'cu' ports"
Remove (filter out) all 'cu' type ports from the COM port list any time the list is presented to the user.

[2015-06-02 23:07] PropGit opened #117 "Add firmware rev column to the device information in port list"
Add microcontroller's firmware revision information (in a separate column) to the port list when doing identification and downloads.

[2015-06-02 23:19] phated commented on #116
Should this also address Bluetooth ports?

[2015-06-03 00:18] PropGit commented on #116
For now, yes.  We do have some people that use a bluetooth device to program the BASIC Stamp wirelessly, but it's rare.  We'll readdress the filtering scheme again later to allow the user more control over this.  For now, just filter out all 'cu' and bluetooth ports.

[2015-06-03 00:26] 2fast2fourier commented on #116
I think we can safely ignore the `Bluetooth-Incoming-Port` and `Bluetooth-Modem` OSX virtual devices, they shouldn't ever represent a BS2 and can cause a delay when opening the port. Bluetooth serial devices (SPP) should come up under a different name, I'll verify this with a BT serial adapter I use for MCU comms.

[2015-06-03 00:30] PropGit commented on #82
It appears Option 2 was chosen.

[2015-06-03 01:48] PropGit opened #118 "Enumerate and scan ports upon opening Identification/Download dialog"
[Related to issue #74]

Make the Identification and Download dialog enumerate and scan all ports upon display (activation).

The "Reload Devices" button can still be used later by the user, but should not be required at the start.  Note this button is renamed by issue #119.

[2015-06-03 01:52] PropGit opened #119 "Rename Identify/Download Dialog's "Reload Device""
- Change "Reload Devices" button to "Refresh"
- Change Identification/Download dialog's "Name" field to "Device"
- Change "Path" field to "Port"

[2015-06-03 02:55] PropGit opened #120 "Tab key indents selected block"
Implement multi-line selection indention via tab key.
- Tab - Indent block (Inserts spaces to align with absolute multiples of 2)

[2015-06-03 02:56] PropGit opened #121 "Shift-Tab outdents selected block"
Implement multi-line selection outdention via Shift-Tab key combination.
- Shift-Tab - Outdent block (Deletes spaces to align with absolute multiples of 2)

[2015-06-03 02:58] PropGit opened #122 "Create Replace feature (to pair with Find feature)"
Implement Replace feature (complement of Find feature).
- Request that Find/Replace occupy a compact space on the upper-right area, similar to Google Doc's Find implementation.  Find field, followed by Replace field; each about 16 characters in width.
  ![image](https://cloud.githubusercontent.com/assets/1266318/7963461/a8193ca4-09c7-11e5-99f5-69f00955ef01.png)
- Add F4 key to activate Replace ope

[2015-06-03 02:59] PropGit opened #123 "Add Ctrl-F4 key combination to replace current found selection and then find next"
- Ctrl-F4 - Perform replace and find next
  - Just like F4, but after the replace, moves to the next found selection (ie: it's like pressing F4 followed by F3)

[2015-06-03 03:00] PropGit opened #124 "Add Increase/Decrease editor font size feature"
Implement source code font sizing.
- Ctrl-Mouse Wheel Up/Down to increase/decrease editor's font size
- Ctrl-+/- key combination to increase/decrease editor's font size

[2015-06-03 03:01] PropGit opened #125 "Add New Source feature"
[Duplicate]

Ctrl-N - New source; activates new source function

Related to issue #107.

[2015-06-03 03:03] PropGit opened #126 "Keyboard control of Project/File view"
- **[With Project/File view focused]** Cursor keys to navigate (highlight) through files or projects, and Enter to enter the selected project or open selected file
- **[With Project/File view focused]** Backspace exits file view (project) (to project view; part of the above Cursor and Enter feature)

[2015-06-03 03:03] PropGit opened #127 "Print current source code"
- Print current source code
  - Print feature was added in Sprint 4 but need to isolate source from the app skin
    - Print only the active source- the entire source, unless user chooses to print just a selection or a specific set of pages
  - Ensure Ctrl-P activates the Print current source feature

[2015-06-03 03:04] PropGit opened #128 "Update Identify Feature"
Make Identify feature (currently attached to "Reload Devices" button) a separate function if not already.
- Add shortcut keys F6 and also Ctrl-I to activate the Identify feature
- This displays the Identify dialog (if not already displayed) and performs the Identification process on all available ports, showing the results in the dialog
- Pressing the "Reload Devices" button (which is being [renam

[2015-06-03 03:06] PropGit opened #129 "Syntax Check"
Separate the Tokenize feature to be activated independent of the Download feature.
- F7 or Ctrl-T - Perform a syntax check on the code.
  This should tokenize the code and show the results, just like what happens at the beginning of a download sequence.

[2015-06-03 03:07] PropGit opened #130 "Add Memory Map display"
Add Memory Map display feature.
[This will be further defined later; just a placeholder for now]
- F8 or Ctrl-M - Tokenize and open Memory Map display.

[2015-06-03 03:08] PropGit opened #131 "Create F9 and Ctrl-R keyboard shortcuts to Tokenize and Download"
Create F9 and Ctrl-R keyboard shortcuts to activate the Download function, which causes the code to be tokenized and downloaded automatically (unless there's an error) via the operations described by issues #138 and #139.

[2015-06-03 15:24] PropGit commented on #125
This feature is a duplicate of #107.  Closed.

[2015-06-03 15:24] #125 closed, assigned to nobody

[2015-06-03 15:38] PropGit opened #132 "Update Tokenize Response"
The Tokenize function should respond to errors by
1. Filtering the leading error code number (###-) from the error message,
2. Displaying the error message in a red, persistent toast (which it does now),
3. Scrolling the editor to make the offending source visible (vertically centered in display, when possible), and,
4. Highlighting the offending source with the cursor at the end of the selection

[2015-06-03 15:41] PropGit commented on #116
That sounds good.

[2015-06-03 15:42] PropGit commented on #130
Closed... it's a duplicate.

[2015-06-03 15:42] #130 closed, assigned to nobody

[2015-06-03 15:49] PropGit commented on #112
Closing because all shortcut requirements broken out into separate issues.

[2015-06-03 15:49] #112 closed, assigned to nobody

[2015-06-03 16:03] PropGit commented on #115
I can't prioritize this as I don't understand what it is or how it affects things.

[2015-06-03 17:37] phated commented on #115
This is a top priority, as discussed during the last demo call.  I've marked it as priority 1

[2015-06-03 18:53] PropGit opened #133 "Bundle example files with ParallaxIDE"
From the user's perspective, the app needs to include one or more projects (folders) that includes some ready-made example source programs.

This means that the app needs to look for the existence of the folder on start up, and create it and it's contents if it doesn't exist.

[See this post for content](https://github.com/parallaxinc/Parallax-IDE/issues/133#issuecomment-147846201)

[2015-06-03 21:29] urbantumbleweed commented on #111
Just a friendly reminder that we need a screenshot for this issue.  Once that's in, I'll reassign.

[2015-06-03 22:19] phated opened #136 "Unplugging + plugging in device causes error upon download without refreshing device list"
@PropGit will this still be a problem when we refresh the device list every time the download dialog is opened?

[2015-06-03 22:19] #114 closed, assigned to 2fast2fourier

[2015-06-03 22:28] PropGit commented on #111
@urbantumbleweed, done... see first comment.

[2015-06-03 23:22] urbantumbleweed commented on #117
Development on this issue is pending receipt of documentation.

[2015-06-03 23:22] phated commented on #116
Closed by https://github.com/parallaxinc/ChromeIDE/pull/135

[2015-06-03 23:22] #116 closed, assigned to 2fast2fourier

[2015-06-03 23:32] phated commented on #111
Thanks, reassigning to @drquinn

[2015-06-03 23:56] phated commented on #94
Completed by https://github.com/parallaxinc/PBASIC-Tokenizer/pull/10 - need to update dependencies if rebuilding from source to have this feature.

[2015-06-03 23:56] #94 closed, assigned to 2fast2fourier

[2015-06-04 00:56] PropGit commented on #136
For downloads, no, it won't be a problem because the next download will refresh the list and then will automatically select the port that it found the target BASIC Stamp on.

The point is to make the app assess the situation and if it's not ambiguous, it should just automatically do the things the user would have done anyway... ie: source code is tokenized for a BS2 and only one BS2 plugged in?...

[2015-06-04 02:03] PropGit commented on #117
The documentation describing this is page 6 of the [BASIC Stamp Programming Protocol](https://drive.google.com/a/parallax.com/file/d/0B0tev9Y3WaL4WUdaM1pZb29uWW8/view?usp=sharing) in the _Identification Sequence_ section.  You have to read the steps to see where it is; it's not specifically spelled out from the perspective of finding the firmware version number.

**NOTES**
- I wish this were imple

[2015-06-04 02:06] PropGit commented on #75
NOTE: The Bell control character code (7) will not be implemented at this time due to issues on different platforms.  ASCII code 7 will simple be parsed and ignored (no effect) until possibly a later time if this can be resolved.

[2015-06-04 02:24] PropGit opened #138 "Activate port enumeration and scanning automatically upon Download and Identification functions"
When the user selects the Download or Identify functions, once the progress dialog appears, make the app automatically begin the port enumeration (determining which ports exist) and port scanning (performing the Identification part of the BASIC Stamp Programming Protocol) and update the dialog's port listing with the results.

[2015-06-04 02:58] PropGit opened #139 "Automatically determine target stamp after port scanning and download"
If the user selects the Download operation, after the progress display updates with the results of the port enumeration and port scanning processes (described in issue #138), the app should now determine the target Stamp to download to.

Decision Flow:
1. No modules of any kind are found to be connected?
   - Leave progress display on-screen (for user review)
   - Display error: "No BASIC Stamps f

[2015-06-04 21:59] 2fast2fourier commented on #117
Device scan now exposes `version` field (may be null), we just need to add a column to the device list to show that field. Also version bump `bs2-serial` to `^0.7.3`.

Reassigning to @drquinn for these changes.

[2015-06-04 22:12] phated commented on #118
Fixed by https://github.com/parallaxinc/ChromeIDE/pull/137

[2015-06-04 22:12] #118 closed, assigned to drquinn

[2015-06-04 23:46] #109 closed, assigned to drquinn

[2015-06-04 23:46] #111 closed, assigned to drquinn

[2015-06-04 23:46] #117 closed, assigned to drquinn

[2015-06-04 23:46] #119 closed, assigned to drquinn

[2015-06-09 23:27] urbantumbleweed commented on #106
@PropGit What is meant by "If it's possible for a previous entry to appear (like what happens after an Esc key press on a previous dialog), then the cursor should appear at the end of the field's filename text."  Do you want to have the previous text to appear even in the even if the user clicks cancel instead of pressing ESC?

[2015-06-09 23:30] urbantumbleweed commented on #106
@PropGit Also, the animation request hasn't been implemented yet.  We are thinking that it could be separated out into another issue that is grouped with UI/UX.  The final behavior may become standard visual language on the website.  What do you think about moving it to another issue that we label UI/UX?

[2015-06-10 02:09] PropGit commented on #106
@urbantumbleweed Sorry, I was writing that fast and should have re-thought about it before submitting.

I'd rather that a Cancel or Escape event cause any text changes the user made in the filename field to be undone and forgotten (not persistent).

Note: This dialog has a related issue #107 that is also in Sprint 5, which affects what appears in the filename field upon displaying the dialog.

I a

[2015-06-10 18:30] PropGit opened #144 "Research Break Fix and Update to Use New Chrome Serial API"
Today (6/10/15) Lima... reported that he [implemented the break condition](https://code.google.com/p/chromium/issues/detail?id=461169#c19) we've been waiting for.

Not sure when this enhancement will be included in public releases of Chrome, but we need to find that out and then update our system to use the new break functionality as opposed to the workaround we implemented in Sprint 1 or 2.

[2015-06-10 20:25] spatializes commented on #107
@PropGit - a few questions for you:
1) For item 1 above, can you clarify this: "It's best if it's created/treated in a special way that allows it to remain easily accessible to the user (during this session or the next) but for the system to know that it has never really been "saved" by the user."

New File will clear the editor and name the file "untitled#" as you mention above, but then what hap

[2015-06-10 22:48] PropGit commented on #107
@drquinn
Good questions.

1)  Both the BSE and PT software allows new (and unsaved) source code to exist, be edited, accessed (during that session), compiled, and downloaded.  From the application's and tokenizer/compiler's perspective, this new-and-never-saved source does not exist anywhere in the file system; it only exists in the application itself.  The application delivers the source right to

[2015-06-10 22:50] PropGit commented on #75
NOTE: The [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing) document has been updated as of yesterday (see bottom of file) to give a better overall description of the auto-scrolling or not-auto-scrolling moments.

[2015-06-11 01:01] phated commented on #115
Closed now that #137 #141 and #142 are merged.

[2015-06-11 01:01] #115 closed, assigned to drquinn

[2015-06-11 01:15] urbantumbleweed commented on #78
@PropGit I wanted to reach out to you regarding how the RX/TX indicator elements are to be implemented.  There seems to be some questions about how this element is to appear.  Could you provide us with a note about it's role in the user experience and your thoughts about it might look or where it should go?  Screenshots, mocks or wireframes would be excellent.

If there are any further questions I

[2015-06-11 04:40] PropGit commented on #78
@urbantumbleweed I'm somewhat open to suggestions here, but we definitely need to open up some area on screen where this and a few other terminal-related controls can reside.  Somewhere that is visible only when the Debug Terminal is visible.

Here's a crude mock-up of one possibility.  The circles next to TX and RX are like LED lights.  They should light up when there's related activity.

![image

[2015-06-11 16:43] urbantumbleweed commented on #106
Thanks for the response.  I will go ahead and create the related issue.  The existing animation will remain.

[2015-06-11 16:47] urbantumbleweed opened #146 "Delayed Focus Animation"
Originally requested in issue #106

Due to the UI/UX nature of the request this has been moved into a separate issue that can be grouped together with UI enhancements.  The animation signature decided upon here will likely appear in other placed of the application and would be suitable for review and comment by a designer.
### The original feature request:

A very slight delay (after dialog appear

[2015-06-11 17:18] urbantumbleweed commented on #91
@PropGit Thanks for the video. You introduced a number of ideas that with your video.  I really like what you've done and where your head is at. Would you be able to break out the content of the video into written specifications and corresponding issues to discuss individually? I can work with the team to then group them into sprints and work them into discussions with our designer.

[2015-06-11 19:13] PropGit commented on #91
@urbantumbleweed You're welcome, and thanks.

Yes, I can do that.  I will try to provide some more thorough descriptions and updated mock ups of individual features.  How soon do you expect to need this for discussion among yourselves or with a designer?  I'm thinking I can have it all described and entered into issues by early next week at the earliest.

[2015-06-12 00:32] #106 closed, assigned to drquinn

[2015-06-12 00:35] phated commented on #75
Currently, all but cursor-position, cursor-position-x, cursor-position-y and collapsing CR,LF are implemented. Those will be addressed after the underlying filesystem architecture is completed, as it is blocking some UI work.

[2015-06-15 22:37] urbantumbleweed commented on #84
@PropGit We have discovered that Chrome SyncFileSystem fails when the user is not logged into a google account.  On a positive note, we have confirmed there is offline support but the user needs to be logged in. For this sprint, Google syncFileSystem storage functionality will be added with the restriction that it will only work for users who are logged in.

This issue appears to be related to an

[2015-06-15 23:25] PropGit commented on #84
@urbantumbleweed To answer your question, this is fine for now, but we'll need to address it again later.

I have some questions.
- By "log in" do you mean to Chrome?  Or do we / can we provide a separate log in prompt ourselves at some point?
- Does it fail in a graceful way that we can trap and silently handle or choose to prompt the user or not?
- We are continuing to maintain things via indexd

[2015-06-15 23:50] phated commented on #78
Completed by #147.  Will need to add some functionality to this when we implement DEBUGIN functionality, but that should be covered in that issue.

[2015-06-15 23:50] #78 closed, assigned to 2fast2fourier

[2015-06-15 23:54] #110 closed, assigned to drquinn

[2015-06-16 01:38] PropGit commented on #84
From [Chromium Issue](https://code.google.com/p/chromium/issues/detail?id=374101)

Ouch... but after that amount of time, it's what I expected to.

We've got to be able to handle this outside of a deeper fix; I can't imagine at this point that it's impossible to deal with gracefully... just will have to be in another sprint.

[2015-06-16 06:57] phated commented on #84
That is quite disappointing, as the issue linked was supposed to be fixing the problem (according to the description).  It isn't impossible, but the amount of effort needed to solve this is significant.  I think trying to get Google to fix this is a good idea (probably by opening another issue that is exclusive to non-logged in support instead of multiple things).  SyncFileSystem should totally su

[2015-06-16 14:58] PropGit commented on #84
I agree, this is a real issue, but just how could it actually be solved by SyncFileSystem?

I mean, on a multi-user system, irregardless of how/where it stores the files during logged-out state, how would it associate the files to any person/account so that it knows how to resolve it once someone logs in?

[2015-06-16 19:17] urbantumbleweed commented on #84
## Answers in response to yesterday
- _By "log in" do you mean to Chrome? Or do we / can we provide a separate log in prompt ourselves at some point?_
  **That is correct, we mean Chrome.**
- _Does it fail in a graceful way that we can trap and silently handle or choose to prompt the user or not?_
  **Currently we are not handling the syncFIleSystem fail.  We need to consider options and spec our

[2015-06-16 22:52] #75 closed, assigned to 2fast2fourier

[2015-06-17 01:11] phated commented on #84
@PropGit every chrome instance has some sort of "user" even if it is an anonymous user on first launch.  I don't think syncFileSystem would transfer any files saved on an anonymous user to a logged-in user's account, but it should at least gracefully degrade to the offline-only FileSystem API

[2015-06-17 20:17] PropGit opened #151 "Changing Name from "Chrome IDE" to "Parallax IDE""
We are officially changing the name of this project as the subject says.

This means
- We need to change occurrences of "Chrome IDE" in the application and the repository sources (like readme.md and the releases' QuickStart Installation notes) to "Parallax IDE"
- I will be changing the repository soon.

NOTE: historical items (like previous release archives) do not need to change; they can remain

[2015-06-17 20:19] PropGit commented on #151
I can change the repository name right now if you're ready.  I'll wait until I see a response.

[2015-06-17 22:19] #84 closed, assigned to 2fast2fourier

[2015-06-17 23:13] phated commented on #138
@PropGit was this completed on the last sprint?  If not, how does it differ from what we currently have?

[2015-06-17 23:29] phated commented on #108
Pushing this issue back and breaking it into smaller issues, as it has 5 main parts that I can see.
- Save an unsaved ("untitled") file as a named file (addressed in #107)
- Save a file as a different name
- Save a file into a different project
- Add a "Save As" button into the UI
- Add a "Save As" key command

[2015-06-17 23:30] phated opened #152 "Save As - Save a file as a different name"
Split out from #108

[2015-06-17 23:30] phated opened #153 "Save As - Save a file into a different project"
Split out from #108

[2015-06-17 23:31] phated opened #154 "Save As - UI element (button?)"
Split out from #108

[2015-06-17 23:32] phated opened #155 "Save As - Add a key command"
As of yet, undetermined.

Split out from #108

[2015-06-17 23:35] PropGit commented on #138
@phated Wow, I don't know how I did that, but you're right this is a duplicate of Issue #74 and Sprint 4 implemented it.

This issue can be closed and what really needs to happen next is Issue #139 which is vital to creating a single-step action for the user to perform a download (issue #131).

[2015-06-17 23:35] #138 closed, assigned to nobody

[2015-06-17 23:44] PropGit commented on #108
Agreed.

[2015-06-17 23:47] PropGit commented on #128
Does this need to be broken into multiple issues?  There's also a UX/UI element to activate the Identify function, but it was not specified here.

[2015-06-17 23:49] phated commented on #128
@PropGit I think that would be good.  Would you like me to do that now?

[2015-06-18 00:01] PropGit commented on #128
Yes please.  From now on, I'll try to enter issues with a finer grain.  I'm used to thinking of these things as so interrelated that they don't make sense to me as separate items, but I think I understand your perspective now.

[2015-06-18 00:29] phated opened #157 "Identify - Add key commands"
Add shortcut keys `F6` and `Ctrl-I` to display the Identify dialog (if not already displayed) and performs the Identification process on all available ports, showing the results in the dialog.  Pressing the key command again while dialog is open causes the list to refresh.

Split out from #128

[2015-06-18 00:31] phated opened #158 "Identify - UI element (button?)"
Add UI element (possibly a button) to display the Identify dialog (if not already displayed) and performs the Identification process on all available ports, showing the results in the dialog.

Split out from #128

[2015-06-18 00:40] phated commented on #128
@PropGit it seems that there are only 2 issues remaining to this functionality (the UI element and the key combination).  Do you agree?  I've split those 2 issues out.

[2015-06-18 01:06] PropGit commented on #128
Yes, as long as the Identify function already exists as a separately-callable function, and not as an intrinsically integrated part of the download function.  ie: Download should call Identify as the first part of it's operation, which means that the overlay activated by #157 and #158 can call Identify (also) but then simply update the display and wait for user input (to Identify again or close th

[2015-06-18 03:22] urbantumbleweed commented on #139
I am labeling this as a UX issue because of the prompting in point 3.

[2015-06-18 03:30] urbantumbleweed commented on #133
I am wondering if there is a design element to this?  For example, are the files going to structured as a type of tutorial?  If so, are we going to introduce application functionality or will the emphasis be on PBASIC and programming.  It seems like final collection of files will be the result of some user testing.

[2015-06-18 03:37] urbantumbleweed commented on #129
I was hoping to get a little more clarity by what is meant by 'show the results'.  When syntax check is run independently, what exactly should the user be seeing when:
- all the syntax is correct?
- when there is a syntax error?

[2015-06-18 03:37] phated commented on #139
@urbantumbleweed I think you are incorrect in labeling this as such

[2015-06-18 03:43] urbantumbleweed commented on #126
The issue of navigating through files and projects with the keyboard is not the UX issue.  I will create a new issue that distills the UX implications of this; namely, mapping keyboard shortcuts gestures (on tablet).  I will un-label this issue but reference in the other issue.

[2015-06-18 03:57] urbantumbleweed opened #159 "Mapping functionality to gestures"
There are a number of issues that describe functionality that should be bound to a keyboard shortcut.  Many of these decisions are aligned with convention (i.e., editor functions), while others have precedent in the legacy application.  There has been little discussion about what functionality should be bound to context/gesture combinations for tablets and mobile devices.

User testing needs to be

[2015-06-18 04:02] urbantumbleweed commented on #113
There is a good starting point with the legacy system to visualize the data.  It would be interesting to audit the existing and see if modern convention affords us opportunity to refresh the view.

[2015-06-18 04:11] urbantumbleweed commented on #158
I labelled this as a UX issue because we need to know when and how the UI element representing the 'identify' functionality will be presented to the user.

[2015-06-18 04:14] urbantumbleweed commented on #154
Currently there are many button appearing in our MaterialUI menu.  This is labelled as a UI issue because a design decision needs to be made about where to present this element to the user.  This is related to issue #91, #92 discussing the menu system overall.

[2015-06-18 04:25] urbantumbleweed opened #160 "Interaction Language"
There have a small number of requests for animation features as a result of user interaction.  Related issues include #146, #110, and #82. These issues have been created in the effort to communicate the application status to the user in what I will call 'interaction language'.

A UX designer should be consulted to standardize the interaction language of the application based on user testing and mo

[2015-06-18 04:27] urbantumbleweed commented on #146
This is now referenced in a separate issue dedicated to UX/UI

[2015-06-18 04:27] PropGit commented on #129
- When all syntax is correct, a temporary, green toast should appear saying "Tokenization successful!"
- When there is a syntax error, a red toast should appear showing the tokenizer's error message (stripped of the error number and the "-" following the number) and the editor should ensure the offending line is visible and the selected offending text characters are selected (highlighted).

[2015-06-18 04:33] urbantumbleweed commented on #139
In response to @phated regarding this as a development issue, the UX/UI label has been removed.

[2015-06-18 04:36] urbantumbleweed commented on #93
This issue is loosely related to #159 but of itself is less a UX issue than a technical one.

[2015-06-18 04:45] urbantumbleweed commented on #77
This issue has only minor implications on UX decisions.  It could be related to issue #160 depending on the implementation.  Because the this largely an implementation issue, the UX/UI label is removed.

[2015-06-18 15:10] PropGit commented on #133
These are BASIC Stamp source code files with various file extensions (.BS2, .BSE, .BSX, .BSP, and .BPE) that need to be stored in a group which is accessible via the Project/File view.  At the most, we may ask for an "Examples" menu item to be added for quick access, but I'm _not_ doing so right now.

We do have tutorials in the form of .PDF and possibly .HTM files that we'd like to include in the

[2015-06-18 15:14] PropGit commented on #113
Yes, especially because we are also wanting this to support the Propeller in the future.  We will have to make a mock up and list functionality that we can discuss.

[2015-06-18 21:25] #107 closed, assigned to drquinn

[2015-06-18 21:26] phated commented on #151
@PropGit I think we are ready for you to change the name

[2015-06-18 21:37] PropGit commented on #151
Okay, done!  The official name is "Parallax IDE" but the repo is "Parallax-IDE"

[2015-06-18 23:26] phated commented on #139
@PropGit I think we should split this into multiple, related issues.  Do you agree?

[2015-06-18 23:28] phated commented on #155
@PropGit I think a common key command for "Save As" is "Ctrl + Shift + S" - should we use that?

[2015-06-18 23:31] urbantumbleweed commented on #153
Labelled as UX because we need to understand how the process should be visualized for the user, especially on tablet or mobile devices.

[2015-06-18 23:31] phated commented on #136
I believe this has been discussed and answered sufficiently.  Closing as it shouldn't be an issue.

[2015-06-18 23:31] #136 closed, assigned to PropGit

[2015-06-18 23:40] phated commented on #123
Let's target completion of this with the default CodeMirror UI.  If it is desired to be improved upon later, we can open a UI/UX issue.

[2015-06-18 23:52] phated commented on #121
@PropGit do you have a list of items you want tackled as part of this? or bugs you have found with outdent?

[2015-06-18 23:52] phated commented on #120
@PropGit do you have a list of items you want tackled as part of this? or bugs you have found with indent?

[2015-06-19 00:27] phated commented on #151
@PropGit it seems you need to change the Travis-CI hook now, as it is trying to get from ChromeIDE still.

[2015-06-19 01:31] PropGit commented on #139
You mean one issue for each of the four possibilities in the decision flow?

If it helps get the the work done, yes.  These are all part of one function really; they shouldn't be developed separately without thought of the other.  1 & 2 really need to be done at once.  3 & 4 can be developed later, but when 1 & 2 are made they need to set aside space for 3 & 4.

[2015-06-19 01:32] PropGit commented on #155
Yes, that sounds great.

[2015-06-19 01:41] phated commented on #139
@PropGit I think 1, 2 and 3 are all able to be done at once, but 4 will be done at another time.

[2015-06-19 01:47] PropGit commented on #121
@phated Yes.
  **BUG** Selecting a block of text and then pressing Shift-Tab removes _all_ whitespace, slamming the poor text ferociously into the left margin instead of removing just the previous tab position's-worth of whitespace.

  _Example_

  **Selected text:**
![image](https://cloud.githubusercontent.com/assets/1266318/8245883/015874be-15ea-11e5-8715-8e9ed03eecb2.png)

  **Shift-Tabbed resu

[2015-06-19 01:51] PropGit commented on #120
@phated Yes.
**BUG** Selecting a block of text and then pressing Tab replaces all of selection with "tabbed" whitespace.

**Example**

**Selected text:**
![image](https://cloud.githubusercontent.com/assets/1266318/8245933/b9fa4182-15ea-11e5-801f-98f8a6604939.png)

**Tabbed result:**
![image](https://cloud.githubusercontent.com/assets/1266318/8245942/d37fc6ae-15ea-11e5-9aa4-86f337dbba47.png)

**Exp

[2015-06-19 02:00] PropGit commented on #151
@phated Sorry, need help on this one.  Can't find how I did this the first time and if I log into Travis, it thinks its the first time I've been there.  Email me if need be.

[2015-06-19 02:02] PropGit commented on #139
@phated Okay, yes, 4 is the most involved of any of them.

[2015-06-19 02:10] phated commented on #151
@PropGit I started making a series of images to walk you through this, but it seems that Travis-CI has already done the updating behind the scenes.  I didn't know they started doing that.

[2015-06-19 05:00] PropGit commented on #151
Is Travis CI working now?

[2015-06-19 05:13] phated commented on #151
@PropGit yep, it sorted itself out! :astonished:

[2015-06-19 05:17] #151 closed, assigned to PropGit

[2015-06-19 17:26] phated opened #163 "Automatic Download - Handle "No Modules Found""
**Scenario**
No modules of any kind are found to be connected

**Behavior**
Leave progress display on-screen (for user review)
Display error: "No BASIC Stamps found."
NOTE: the intent is for the user to be able to read the error and view the list of ports scanned to help them determined what was done and what the results were

Split out from #139

[2015-06-19 17:28] phated opened #164 "Automatic Download - Single instance of module type found"
**Scenario**
Only one instance of the source code's specified module type is found to be connected to the system

**Behavior**
Automatically select that module type's port and perform the entire programming protocol on it. This means reset, identify, program, verify.  Yes, the module will actually have been identified twice and programmed once through the processes of issues #138 and #139.

Split

[2015-06-19 17:29] phated opened #165 "Automatic Download - Multiple instances of module type found"
**Scenario**
More than one instance of the source code's specified module type is found to be connected to the system

**Behavior**
- Prompt the user to select the module they wish to download to; "Please select which module to download to."
- If the user selects the Cancel button; close the display and cancel operation
- If the user selects a module, immediately perform the entire programming pro

[2015-06-19 17:31] phated opened #166 "Automatic Download - No module types that match but alternative module available"
**Scenario**
No modules of the type specified in the source code are found to be connected, however, at least one module of another type were found to be connected

**Behavior**
- Prompt user with "BASIC Stamp X not found. Select alternate module instead?" ;where 'X' is the type of BASIC Stamp that the code was written for.
- If the user selects the Cancel button; close the display and cancel oper

[2015-06-19 18:57] urbantumbleweed commented on #60
Parallax IDE will execute branding to meet corporate guidelines while optimizing user experience and accessibility. This palette can be used as input for the design process.

[2015-06-19 22:30] urbantumbleweed commented on #139
The issue has been split out into multiple issues.  For more information take a look at the individual issues #163, #164, #165, #166

[2015-06-19 22:30] #139 closed, assigned to nobody

[2015-06-19 22:34] phated commented on #131
Reliant on #164

[2015-06-19 22:36] urbantumbleweed commented on #128
This issue is being broken up into two smaller, but related issues.  One to create key shortcut and another to create a UI component.  Issues are #157 and #158

[2015-06-19 22:36] #128 closed, assigned to nobody

[2015-06-19 22:38] urbantumbleweed commented on #108
This issue is split apart into 4 issues. For more information please go the sub-issues. #152, #153, #154, #155

[2015-06-19 22:38] #108 closed, assigned to nobody

[2015-06-24 21:41] spatializes commented on #152
@PropGit when Save As is triggered, what would you like to show in the filename box?  Currently it will show the active file name (see image below for file "a test"). Does that work?  Or would you like it to show "activeFilename copy"? Or "activeFilename1"? Or continue on with the "untitled#" scheme? Something else?

![image](https://cloud.githubusercontent.com/assets/2586086/8341999/f084d5c2-1a7d

[2015-06-24 22:48] jeffam70 commented on #152
@drquinn Thanks for asking.  Since the common workflow is for someone to want to _save as_ to a similar (but different) name, I'd like to to show the active name (as you now have it) with the field focused and with the cursor to the right of the name.

Also, this reminds me of a needed feature... When the user clicks the _Save As_ button from this overlay, the Save As feature should always prompt

[2015-06-24 23:02] spatializes commented on #152
@jeffam70 ok great, I'll set that up for filename.

I think another issue would be good for the overwrite prompt and dialog that would go along with it.

[2015-06-24 23:09] jeffam70 opened #168 "Save As - Overwrite Protection (Prompt)"
As it relates to Issues #152 and #153 (Save As overlay), add a feature that protects against accidental overwriting.

On the Save As overlay, when the user clicks the Save As button, the system should always prompt with a confirmation overlay if the filename matches an already existing file in the target folder.  The prompt should say, "File 'filename' already exists. Overwrite anyway?" and should

[2015-06-30 19:27] #120 closed, assigned to drquinn

[2015-06-30 19:27] #121 closed, assigned to drquinn

[2015-06-30 19:31] phated commented on #168
I think this is a bit too much to add to this sprint.  Let's slate it for the next sprint

[2015-06-30 19:50] #152 closed, assigned to drquinn

[2015-06-30 19:50] #155 closed, assigned to drquinn

[2015-07-01 00:52] #69 closed, assigned to drquinn

[2015-07-01 16:23] PropGit commented on #168
Okay.

[2015-07-02 00:36] #123 closed, assigned to drquinn

[2015-07-02 00:36] #157 closed, assigned to drquinn

[2015-07-02 18:38] #127 closed, assigned to drquinn

[2015-07-02 20:26] #131 closed, assigned to drquinn

[2015-07-02 20:26] #163 closed, assigned to drquinn

[2015-07-02 20:26] #164 closed, assigned to drquinn

[2015-07-02 20:26] #165 closed, assigned to drquinn

[2015-07-02 21:23] phated opened #174 "Ctrl-Tab and Ctrl-Shift-Tab have incorrect behavior"
As per https://github.com/parallaxinc/Parallax-IDE/issues/88#issuecomment-106964147

[2015-07-02 22:55] #129 closed, assigned to 2fast2fourier

[2015-07-02 22:55] #132 closed, assigned to 2fast2fourier

[2015-07-03 22:55] phated opened #176 "Need release notes/changelog for 0.4.0 and 0.5.0"
We had great release notes in all releases until 0.4.0.  Please update the release notes for 0.4.0 and 0.5.0 releases.

[2015-07-03 23:44] PropGit commented on #174
To follow-up, this implies that there's an internally-kept list of source that is known to be "opened" due to user interactions, and Ctrl-Tab and Ctrl-Shift-Tab quickly switches between them (forward or backward, respectfully).  In other words, those key combinations do not simply open the next or previous file that appears in the Project View.

[2015-07-08 21:34] PropGit opened #177 "Identify/Download Function Breaks Frequently"
Very frequently, the Identification and/or Download function stops functioning correctly.  I've seen a similar behavior in a previous version but it stopped before I could capture it.

With a BASIC Stamp 2 plugged in and powered up, here's what a good Identification sequence looks like from v0.5.0 on my Chromebook:

![image](https://cloud.githubusercontent.com/assets/1266318/8582007/01fd1020-2579-

[2015-07-08 21:51] PropGit commented on #177
This condition happens at seemingly random times.  Once it starts, it seems to continue on forever during that session.  I haven't figure out all the steps that lead to this issue, but one thing I noticed that creates the failure predictably is:
- Close and restart Parallax IDE while the BS2 is plugged in and powered
- Press Ctr+I to do an Identify
  - It should properly identify the Stamp each ti

[2015-07-08 22:22] PropGit opened #178 "Debug Rx Buffer display problem causes freeze"
More Debug Terminal processing/displaying speed problems noticed.  Slow down and apparent freeze.

This problem likely relates to Issue #66.

If you run the Fast Data program from the first post in Issue #66, the display update slows down a bit around Loop 700, but is still functional.   It doesn't seem to cause major problems until much much later.

However, if you let it get to just beyond Loop

[2015-07-08 22:33] PropGit opened #179 "Make Progress Indicator appear only when needed and with more contrasting color"
To increase visual feedback about the state of the system:
- When the Identify or Download overlay appears, the progress indicator should be invisible (same color as background color)
- If the Refresh button is clicked, the progress indicator should remain hidden.
- Only when a module is positively targeted (either automatically or by user's manual selection) the progress indicator should appear i

[2015-07-08 23:49] PropGit opened #180 "Print function sometimes display a fraction of a line at the page cutoff"
The print function can sometimes end up with a sliver of a line at the page cutoff.

![image](https://cloud.githubusercontent.com/assets/1266318/8584975/3663ed6c-2591-11e5-9cd9-aebe220fa608.png)

This line happens to be the top of the first line that appears on the next page, so no information was lost, but the sliver of a line makes the user wonder if they are missing a line in the printout.

Thi

[2015-07-09 00:39] PropGit opened #181 "Print shows menu system on first page"
The print function still shows the menu _chrome_ on the first page of the printout if the menu happened to be left expanded.

![image](https://cloud.githubusercontent.com/assets/1266318/8585558/416f2b48-2598-11e5-83b9-4497bc9ac163.png)

[2015-07-09 01:04] spatializes commented on #76
@PropGit  - as I implement this transmit pane, I have a few questions about how it behaves that I did not see answered in the issue or Debug Terminal document. Sorry if you already answered these elsewhere...
1. What happens if a user types text into the transmit pane and no device is connected? Can they type text? Do they see an error message? Then when a STAMP is connected and a program is run,

[2015-07-09 01:26] PropGit opened #182 "Source status indicator sometimes incorrectly reports modified state"
Sometimes source status indicator incorrectly reports the source is modified and unsaved (red dot).

Here's how to create this situation.
- Start a new source
- Paste this code:

[code]
- Save it
- Notice the source status indicator is green  (correct)
- Add a space character before the word STOP
- Notice the source status indicator is red  (correct)
- Save it
- Notice the source status indicator

[2015-07-09 16:08] PropGit commented on #76
@drquinn - Good questions.

Item 1-  We do have a defined behavior here, but I neglected to document it.
- If the Debug Terminal _is not_ currently connected to any communication port - the system does not allow the user to use the transmit terminal at all; they can't even click in it (no blinking cursor, no focus capability) it is disabled and visibly indicates that.  In the case of the BSE's Deb

[2015-07-10 01:35] spatializes commented on #76
Thanks @PropGit, those answers were perfect. I believe I was able to get everything you asked for implemented.

During testing, I noticed that each key I enter into the Transmit Pane is displayed in the Receive Pane. Is this expected?

[2015-07-10 02:14] PropGit commented on #76
@drquinn - You're welcome.

Darn, I forgot to write about that too.  Yes, that's expected because of the way the BASIC Stamp is wired; it causes an automatic electronic echo of what was sent to it.

We need to have an Echo Off feature (which is enabled by default; ie: echo is off by default).  Since echo is _always_ caused by the BASIC Stamp, the software has to purposely look for and remove echos

[2015-07-10 02:21] PropGit opened #184 "Debug Terminal: Echo Off function"
**[EDITED with ~~strikeouts~~ where appropriate.  See next post also]**
We need to have an Echo Off feature (which is enabled by default; ie: echo is off by default).

This feature is needed because and electronic echo is _always_ caused by the BASIC Stamp because of its circuitry.  Anything transmitted to it is echoed back immediately to the sender (even if the BASIC Stamp is not powered).

The a

[2015-07-10 02:23] PropGit opened #185 "Debug Terminal: Echo Off control"
A UI feature needs to be added to allow the user to set or clear the Echo Off feature.  This is preferably accessible from the main screen (near the Debug Terminal, in the vicinity of the Tx/Rx indicators).

This relates to Issue #184.

[2015-07-10 03:02] PropGit opened #187 "Can Chrome Apps do X?"
Can a Chrome Application...
- Determine the OS it is running on?
- Fetch a downloadable resource from a URL?
- Automatically execute that resource?
- Provide user prompt for action that then executes that resource?

I'm asking because we could greatly improve user experience if the app itself could determine if the user's system needs a manually-installed USB driver and provides and installs that

[2015-07-14 22:55] spatializes commented on #166
@PropGit quick question about finding the $STAMP directive in the user's source code. What are the fields that matter in the PBASIC tokenizer response that I need to look at to figure out where that directive is?

[2015-07-15 00:22] PropGit commented on #166
Sorry, I'm away until late tonight.

[2015-07-15 00:24] phated commented on #166
@PropGit that is fine.  We are working on the Transmit Pane right now and just wanted to get this question posted to you as early as possible.  Thanks.

[2015-07-15 06:41] PropGit commented on #166
@drquinn the tokenizer fills in the TargetModule and TargetStart fields when compiling the code.  The TargetModule is a value 0 through 6 indicating the type of Stamp the code is targeting and the TargetStart indicates the character position within the source that the target module string starts.  The TargetStart treats the source like one long continuous string, where LF or CR is just another cha

[2015-07-15 22:24] urbantumbleweed commented on #176
@PropGit It looks like the documentation for 0.4.0 and 0.5.0 have been updated and the issue can be closed.  Will you confirm that it is ok to close this issue?

[2015-07-15 23:26] #76 closed, assigned to 2fast2fourier

[2015-07-15 23:38] 2fast2fourier opened #191 "Implement TAB in terminal backing store"
While implementing features in transmit pane, we discovered an issue TAB feature from parallaxinc/Parallax-IDE/issues/75. It is being processed correctly in the receive stream, but the console store and UI are not updated to reflect new state. This ticket is to track implementation of that feature.

[2015-07-16 00:00] #181 closed, assigned to urbantumbleweed

[2015-07-16 02:28] PropGit commented on #176
Hi @urbantumbleweed.  Yes, I updated those myself and forgot to close this issue.  I've decided that I'd like to write those release notes myself from now on because we're using that release page as a source for customers to visit when they want to know what has changed in the latest version.  So, it's okay with me if you leave it blank for future releases, or if you add a few notes that you don't

[2015-07-16 02:28] #176 closed, assigned to urbantumbleweed

[2015-07-16 02:29] phated commented on #176
@PropGit sounds good!  Great work on the latest ones, I really like the linked issues.

[2015-07-16 02:32] urbantumbleweed commented on #176
Not a problem at all. I too really liked the linked issues and will do that
going forward when I can.

[2015-07-16 03:34] PropGit commented on #176
Perfect.  Thanks guys!

[2015-07-16 20:51] phated commented on #191
Added to Sprint 7 because it only took 15 minutes.

[2015-07-16 20:51] phated commented on #181
Added to Sprint 7 because it was a quick fix

[2015-07-16 21:28] urbantumbleweed commented on #187
@propgit: I have researched this issue over the past couple days and thought I would bring a summary of what I found to the thread.

In regards to whether the Chrome App can determine the OS it is running on:
The Chrome App can determine the OS it is running on.  Chrome has a `runtime` API that provides us this information.

In regards to to downloading, automatically executing, and/or prompting t

[2015-07-16 21:28] #187 closed, assigned to urbantumbleweed

[2015-07-16 22:12] #191 closed, assigned to 2fast2fourier

[2015-07-17 00:06] #166 closed, assigned to drquinn

[2015-07-17 05:36] PropGit opened #194 "Unable to download after certain previous downloads"
Parallax IDE may not be flushing it's receive buffer after a reset condition is delivered to the BASIC Stamp, or not waiting long enough before flushing.  See [BASIC Stamp Programming Protocol v1.1](https://drive.google.com/file/d/0B0tev9Y3WaL4WUdaM1pZb29uWW8/view?usp=sharing) page 5.

After the following program is downloaded to the BS2 module, Parallax IDE is often unable to identify (or downloa

[2015-07-17 05:59] PropGit opened #195 "Holds port open after failure to identify"
Parallax IDE needs to close the port after a failure to identify or download.  See [video for example](https://drive.google.com/file/d/0B0tev9Y3WaL4UzlGYlB5TnY3UWs/view?usp=sharing) that uses the BSE's Identify feature and Parallax IDE's Identify feature.  At the [end of this video](https://drive.google.com/file/d/0B0tev9Y3WaL4TFR2U1RrQUY0Z3c/view?usp=sharing) you can see how the port is held open

[2015-07-17 06:05] PropGit opened #196 "Need to indicate status of ports during identification/download"
If the OS returns an error when Parallax IDE tries to open a serial port, Parallax IDE needs to display a concise error note in the Identification/Download display.  This is best done in the _Device_ column so that it is obviously related to the specified port and multiple ports can be quickly visualized as either detecting no BASIC Stamp (blank), detecting a BASIC Stamp (type name displayed) or h

[2015-07-17 06:10] PropGit opened #197 "Debug Transmit Pane's history overlaps horizontal separator"
The history (previous text) of the Transmit Pane overlaps the horizontal separator.  Since the separator appears to be a border around a field, this looks very odd and in error.  In the example below, the number 125 was typed in followed by the return key.

![image](https://cloud.githubusercontent.com/assets/1266318/8741563/e0814a18-2c0f-11e5-9d6f-6f2faba3a943.png)

[2015-07-21 18:53] #178 closed, assigned to 2fast2fourier

[2015-07-24 02:13] PropGit opened #199 "Increase Receive Buffer Size"
After fixing the Receive Pane processing, via issue #178, now we need to increase the internal buffer size to hold more lines so that the user has more time to scroll back in history on a fast-updating display without it overwriting data as soon.

Please make the receive buffer able to hold 10,000 lines before overwriting old lines with new data.

[Here's a video](https://drive.google.com/file/d/0

[2015-07-24 02:14] PropGit commented on #181
Verified fixed!

[2015-07-24 02:14] PropGit commented on #178
Verified fixed!

[2015-07-24 02:30] PropGit commented on #177
Doesn't appear to be fixed, or there may be other leaks.  See "a more in-depth video" in Issue #194.

[2015-07-24 02:32] PropGit commented on #166
Verified Added!

[2015-07-24 02:47] PropGit commented on #76
Verified added.  Experienced some problems.  Will note in new issues.

[2015-07-24 02:51] PropGit opened #200 "Receive Pane lack of scroll on word wrap"
The Receive Pane now seems to fail to scroll when word wrap happens.  [See the video](https://drive.google.com/file/d/0B0tev9Y3WaL4d19BaGdYTDdZem8/view?usp=sharing) for a demo.

[2015-07-24 03:20] PropGit commented on #187
@urbantumbleweed - Is it possible for a Chrome Extension to automatically install a Chrome App?

[2015-07-27 20:46] PropGit opened #201 "Debug Terminal: Need to perform in overwrite mode always"
The Debug Terminal's Receive Pane needs to treat all visible changes as an _overwrite_ mode rather than an _insert_ mode as specified by the [Debug Terminal document](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing):
- All characters emitted to the display do so in an overwrite fashion; no existing text is moved by any operation

Currently, the Rece

[2015-07-27 20:54] PropGit opened #202 "Debug Terminal: Receive Pane Scrolls Awkwardly"
The Receive Pane scrolls awkwardly when there's many lines of text to scroll back to in history.  This is best demonstrated by [this video example](https://drive.google.com/file/d/0B0tev9Y3WaL4QnlyQW9rdVJsb1E/view?usp=sharing) and another video that shows a problem at [the opposite end of the history](https://drive.google.com/file/d/0B0tev9Y3WaL4ZDk2X1d5cVY2RVU/view?usp=sharing).

Note: In additio

[2015-07-27 22:57] PropGit opened #203 "Debug Terminal: Make each line a max 256 characters wide"
Enhance Debug Terminal's Receive Pane to a maximum width of 256 characters (column positions 0..255), as specified in the [Debug Terminal document](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing)
- Each line of the display is designed to be a maximum of 256 characters wide; column 0 to 255
  ...

[2015-07-27 23:06] PropGit commented on #152
Tested, but the cursor doesn't end up to the right of the filename.  Will make another issue for this.

[2015-07-27 23:10] PropGit opened #204 "Save As Overlay: Put cursor to right of current file name"
Issue #152, in Sprint 6 indicated that [the field should be focused and the cursor should be to the right of the file name](https://github.com/parallaxinc/Parallax-IDE/issues/152#issuecomment-115035841).

The cursor still appears to the left of the file name upon activation of the Save As overlay.  Please fix it so that the cursor appears to the right of the current file name every time the overla

[2015-07-27 23:22] PropGit opened #205 "Focus editor after New File operation"
After a New File operation occurs, ensure that the editor control is focused so user can immediately start typing source code.

[2015-07-27 23:47] PropGit opened #206 "Automatic Save As fails after new session"
New file's status is forgotten between Parallax IDE sessions.
- Create a new file
- Don't save it
- Close Parallax IDE
- Start Parallax IDE
- [Source is displayed, as expected]
- Save
  -  Parallax IDE does a Save operation (as _untitled#_) instead of forcing an automatic Save As operation and dialog.

[2015-07-27 23:57] PropGit opened #207 "Automatic Save Prompt fails for new files after session"
[This is likely related to Issue #206]
New file's status is forgotten between Parallax IDE sessions - leading to loss.
- Create a new file
- Don't save it
- Close Parallax IDE
- Start Parallax IDE
- [Source is displayed, as expected]
- Select another file from the Project/File view
- Parallax IDE immediately displays selected file without prompting to save the new and unsaved file first
  - The ne

[2015-07-28 00:06] PropGit opened #208 "File System Error - new unsaved file lost between sessions"
[This happened twice.  May have to do with speed of operations.]
- Created a new file
- Typed some text
- Closed Parallax IDE
- Started Parallax IDE
  - Error... file lost (see image)
    ![image](https://cloud.githubusercontent.com/assets/1266318/8920707/7fa466ba-3481-11e5-81b3-bf26c47b4b43.png)

[2015-07-28 00:38] PropGit commented on #208
Just retried.  It's possible to make changes in a new file, close Parallax IDE, start Parallax IDE and that file is lost (sometimes without visible error; just a different file in the view instead of the last file from last session).

Can you put a trap upon Parallax IDE close event that causes it to finish storing any unstored changes before fully closing down?

[2015-07-28 02:04] PropGit opened #209 "Deleting file causes phantom new file and Save As dialog"
**Problem**
- Make sure there's at least two files in the Project/File View
- Select one of the files
- Choose the Delete menu option
- Answer the warning prompt with _Yes_
- [The editor blanks out (expected) and toast appears saying delete of file was successful (expected)]
- Select another file
- Parallax IDE unexpectedly prompts with "Do you want to save the changes you made to New file?"  Also

[2015-07-28 02:16] PropGit opened #210 "Selected text style overridden by activity in other file"
- Select a file
- Select multiple lines of text in that file
  ![image](https://cloud.githubusercontent.com/assets/1266318/8922085/3d7e1940-3493-11e5-80c8-9beb2a3eba7b.png)
- Switch to another file
- Move the cursor in that file
- Select the first file again
- Selection's white text style is overridden by PBASIC style
  ![image](https://cloud.githubusercontent.com/assets/1266318/8922115/a303ecea-3

[2015-07-28 04:24] PropGit opened #211 "Debug Terminal: 10,13 processing filters out too much"
The processing of LF and CR (individually) and LF/CR or CR/LF (pairs) works fantastically, except for one case... multiple pairs of LF/CR or CR/LF get filtered out.

Just like receiving multiple contiguous individuals LF, LF (or CR, CR) results in two effective new lines (as is properly implemented in Parallax IDE v0.6.0 now), receiving pairs like LF, CR, LF, CR (or CR, LF, CR, LF) should result i

[2015-07-28 04:34] PropGit opened #212 "Debug Terminal: Clear Down (12) erroneously scrolls the display"
The latest implementation (in v0.6.0) causes the Clear Down operation (control character 12) to scroll the display.  That violates the description in the [Debug Terminal document](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing), Receive Pane's _ASCII 12_ section.

[2015-07-28 05:03] PropGit opened #213 "Debug Terminal: TX/RX - Increase activity visibility"
To increase communication activity visibility on the TX/RX indicators:
- Increase the minimum time the TX/RX indicators are _lit_ to about 100 ms; assuming it's currently limited to a minimum time of about 50 ms as requested in [Issue # 78](https://github.com/parallaxinc/Parallax-IDE/issues/78#issuecomment-110996974).
- After the above time expires (TX/RX lit), force an _unlit_ moment of no less t

[2015-07-28 06:23] PropGit opened #214 "Delete File - Fix prompt message"
The prompt message for Delete File operations is malformed.

![image](https://cloud.githubusercontent.com/assets/1266318/8924821/82c09226-34b6-11e5-8a69-54f098522208.png)

[2015-08-04 17:10] PropGit opened #215 "Add a "New Version" notice"
Chrome Apps are updated automatically and silently, leaving the user without knowledge that their Parallax IDE was updated in-between sessions.

We need to add a feature that notifies the user (via overlay) that the Parallax IDE they are running is now a new version.  The notification should appear automatically **only upon the start of the first session of the new version** on the system- not for

[2015-08-04 17:28] PropGit opened #216 "Update short description"
Update project manifest's short description from this:

to this:

[2015-08-04 19:33] phated opened #217 "Refactor stateful logic into top level view components"
Currently, actions and stores are being pulled into many different components. This needs to be refactored so it only happens at the top level and everything else is passed as props to stateless child components.

[2015-08-04 19:34] phated opened #218 "Create stateless components that can be composed into stateful views"
Ref #217 - Need to create stateless components that receive props from the components that are currently stateful.

[2015-08-04 19:36] phated opened #219 "Move handlers out of Alt stores and into handlers namespace"
Handlers don't belong in the Alt stores, need to move them to a separate namespace that dispatches actions.  These can also be passed from the top level stateful view (ref #217)

[2015-08-04 19:37] phated opened #220 "Make consistent the file structure"
Currently, there is a `src/` folder and a `plugins/` folder which come from different phases of the project.  These need to be consolidated and consistent.

[2015-08-04 19:39] phated opened #221 "Implement constants modules to keep everything consistent"
When referencing strings as constants, things can become inconsistent.  Need to use modules that export constant references to keep consistency.

[2015-08-04 19:40] phated opened #222 "Decouple actions"
Currently, actions are highly coupled to a dispatch, this should be changed so they can be dispatched at different stages.

[2015-08-04 19:43] phated opened #223 "Switch independent stores for a top level atom"
Currently, all stores have to be managed separately but kept in sync.  Switch to a top level atom that is modified by reducers to keep everything synced.  This can be passed into the top level views (ref #217)

[2015-08-04 22:33] 2fast2fourier commented on #194
I was able to replicate this issue and tracked a connection leak to the serialport library. I've submitted a PR (garrows/browser-serialport/pull/38) and I will resolve this issue once the fix is verified and merged.

[2015-08-05 05:16] PropGit commented on #200
UPDATE:  This is worse than first thought.  Bumping up priority.

Using this code, where there's no CR (carriage return) in the DEBUG statement, causes the scroll thumb to change but no automatic scrolling action on the Receive Pane.  This is incorrect behavior that was working correctly in v0.5.0.  This lack of CR was accidental in this code, but there are often times where users leave it off on

[2015-08-06 04:06] phated opened #225 "Question: some auto download behavior not defined?"
@PropGit I thought up a scenario that I don't think we covered in the 4 items for the automatic download feature that was implemented.  See below.

**Scenario:** User has 2 BS2s and a BS2e attached to their computer.  Their source code has a BS2 directive.  They attempt to download.  They are prompted to choose a device due to having 2 BS2s attached but they select the BS2e.

**Questions:** What s

[2015-08-06 04:34] PropGit commented on #225
@phated Exactly.  During the scan for BASIC Stamps, if a single target can not be automatically reasoned, the app is left to ask the user, "Which one?"  If the answer the user gives doesn't match the module targeted by the code, the software must try to modify the code and recompile for that "answer" and then automatically download to that selected port if the recompile was successful.

I'm glad y

[2015-08-06 17:00] PropGit commented on #194
We have a customer in our educator's course today that is experiencing this; at least the pattern fits.  Very frustrating.  I hope this actually fixes it, but I'm skeptical.  Please test using multiple programs that contain repetitive DEBUG output- that's where I see it happen most often.

I don't remember having to restart Parallax IDE in order to solve this particular problem; I just have to use

[2015-08-06 19:07] PropGit opened #226 "Download progress invisible in Ubuntu (or Chromium?)"
The download progress bar is never visible when downloading on Ubuntu 14.04.  I'm using the default Chromium installation that came with the OS.

[2015-08-06 23:01] phated opened #227 "Refactor keyboard shortcuts to make context handling easier in the future"
Keyboard shortcuts need to be aware of the context the user is in throughout the application.  Need to make it easier to apply this context in the future when we start working on these issues.

[2015-08-06 23:04] phated opened #228 "Remove RxTx indicators from React"
RxTx need to be completely removed from the React machinery for the best performance.

[2015-08-07 02:15] phated commented on #225
Thanks, while doing the refactor, I found the code used around this case was fragile and was able to make it better/more robust thanks to your feedback.

[2015-08-07 02:17] phated commented on #207
Due to the filesystem refactor, this should be fixed in sprint 8.

[2015-08-07 02:22] phated commented on #208
Much of this was probably a side effect of the bad filesystem implementation.  I believe it should get better after this sprint, but might not be completely resolved.

Unfortunately, there is no way to implement a trap in the editor unless **ALL** filesystem operations were deferred to the background page (and I'm not sure if the background page has that access) which would be incredibly inefficie

[2015-08-07 02:44] PropGit commented on #225
Great find!  I appreciate it!

[2015-08-07 02:46] PropGit commented on #207
Looking forward to it.

[2015-08-07 19:10] phated commented on #206
This will be fixed by the refactor

[2015-08-07 19:13] phated commented on #209
The refactor handles this, but we only check the text content has no length.  If you were to type a space or tab, it would prompt.  Is that not desired behavior?

[2015-08-07 19:17] PropGit commented on #209
Can you wrap the text content in a trim function so the check would equate the whitespace-only content to no length?  That would achieve the results we want.

[2015-08-07 19:20] phated commented on #214
This will be fixed with the refactor

[2015-08-07 19:25] phated commented on #205
This will be fixed with the refactor

[2015-08-07 19:31] phated commented on #209
Yep, can do.  That's a really quick change and will be fixed with the refactor.

[2015-08-07 19:44] phated commented on #226
It would be helpful if you can post the version reported by the browser.

[2015-08-07 19:51] PropGit commented on #226
Good idea.  About Chromium says: Version 43.0.2357.130 Ubuntu 14.04 (64-bit)

[2015-08-07 20:20] phated opened #230 "Creating a new file while a new file with text is open doesn't prompt save"
I've verified that this is a bug as of 0.6.0 and will still be around after the refactor. However, the refactor should make it easier to fix in the future.

[2015-08-07 20:22] phated opened #231 "User configuration sometimes doesn't always save changes"
I'm not sure why this is happening, but there can be work done int the user configuration module dependency that makes this better a lot better.  This should be tackled ASAP.

I usually notice this the most when changing between projects or files and closing the app within a short period of time.

Ref #208 as a sibling issue

[2015-08-07 20:25] phated opened #232 "Changing project and closing app results in open error"
When open a file, the filename is saved in user config as the last file you opened.  When changing the project and restarting the application, the last file is attempted to be opened from the new project, but doesn't exist.

This will be fixed in the refactor by clearing the last file user config option.

[2015-08-07 21:29] #182 closed, assigned to nobody

[2015-08-07 21:29] #217 closed, assigned to nobody

[2015-08-07 21:29] #218 closed, assigned to nobody

[2015-08-07 21:29] #219 closed, assigned to nobody

[2015-08-07 21:29] #220 closed, assigned to nobody

[2015-08-07 21:29] #221 closed, assigned to nobody

[2015-08-07 21:29] #222 closed, assigned to nobody

[2015-08-07 21:29] #223 closed, assigned to nobody

[2015-08-07 21:29] #227 closed, assigned to nobody

[2015-08-07 21:29] #228 closed, assigned to nobody

[2015-08-07 21:29] #205 closed, assigned to nobody

[2015-08-07 21:29] #206 closed, assigned to nobody

[2015-08-07 21:29] #209 closed, assigned to nobody

[2015-08-07 21:29] #214 closed, assigned to nobody

[2015-08-07 21:29] #216 closed, assigned to nobody

[2015-08-07 21:29] #225 closed, assigned to nobody

[2015-08-07 21:29] #232 closed, assigned to nobody

[2015-08-07 21:31] phated commented on #195
This should be fixed with dependency updates.

[2015-08-07 21:31] #195 closed, assigned to 2fast2fourier

[2015-08-07 21:32] phated commented on #194
This should be fixed with dependency updates.  However, we were never able to duplicate this problem with the supplied source code, so it should be thoroughly tested by @PropGit.  Please re-open if the problem persists.

[2015-08-10 04:44] PropGit commented on #158
This relates to issue #81 and _possibly_ issue #92.

[2015-08-10 05:06] PropGit commented on #153
This is related to issue #154.

[2015-08-10 05:06] PropGit commented on #154
This relates to item #153.

[2015-08-10 05:42] PropGit commented on #104
This is related to issue #105.

[2015-08-17 20:49] PropGit commented on #232
This appears fixed to me now.  The only related problem seems to be that user config isn't always saved.

[2015-08-17 21:33] PropGit opened #233 "Download must pass tokenization first before port enumeration and scan"
The Download function (activated by menu, or F9, or Ctrl + R) must first tokenize the source.  If tokenizing successful, then it can enumerate ports and scan for BASIC Stamps.  If tokenizing failed, then display message and navigate to offending line in source (just like the Check Syntax function).

Currently, the Download function enumerates ports and scans for BASIC Stamps before it even knows i

[2015-08-17 21:34] PropGit commented on #228
Testing: cannot verify this.  RxTx indicators seem the same as before.

[2015-08-17 21:34] PropGit commented on #227
Testing: cannot verify this.

[2015-08-17 21:36] PropGit commented on #223
Testing: cannot verify this.

[2015-08-17 21:36] PropGit commented on #222
Testing: cannot verify this.

[2015-08-17 21:37] PropGit commented on #221
Testing: cannot verify this.

[2015-08-17 21:37] PropGit commented on #220
Testing: cannot verify this.

[2015-08-17 21:38] PropGit commented on #219
Testing: cannot verify this.

[2015-08-17 21:38] PropGit commented on #218
Testing: cannot verify this.

[2015-08-17 21:38] PropGit commented on #217
Testing: cannot verify this.

[2015-08-17 21:39] PropGit commented on #216
Verified correct.

[2015-08-17 21:39] PropGit commented on #214
Verified correct.

[2015-08-17 21:42] PropGit commented on #209
Verified correct.

[2015-08-17 22:10] PropGit opened #234 "Temporary source reopens only every other time"
New unsaved source code reopens in the app _only every other time_.  [Watch this video](https://drive.google.com/file/d/0B0tev9Y3WaL4UWI4N09RblhzZ3M/view?usp=sharing) for a demonstration.

This may be related to issue #231, #232, #235, and #236.

[2015-08-17 22:13] PropGit opened #235 "Trouble creating and saving new file source"
App v0.7.0's temporary file or file storage logic seems to be broken.

[Watch this video](https://drive.google.com/file/d/0B0tev9Y3WaL4QTBFWG5SVUtwMVk/view?usp=sharing) for a demonstration of my struggles just to create and save new source.

This may be related to issue #231, #232, #234, and #236.

[2015-08-17 22:17] PropGit opened #236 "Seriously broken file storage and start of session recovery"
I don't even know how to describe the numerous problems I'm seeing with file creating, saving, and session restart.  Please [watch this video](https://drive.google.com/file/d/0B0tev9Y3WaL4MUJjeHAwdlQzMHM/view?usp=sharing) for demonstration of this file monkey business.

This may be related to issue #231, #232, #234, and #235.

[2015-08-17 22:30] PropGit commented on #207
Unable to fully test this because of issues #231, #232, #234, #235, and #236.

[2015-08-17 22:32] PropGit commented on #206
Verified correct.

[2015-08-17 22:33] PropGit commented on #205
Verified correct.

[2015-08-17 22:43] PropGit commented on #195
Verified correct.  Yay!

[2015-08-17 22:58] PropGit commented on #194
This problem is not entirely fixed.

The original problem still exists exactly as before using the Branch code and demonstrated by the first video in [the first post](https://github.com/parallaxinc/Parallax-IDE/issues/194#issue-95590633).

The second and likely related problem noted by the second video and the Debug_Debugin code (below) still occurs, but not with as much frequency.  Sometimes it f

[2015-08-17 23:00] PropGit commented on #182
Verified correct.

[2015-08-17 23:08] phated commented on #194
Requires more research and information, as we are not able to duplicate with the given code.

[2015-08-17 23:10] PropGit commented on #194
Let's add it to the next Sprint and I'll follow-up with more research at that time.

Question: Do you have a logic analyzer?  I can't remember.

[2015-08-18 18:53] phated commented on #236
This is a duplicate of #231

[2015-08-18 18:55] phated commented on #235
Most likely a duplicate of #231

[2015-08-18 18:55] phated commented on #234
Duplicate of #231

[2015-08-18 19:00] 2fast2fourier commented on #194
Yea, I have a Saleae logic analyzer, it should work fine for this case. I wasn't able to get the code above to replicate the problem, but I can start by running it again and watching the serial lines. That'll let me see if I was just lucky and was avoiding a timing issue on my end.

If you can come up with any other examples that might cause the issue more reliably, that would help a ton.

[2015-08-18 20:29] PropGit opened #237 "Errant 0 at end of Identification Sequence"
The Parallax IDE is sending an extra byte (a zero) after the Identify sequence.  Here's [a video showing the BSE's and Parallax IDE's signal traces](https://drive.google.com/file/d/0B0tev9Y3WaL4Mm5kNUZ5RjhRSTg/view?usp=sharing).

[2015-08-18 20:30] PropGit commented on #194
Okay, I'll try to discover more.

As it might related to this (but maybe not), take a look at Issue #237.

[2015-08-18 20:46] PropGit commented on #177
I'm reopening this issue because the repair performed, while it must have improved things, did not fix this problem.

[2015-08-18 20:58] PropGit commented on #237
Nevermind, I realize now that this is an optional and legal behavior.

[2015-08-18 20:58] #237 closed, assigned to nobody

[2015-08-18 20:59] PropGit commented on #194
Please disgregard #237.  My mistake, it's a legal and optional part of the protocol.

But this issue here is still a problem.  I'll try to give more info if I can.

[2015-08-18 21:41] PropGit commented on #194
Here's some more evidence to study.  There are some unexpected behaviors from Parallax IDE that show up here.

To start with, for reference here's a trace of the BSE software:
- Downloading the BRANCH source to the BS2 (there's an Identify step that is automatically done at the start of Download process as part of the port scanning procedure, so effectively there's two identifications for the down

[2015-08-18 23:00] PropGit commented on #177
Closing this issue as it is referenced by a similar issue, #194.

[2015-08-18 23:00] #177 closed, assigned to 2fast2fourier

[2015-08-18 23:09] PropGit commented on #194
Here is the Saleae Logic 8 capture files from the previous post.

[BSE (BASIC Stamp Editor) Run + Three Identifies](https://drive.google.com/file/d/0B0tev9Y3WaL4Y0o1eUUzcW9vR2s/view?usp=sharing)

[Parallax IDE Run + Three Identifies](https://drive.google.com/file/d/0B0tev9Y3WaL4YldsMDZpUVlGV00/view?usp=sharing)

[2015-08-19 01:21] PropGit opened #238 "Can't test syncFileSystem; it seems to not be working"
syncFileSystem has never worked for me.  ie: I've created many source files in Parallax IDE on my computer while logged into a particular account in Chrome and those files never show up in Parallax IDE on another computer while logged in to the same account.

I've specifically retested this again today between my main development machine and my laptop (both Win 7 Pro 64-bit) logged into Chrome usi

[2015-08-19 01:36] PropGit opened #239 "Create account name view"
[UPDATED]

Because people could use multiple Google accounts, or stay logged out, we need a way for Parallax IDE to display the Google account being used.

I like how Chrome does this:
![image](https://cloud.githubusercontent.com/assets/1266318/9346864/d4584cb0-45d6-11e5-9142-3d9eebf20b24.png)
nice and tidy.  Let's do something equally concise; exactly the same if possible.

It should display the

[2015-08-19 01:40] PropGit opened #240 "User can log in using Parallax IDE"
Allow the user to log in through Parallax IDE.

Continuing from Issue #239, if the account name display is clicked on, a dialog appears allowing the user to select a known account, or enter a new one, enter a password, and click a button to log in.

[2015-08-19 01:44] PropGit opened #241 "User can switch accounts via Parallax IDE"
Similar to Issue #240, allow the user to click the account name button to switch to a different account, via a known account list or by adding a new one, entering a password, and clicking a button to log in.

We prefer this to use the same UI as Chrome does (below), if that API is exposed by Google, or modeled in a similar fashion.

![image](https://cloud.githubusercontent.com/assets/1266318/93470

[2015-08-19 02:16] PropGit commented on #196
If you find error codes for other possibilities in Google Serial API, please let me know so I can decide how to handle them.

[2015-08-19 02:25] PropGit commented on #238
NOTE: For v0.6.0, I verified that both systems showed the extension with the same ID.  They do- exactly the same:

![image](https://cloud.githubusercontent.com/assets/1266318/9347485/ebec5f6c-45de-11e5-8012-201f9121f495.png)

[2015-08-20 19:13] PropGit commented on #57
@urbantumbleweed - looks like Chromium in RPi is stuck at old versions.

It shows Version 22.0.1229.94 Built on Debian 7.0, running on Debian 7.8 (161065)

Thinking there must be an updated build somewhere or that I could build it on the RPI, I started looking around and came up with the following Q&A's that lead to dismal thoughts:

https://www.raspberrypi.org/forums/viewtopic.php?t=51897&p=40151

[2015-08-24 20:19] #200 closed, assigned to 2fast2fourier

[2015-08-24 20:19] #201 closed, assigned to 2fast2fourier

[2015-08-24 20:19] #203 closed, assigned to 2fast2fourier

[2015-08-25 19:14] 2fast2fourier commented on #194
I've identified what appears to be the cause of this. I wasn't able to replicate this issue on OSX/Chromebook, but on WinXP and Win10 I was able to replicate it with the provided program and other programs with excessive `DEBUG` messaging early in the program.

I came across an [existing ticket](https://code.google.com/p/chromium/issues/detail?id=414105) for Chrome that described the same issue, w

[2015-08-25 19:53] #207 closed, assigned to nobody

[2015-08-25 19:53] #208 closed, assigned to nobody

[2015-08-25 19:53] #231 closed, assigned to nobody

[2015-08-25 19:53] #234 closed, assigned to nobody

[2015-08-25 19:53] #235 closed, assigned to nobody

[2015-08-25 19:53] #236 closed, assigned to nobody

[2015-08-25 20:03] phated commented on #194
@PropGit I think we should target the version of chrome which the linked patch lands in.  It doesn't seem to be a good idea to forgo all error handling for a single case that only happens on Windows.  I found a graph on new version uptake at http://clicky.com/marketshare/global/web-browsers/google-chrome/ that shows that chrome has near-perfect uptake when a new version is released.

[2015-08-25 20:06] PropGit commented on #194
@2fast2fourier - Thanks.  Once I can test the workaround branch, we can decide further on this.  If it all works, we or I can create another issue to further address this with a later stable release of Chrome and hopefully handle each of the distinct errors appropriately (choosing to lump some of them together, perhaps).

The CE_OVERRUN error is not one I would have expected at this point; that's

[2015-08-25 20:13] PropGit commented on #194
@phated - Are we looking at a few months out by doing that?  The noted errors are all reception errors that are soft issues from our perspective; things that happen due to context changes (like opening a port that was otherwise closed but with a device on it that was sending data already, or performing a reset on the hardware that was in the middle of sending data).

Unless there's other errors of

[2015-08-26 00:13] 2fast2fourier commented on #194
A small update, the patch I mentioned before is in the chrome dev channel and scheduled for v46. v45 should release in September (44 was 7/21), meaning 46 will probably release late October or early November.

After digging into this I found out that I'm actually running into framing errors, not overruns. The timing on this is unusual, I'm still working out the exact series of serial events. I'll

[2015-08-26 23:00] PropGit commented on #194
@2fast2fourier - framing errors make a lot more sense to me, assuming the system hardware is ignoring the incoming data stream until the moment the app requests to open the port.  ie: data is coming in from the BASIC Stamp and is asynchronous to the moment of port open, meaning the port can be opened and will likely end up receiving a low data bit at some point which will be misinterpreted as bein

[2015-08-27 19:55] #230 closed, assigned to nobody

[2015-08-27 22:16] 2fast2fourier commented on #211
Fixed in bs2-serialport 0.8.0 ([commit](https://github.com/irkenjs/bs2-serialport/commit/6eb9b9f7ca47f1b57f73cc563483c974567db1dc))

The above test results appear correct, all three sections have the correct whitespace.

[2015-08-27 22:16] #211 closed, assigned to 2fast2fourier

[2015-08-28 01:10] #233 closed, assigned to nobody

[2015-08-28 01:18] #196 closed, assigned to 2fast2fourier

[2015-08-28 01:44] 2fast2fourier commented on #194
@PropGit I've been working on this a while, and this is definitely a pretty complex issue. The big spike in framing errors stems from the data being received while we are in the pseudo-break condition. One of the complicating factors is some rather loose timing within `chrome.serial`, various callbacks can sometimes take 10ms to notify us of a successful serial command. This makes it really easy f

[2015-08-28 21:28] PropGit commented on #194
@2fast2fourier I have some insight here, or at least a potentially related item.

**Regarding Framing Errors**
At some point last decade, I started seeing certain computers (UART hardware) that would erroneously receive in a number of bytes during the break condition during the reflected signal from the BS2 modules.  This had never happened in the years before.  I truly don't know if it was hardwa

[2015-08-29 00:43] phated opened #247 "Hide the "Don't Save" button when discarding a file isn't a desired behavior"
Currently, if a file is a brand new (unsaved) file, the Save/Save As prompt has a "Don't Save" button.  This is desired when a user attempts to change from a new file to a previously saved file and is prompted to save.  However, this is incorrect UI behavior when the user is just using the Save/Save As functionality of the editor.  We need to hide the "Don't Save" button when we are not in the "Ch

[2015-08-29 23:13] PropGit commented on #236
Verified fixed.  Ran the same tests (with the same code even) as in the demo video.

[2015-08-29 23:46] PropGit commented on #247
NOTE: This is a new behavior (bug) in v0.7.1; it did not behave this way in v0.7.0 as you can see about 20 seconds into [this video](https://drive.google.com/file/d/0B0tev9Y3WaL4QTBFWG5SVUtwMVk/view?usp=sharing) that was recorded for issues #235.

It seems to only happen incorrectly when it is a new file and either the Save or Save As operation is user-activated.  After it is saved, an Save As ope

[2015-08-29 23:50] PropGit commented on #235
Verified fixed using the same steps as in the demo video.

[2015-08-30 00:07] PropGit commented on #234
Verified fixed via the same steps described in the demo video.

[2015-08-30 00:51] PropGit opened #248 "User configuration still not always saved"
[Related to Issue #231]

The problem addressed in issue #231 is indeed better but is still not fully fixed.

Here's an [example case video](https://drive.google.com/file/d/0B0tev9Y3WaL4Q2ZhUExZTHpqNG8/view?usp=sharing) depicting what happens to me about 10% of the time - Last state not always saved.

The video shows one case, but it happens in other ways as well, causing the last state to be lost

[2015-08-30 00:53] PropGit opened #249 "New blank file state doesn't override last unsaved file"
Creating a new blank file (not saving) and restarting the session results in the display of the last new unsaved file text as [demonstrated in video](https://drive.google.com/file/d/0B0tev9Y3WaL4ZU1adk94ck5fYU0/view?usp=sharing).

[2015-08-30 00:55] PropGit commented on #231
This is much better now, but there are still occasions where the state fails to save (or restore) as described in new Issue #248.

[2015-08-30 01:04] PropGit commented on #196
Verified implemented.

There is, however, a platform-based scroll-bar issue as noted in Issue #250.

[2015-08-30 01:10] PropGit opened #250 "Port status scroll bars interfere with display of text"
On a Mac platform during the Sprint 9 demo, the port status message display looked fine, but on Windows (and maybe other platforms) the horizontal scroll bar obscures the text also causes a vertical scroll bar to appear because of it.

![image](https://cloud.githubusercontent.com/assets/1266318/9565257/1dec2054-4e79-11e5-9818-3830438c42b3.png)

[2015-08-30 01:16] PropGit opened #251 "Differentiate title message on Identification overlay versus Download overlay"
It's confusing asking for an Identification and seeing the message "Please choose your connected device."

We'd like this changed to be different if performing an Identification versus a Download.

[Message to be determined at time of issue adoption].

[2015-08-30 01:18] PropGit commented on #233
Verified fixed.

[2015-08-30 03:50] PropGit commented on #230
Verified fixed.

[2015-08-30 03:57] PropGit commented on #211
Verified fixed!

[2015-08-30 04:14] PropGit commented on #208
Verified that this seems to be fixed.  It was not a definitive problem (occurred at random) but I haven't seen it happen through extensive tests in v0.7.1 now.

[2015-08-30 04:16] PropGit commented on #207
Verified fixed.

[2015-08-30 04:23] PropGit commented on #203
Verified fixed.

[2015-08-30 04:26] PropGit commented on #201
Verified fixed.

[2015-08-30 04:28] PropGit commented on #200
Verified fixed.

[2015-09-01 17:12] PropGit opened #252 "Add Help link (F1)"
Add a Help menu item that links to an on-line resource (to be opened in Chrome).

Parallax will maintain the linked page to provide the help resources needed for users.  Initially, this will be a PBASIC Language Reference.

For this release, the link should be:  [http://www.parallax.com/go/PBASICHelp](http://www.parallax.com/go/PBASICHelp)

[2015-09-01 17:16] PropGit opened #253 "New files get default directives"
We currently don't have Stamp and PBASIC directive quick-access buttons - we need to ease the pain of users creating new files.

For a temporary time, we want all new files to automatically have the default Stamp and PBASIC directives inserted into them.

[code]

[2015-09-01 17:20] PropGit commented on #238
Implement Issues #239, #240, and #241 to assist with addressing this issue.

[2015-09-01 17:51] phated commented on #253
Note: this will cause the user to **always** be prompted to save a new file because it now has text in it.

[2015-09-01 19:27] PropGit commented on #253
Understood; we accept those results as having the directives are normally what the user wants as he/she is starting to write new code anyway.

This is a temporary measure that will be replaced with a different, although similar, method of swiftly getting the directives in-place.  We may or may not choose to address the non-blank-but-still-disposable source issue in a nicer way in the future.

[2015-09-01 20:20] PropGit commented on #199
This issue is logically tied to Issue #202.  They both need to be addressed together.

[2015-09-01 20:34] PropGit commented on #250
For now, temporarily, let's increase the row height to get around this issue.

[2015-09-01 20:53] PropGit commented on #252
As discussed in our meeting, we can not add this as a UI element currently.

Please add this as a link that is activated by the F1 key.

[2015-09-03 19:09] PropGit commented on #194
@2fast2fourier - I sent an email... I built and ran but get a "serial.break is not a function" error.

[2015-09-04 00:08] PropGit commented on #194
I can see the break condition working with the experimental-break branch's build and Chrome 46.0.2490.13 beta-m installed.

The reset signal is way outside of the break condition though, which causes the BASIC Stamp to wake up, see no break condition (yet) and move on to its normal operation, ignoring any further data from the host trying to program it.

The BASIC Stamp wakes up from reset in roug

[2015-09-04 00:21] 2fast2fourier commented on #194
That DTR is only showing the leading edge, and I was experimenting with bringing DTR high before break, and dropping it immediately after, like the trick you mention. I was under the assumption that the reset only finished on DTR falling edge, but what happens while DTR is high? There's a relatively long period between DTR on/off due to the callback events (~16ms at best), I might be able to work

[2015-09-05 15:12] PropGit commented on #194
@2fast2fourier - No, I just zoomed out the image too far to see all of DTR; it's a high pulse of only 1.08 uS in my capture, rising edge and falling edge.

You're right, the _reset_ condition ends upon DTR falling edge (and about 18 mS later the BASIC Stamp is fully awake).  While DTR is high, the BASIC Stamp is asleep.

By DTR on/off do you mean DTR high/low (as seen by the BASIC Stamp)?  The len

[2015-09-09 17:38] PropGit opened #256 "Update short description again"
To more closely fit our current target audience, please change the app's short description to read:

[2015-09-09 17:39] PropGit commented on #256
@urbantumbleweed - can we fit this issue into Sprint 10?

[2015-09-09 17:42] PropGit commented on #253
UPDATE: I updated the first post's code to include two blank lines.

Is it possible to place the cursor at the start of the 4th line (2nd blank line) when, and only when, this text is placed in the edit by the New operation?

[2015-09-09 23:43] #212 closed, assigned to 2fast2fourier

[2015-09-10 20:23] #199 closed, assigned to 2fast2fourier

[2015-09-10 20:24] #256 closed, assigned to urbantumbleweed

[2015-09-10 20:37] urbantumbleweed commented on #168
@monteslu to address this issue you are going to want to look at the following files:

1. [src/views/save-overlay.js](https://github.com/parallaxinc/Parallax-IDE/blob/master/src/views/save-overlay.js)
1. [src/plugins/overlays.js](https://github.com/parallaxinc/Parallax-IDE/blob/master/src/plugins/overlays.js)
1. [client.js](https://github.com/parallaxinc/Parallax-IDE/blob/master/client.js)

I susp

[2015-09-11 22:55] 2fast2fourier commented on #194
@PropGit I've made some changes on my `experimental-break` branch, can you remove `node_modules`, reinstall, and check it out? I've found a workaround for an issue where it can't recover from `system_error` state by structuring the handshake and closing/reopening the connection at a specific point if we run into the error state.

It seems to improve the success rate considerably, but I'm still wor

[2015-09-14 06:46] #250 closed, assigned to urbantumbleweed

[2015-09-14 18:47] #252 closed, assigned to monteslu

[2015-09-14 18:59] #168 closed, assigned to monteslu

[2015-09-14 19:23] #215 closed, assigned to monteslu

[2015-09-14 19:33] #248 closed, assigned to monteslu

[2015-09-14 20:43] PropGit commented on #194
@2fast2fourier - I removed node_modules and then did a git pull origin experimental-break and it tells me my branch is already up-to-date.

I'm on commit 5de0fe... from Sept 1st.

[2015-09-14 20:47] 2fast2fourier commented on #194
@PropGit That's the right commit for the main repo, the changes are in `bs2-serial-protocol` which will be installed when you `npm install` again. Deleting `node_modules` ensures we'll get an up to date version.

[2015-09-14 20:49] PropGit commented on #194
@2fast2fourier - Okay, rebuilding now.

[2015-09-14 21:01] #247 closed, assigned to urbantumbleweed

[2015-09-14 21:06] PropGit commented on #194
No successful identification on Windows 7.

Here's the full scan:

![image](https://cloud.githubusercontent.com/assets/1266318/9861775/55a1467e-5ae9-11e5-9281-1c472d4a3b9c.png)

Here's progressive zooms of the scan for BS2:
![image](https://cloud.githubusercontent.com/assets/1266318/9861794/78617b5c-5ae9-11e5-87f1-cd24c49efe4f.png)

![image](https://cloud.githubusercontent.com/assets/1266318/98618

[2015-09-14 21:36] #253 closed, assigned to monteslu

[2015-09-14 23:54] urbantumbleweed commented on #238
This issue is at a point where internal decisions need to be made within Parallax.  The discussion will continue when desired interactions are clearly defined and can be translated into smaller issues.

[2015-09-16 14:01] PropGit commented on #256
Verified done.

[2015-09-16 14:07] PropGit commented on #253
Verified done.

[2015-09-16 14:23] PropGit opened #268 "Save file overlay is missing "Don't Save" option for New Operation"
[EDITED based on Sprint 11 discussion]

A side-effect of Issue #263 is that a New Operation while on a new unsaved file leaves the overlay without a "Don't Save" option.

If a user creates a new file for a quick experiment (perhaps a copy and paste from somewhere else) then decides to start over, thus creating a new file again, the "Do you want to save..." overlay is left without the "Don't Save"

[2015-09-16 14:23] PropGit commented on #247
Verified fixed.  However, this has led to a side effect noted in issue #268.

[2015-09-16 14:29] PropGit commented on #252
Verified done.

Note: security policies prevent linking programmatically.  The solution is instead to display an overlay with a link to the resource that the user must then click on.  This turns out to not be too disappointing here because we can provide multiple resource links on the overlay and limit the help menu to a single menu item.

[2015-09-16 14:33] PropGit commented on #250
Verified fixed.

![image](https://cloud.githubusercontent.com/assets/1266318/9907676/20b4ccf8-5c45-11e5-81ed-c347004a9fde.png)

[2015-09-16 14:37] PropGit commented on #248
Verified fixed; at least, I have not seen this happen again, yet.

[2015-09-16 14:40] PropGit commented on #215
Verified done!  Thank you!  This helps so much.

[2015-09-16 15:13] PropGit commented on #168
Verified done.

[2015-09-16 15:32] PropGit commented on #212
Verified fixed.

[2015-09-16 15:51] PropGit opened #269 "Debug Terminal: CLRDN (12) doesn't clear the line the cursor is on"
When the CLRDN (12) control character is received, the Debug Terminal needs to clear lines _starting_ with the line the cursor is on.  This is described in the [Debug Terminal document](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing).

Instead, it currently starts with the line _below_ that of the cursor.

**Example:**
This code...

[code]

should

[2015-09-16 16:25] PropGit commented on #202
@2fast2fourier - First, I'm officially recognizing that you've improved the processing and visual response of the Receive Pane very much.  It now delivers a very snappy response to fast-received data; nearly as fast and smooth as the BSE!  Fantastic!

However, the original problem shown in the first video still exists, although it seems to be a little better than before.  In addition, if you take

[2015-09-16 16:33] PropGit commented on #199
Verified done.

[2015-09-16 18:13] PropGit commented on #249
I can not duplicate this in v0.8.0.  It may have been fixed as a result of other work.  Adding this to Milestone 10 and closing.

[2015-09-16 18:13] #249 closed, assigned to nobody

[2015-09-16 21:19] urbantumbleweed opened #270 "application context architecture"
There are a number of keyboard shortcuts that should work differently depending on the current view state of the application.  The concept of context has not yet been built into the application and will need to be prior to being able to resolve issues that depend on the the feature.

Examples of issues that depend on context are: #104 and #105.

[2015-09-16 21:22] phated opened #271 "Simplify versioning through npm lifecycles"
Currently, versioning is a 2-step process.  It can be simplified to a single step process through npm's lifecycle methods around versioning.

[2015-09-17 16:35] PropGit commented on #270
Context also affects mouse responses and touch gestures (when on touch-interface devices).

[2015-09-17 16:51] PropGit commented on #270
There may also be logical groups of keys that can be defined and those groups have the same meaning in different contexts, while no meaning in other contexts.

[2015-09-17 17:36] PropGit opened #272 "What keyboard shortcuts is CodeMirror supporting?"
Is there a list of keyboard shortcuts you can provide that CodeMirror is supporting by default (in Parallax IDE)?

[2015-09-17 19:21] urbantumbleweed commented on #272
This is something we can look into.  The application did modify some of the default behavior so to provide a complete answer we will need to look at that as well.

[2015-09-17 19:27] PropGit commented on #270
Definition of _Key Groups_ and _Contexts_:

**Key Groups:**
[Logical groups of keys that have similar meaning in certain contexts]
- **Text**
  - Includes 190+ key combinations that emit glyphs by themselves (0x20..0x7E, 0xA0..0xFE, and most Unicode glyphs)
  - Alt-# combinations
  - _FUTURE_: Propeller support will add an additional 58 glyph codes which are emitted for certain key combinations
-

[2015-09-17 19:43] PropGit commented on #272
Yes, perfect.  Thank you.

[2015-09-17 20:04] PropGit commented on #241
Per discussion, this is not possible due to security policies.

[2015-09-17 20:04] #241 closed, assigned to nobody

[2015-09-17 20:04] PropGit commented on #240
Per discussion, this is not possible due to security policies.

[2015-09-17 20:04] #240 closed, assigned to nobody

[2015-09-17 21:04] urbantumbleweed opened #273 "Switch application to new message and prompt architecture"
Need to make the application use google's internationalization api

[2015-09-17 21:30] PropGit commented on #239
Per discussion: There _may_ be some way to retrieve user's account name or email address... or there may not be a way.

[2015-09-17 21:33] phated commented on #239
It seems that another permission was needed to get the email address with the `chrome.identity.getProfileUserInfo` API (more information at http://stackoverflow.com/a/25547737).

However, that stack overflow comment has a reply that says it always returns the first account if multiple accounts are signed in to chrome.  I haven't tested to see if that still is the case (the thread is from 2014).

[2015-09-17 22:09] PropGit commented on #239
@phated - Awesome!  Looks like they've updated the documentation to say that the `identity.email` permission must be set.

It also says: The information returned is available offline, and **it only applies to the primary account for the profile**.

What does _primary account_ mean for us?  I'd think that's what we want.

[2015-09-17 22:11] phated commented on #239
I think primary account means "first account added" not current account, unfortunately.  I'm just basing that on the stack overflow answer linked and haven't investigated that assumption.

[2015-09-18 20:54] phated opened #276 "When prompted with overwrite dialog, user loses "Don't Save" option upon "Cancel""
This is related to #270.  We are unable to tell where the "overwrite" dialog was opened from and whether it had a "Don't Save" button, so you are returned to the save dialog without the "Don't Save" button.

[2015-09-19 05:12] PropGit commented on #194
@2fast2fourier - Following up on our meeting discussion, here are some details from the Windows Delphi-based serial code I wrote for BSE.

The [entire Serial.pas unit](https://drive.google.com/file/d/0B0tev9Y3WaL4S1lrR2VSdG9zams/view?usp=sharing) can be viewed, but here is a summary (with unimportant details left out for brevity):

The `TSerial.Open` method converts the COM port ID to UNC form, th

[2015-09-19 05:18] PropGit commented on #194
@2fast2fourier - Some other notable methods in Serial.pas are `TSerial.FlushRX` and `TSerial.SetTimeouts`.

[2015-09-19 05:44] PropGit commented on #184
@2fast2fourier - I must have mis-remembered how this was implemented.

In my [Debug.pas unit](https://drive.google.com/file/d/0B0tev9Y3WaL4SW5tS25rLU11TzQ/view?usp=sharing), the `TransmitterKeyPress` method simply increments a counter for every character typed into the Transmit Pane:

[code]

Then, the `RemoveEchoedChars` method is called from a separate EventThread that monitors the serial port:

[2015-09-19 05:53] PropGit commented on #276
@phated - Good catch!

[2015-09-21 19:25] 2fast2fourier commented on #194
I've isolated this down to an issue with chrome's serial connection hanging after receiving a framing error. I've opened an bug on the chromium project, and included a demo app that will hopefully make it really easy for them to replicate. https://code.google.com/p/chromium/issues/detail?id=534517

At this point, without a fix for that specific issue, I have minimized the cases that will trigger t

[2015-09-21 20:04] PropGit commented on #194
@2fast2fourier - Thank you for this report and for submitting the bug report on Chromium too.

The 200 ms delay will be a workaround we'll have to add to example code for now.

QUESTION: Are you saying that the reflected break condition doesn't cause a framing error and a resulting lock-out of controlling the port?

NOTE: Resets outside of break (via dev board reset button) are not super common, b

[2015-09-21 20:20] PropGit commented on #194
@2fast2fourier

In the Chromium bug report, you say:

Is `serial_event_dispatcher.cc` a part of the Chromium project (ie: not something we can override in Parallax IDE)?  Because, automatic pausing of port processing/activity upon errors like this is something we don't experience in BSE and thus we can handle it on a higher level right where we need it (and we choose to ignore it and move on; exac

[2015-09-21 20:23] 2fast2fourier commented on #194
@PropGit For the first question, that reflected break is the primary cause of our framing errors if it occurs while the board is transmitting. Otherwise breaks seem to be pretty safe if it occurs while the device isn't sending.

`SEROUT` triggered frame errors are definitely something we probably want to handle, but they aren't as likely to be an issue while programming so I think that should be a

[2015-09-21 21:30] PropGit commented on #194
@2fast2fourier - Thank you.

FYI: Ironically, this morning a customer reported having a problem that I think is exactly this issue.

[2015-09-23 21:38] urbantumbleweed commented on #272
Jeff,

Here are the key-mappings that are enabled by default in CodeMirror.  Included are key-mappings for both 'pc' and 'mac'.  Below the first list are CodeMirror key-bindings that have been disabled replaced custom mappings in Parallax through our key-mapping library, Iggins.

{ Left: 'goCharLeft',
  Right: 'goCharRight',
  Up: 'goLineUp',
  Down: 'goLineDown',
  End: 'goLineEnd',
  Home: 'goLi

[2015-09-23 22:40] PropGit commented on #272
@urbantumbleweed - Thank you!

[2015-09-24 16:38] PropGit opened #277 "Open/Create Project prompt's scrollbar ignores mouse"
The Open/Create Project overlay will show a vertical scrollbar once there are too many projects to fit in the visible space, however, the scrollbar does not respond to mouse clicks or click-drag events.  It will respond to mouse-wheel events however.

This was tested on Win 7 64-bit.

[2015-09-24 16:50] PropGit opened #278 "Delete Project prompt does not disappear with click of Yes button"
Opening the Open/Create Project prompt and clicking on a project's trashcan icon displays the Delete Confirmation prompt.
- Clicking No hides the prompt and takes user back to the Open/Create Prompt as expected
- Clicking Yes provides click feedback (animation), but the Delete Confirmation prompt does not disappear and there's no confirmation toast
  - Clicking Yes again does the same as above exc

[2015-09-24 18:07] PropGit opened #279 "Are syncFileSystem file operations atomic?"
_[syncFileSystem questions related to issue #238]_

For any individual file, does syncFileSystem treat it atomically?
- When two devices write to the same file simultaneously, the system preempts one of them until the other is completely done with the write operation?
- When one device writes to a file simultaneous with another device reading from that file, the system ensures the reader gets eith

[2015-09-24 18:22] PropGit opened #280 "Force sync now?"
[syncFileSystem questions related to issue #238]

Can we force a sync with syncFileSystem at will?
- If a file or project was created or updated, is the app relying on syncFileSystem to perform the sync operation whenever it feels like it, or do we tell it to sync now?
- If the former, can we tell it to sync now?

FYI: These questions are due to the noticeable and indeterministic delays in updatin

[2015-09-24 23:25] PropGit opened #281 "Modify error "Failed to change file to 'File1'""
This message would be more clear if it stated something like:

[2015-09-25 15:43] PropGit commented on #272
@urbantumbleweed - Ctrl-T and Cmd-T (which are in the disabled list) are not listed in the CodeMirror key-mappings.  Is that a mistake, or is there some missing information?

[2015-09-25 15:58] PropGit commented on #272
@urbantumbleweed - Ctrl-Search-Left and Ctrl-Search-Right are Chromebook shortcuts for jumping to start/end of source, but I don't see them listed.  Are these mapped directly by Chrome OS to be equivalent?  ie: Search-Left = Home (PC) and Search-Right = End (PC)?

[2015-09-25 16:00] PropGit commented on #272
@urbantumbleweed - Do you know what Esc does?  It's mapped to "singleSelection" but I can't determine what this means or does.

[2015-09-25 16:06] PropGit commented on #272
@urbantumbleweed - I have Cmd-Up and Cmd-Down (Mac) documented as being equivalent to Ctrl-Up and Ctrl-Down (PC) which map to goDocStart and goDocEnd.  However, it's listed here as being disabled.

Is it really disabled and why?

[2015-09-25 16:14] PropGit commented on #272
@urbantumbleweed - Ctrl-Left and Alt-Left (and Ctrl-Right and Alt-Right) map to the same function goGroupLeft (or goGroupRight) but in practice (at least on Windows) they do different things.

The Ctrl-Left/Ctrl-Right move the cursor by words and the Alt-Left/Alt-Right move the cursor to the beginning or ending of the source line (like Home and End do).

It's hard to take this list at face value b

[2015-09-25 16:22] PropGit commented on #272
@urbantumbleweed - By accident, I found that Shift-Delete deletes the the current source line (deleteLine), just like Ctrl-D and Cmd-D do, but this shortcut key is not listed.

[2015-09-25 16:57] PropGit commented on #272
@urbantumbleweed - I'm now sure there are missing shortcuts in this list, such as Ctrl-C, Ctrl-X, Ctrl-V.

[2015-09-25 19:30] #269 closed, assigned to 2fast2fourier

[2015-09-25 20:16] #271 closed, assigned to nobody

[2015-09-25 20:28] #184 closed, assigned to 2fast2fourier

[2015-09-25 20:29] #268 closed, assigned to nobody

[2015-09-25 21:56] PropGit opened #283 "Enhance Tab key function"
**Background**
Issues #88, #112, #120 led to the current implementation of the Tab key's function in source, which functions like Ctrl/Cmd-] (mapped to `indentMore`) for both single line and multiple selected lines.

However, that's not the exact implementation we intended for Tab.

**Demonstration of Intent of Tab**

**Single Line With or Without Selection**
With cursor in _any_ position on a lin

[2015-09-25 22:24] PropGit opened #284 "Enhance Shift-Tab key function"
**Background**
[This operation is the complement of the Tab key (issue #283)]
Issues #88, #112, #121 led to the current implementation of the Shift-Tab key's function in source, which functions like Ctrl/Cmd-[ (mapped to `indentLess`) for both single line and multiple selected lines.

However, that's not the exact implementation we intended for Shift-Tab.

**Demonstration of Intent of Shift-Tab**

[2015-09-28 07:41] phated commented on #272
@PropGit most of what you are listing in all the above comments are system level shortcuts and not something we have control over.

Ctrl+C - System level copy
Ctrl+X - System level cut
Ctrl+V - System level paste
Shift+Delete - Unable to duplicate on Mac, but the delete is more like backspace (deletes one character).  Have a feeling that Windows Shift+Delete is a system thing.
Alt+Left/Alt+Right -

[2015-09-28 15:33] PropGit commented on #272
@phated Thanks for the info.  That makes sense.

Looking forward to your further review too.

[2015-09-28 15:48] PropGit commented on #238
**Update**
@phated and @urbantumbleweed - I've been figuring out cases where our current implementation does something destructive or unexpected (from a user's point of view, not necessarily from ours).  It's difficult to realize this because there are so many possibilities that are hard to wrap my mind around and part of the nature seems somewhat indeterministic.  I finally realized I need to mak

[2015-09-28 20:16] urbantumbleweed commented on #270
@PropGit After much thought and discussion on this issue a concept has emerged that we are proving internally. Here is a summary of the thought processes thus far.

The current state of the application does not include the concept of context. This means that event handlers are registered at the root level of the application and are triggered universally during a user's session. For this reason, pr

[2015-09-28 20:39] PropGit commented on #270
@urbantumbleweed - Awesome work guys!  Sounds like you really dove into this as a team and explored things deeply.  I like the sound of the solution you are headed towards.  Thank you for all the details.

This makes me nervous.  Maybe you can fill me in on what you mean here in our meeting.

Regarding using React-Router routes to keep context history, something occurred to me to be careful about.

[2015-09-28 23:30] PropGit opened #286 "Sync Settings"
[Planning and future thinking related to issue #238]

For syncFileSystem to work, the app must be installed from CWS (which gives it the same App ID) and the user's Google Account must have the _Apps_ preference checked in the _Advanced sync settings_.

How does this affect the syncFileSystem feature when we deploy to Android and iOS?  Neither will use CWS, and Chrome mobile doesn't have sync sett

[2015-09-28 23:37] #144 closed, assigned to 2fast2fourier

[2015-09-29 20:59] urbantumbleweed commented on #270
@propGit: We are going to discuss this further on our call Wednesday when we can the discuss technical implications in regards to changing views.

One thing to keep in mind about React-Router state is that the history object is only in memory and will behave similarly to how undo-redo history works on documents.

We will discuss further and if needed on our call.

[2015-09-29 21:51] phated commented on #272
@PropGit I went to the CodeMirror.net homepage and used my chrome developer tools to inspect the keymappings of what I believe is a default instance of CodeMirror.  I've put everything I've found in the table below with each section headed by what CodeMirror labels each.  As you can see, `Ctrl+T` exists in this table, so I think this should be everything that isn't handled by the OS.  Please reope

[2015-09-29 21:51] #272 closed, assigned to nobody

[2015-09-29 23:50] 2fast2fourier opened #288 "Test updated break functionality on Windows"
I've merged the changes that use `setBreak`/`clearBreak` APIs in #287. It runs fine on the windows systems I've tried, with the caveat that any program must have a 200ms delay before writing to serial port due to framing issues covered in #194.

I'm opening this issue for @PropGit to verify these changes on his system as well. Please let me know if you run into any issues with the new build.

[2015-09-30 16:38] PropGit commented on #288
@2fast2fourier - I'm not having success. :-(
- **I rebuilt**
  - On my Ubuntu VM, I first tried `git pull origin master` but it failed with a merge conflict in package.json.  I'm not sure why it didn't just fast forward.
  - So I deleted my whole repo folder and did a `git clone git@github.com:parallaxinc/Parallax-IDE`
  - Followed by `cd Parallax-IDE`
  - Then `npm install`
  - Then `npm run buil

[2015-09-30 21:32] PropGit opened #289 "Dynamically mark version in UI based on Test vs. Public channel release in CWS"
@phated - Can the app see it's App ID?  If so, we can dynamically change something in the UI based on its App ID.

If the app determines that its App ID _is not_ the ID from our official public release CWS channel, then we'd like to mark the UI somehow to indicate that it's a release intended for testing purposes only.

Once we have the UI designed to allow selection of an "About" menu item, then

[2015-09-30 21:36] PropGit commented on #288
@2fast2fourier - Related to our meeting discussion about the port being left in BREAK from the previous open.  I didn't know that was even possible.  Please update the code to always ensure BREAK is disengaged upon port opening so the inverted signal state is not a problem on any future port openings that the app attempts.

[2015-09-30 22:57] phated commented on #289
The application ID does seem to be exposed as `chrome.runtime.id` and we could do a string compare on that and add some visual element to the UI.  Perhaps adjust the parallax logo to include (alpha) or some other solution

[2015-09-30 23:14] PropGit commented on #289
Great!  Thanks @phated.  I'm marking this UI and we'll address it in that part of the project.

[2015-09-30 23:48] 2fast2fourier commented on #288
@PropGit I have the changes we discussed on the call available on the `break-compat` branch. If you could check out that branch, delete the `node_modules` folder, and re-install, it should get the right dependencies.

Please let me know what you see, and post logic scans if you can. Thanks!

[2015-10-01 00:49] PropGit commented on #288
@2fast2fourier - Yes, I'll be able to check this out later tonight.  Thanks!

[2015-10-01 03:19] PropGit commented on #288
@2fast2fourier - Success!

At first I thought it failed again, but then I realized I didn't have by BOE powered- so what it was telling me was truthful.

In case it matters, I noticed that the Tx is set in BREAK the very first time the port is open, and then the app seems to clear it.

Here is the results of an identify, the first time the port is opened from the App (and happens to be with the BO

[2015-10-01 04:12] PropGit commented on #288
@2fast2fourier - Can you test against Chrome 45?

I'm asking because it appears you've drastically improved the situation; dare I say, completely fixed it?

In my tests I haven't had it fail to download again despite various DEBUG statements in previous downloads that are outputting different lengths and types of data.

For example, this code:

[code]

causes v0.8.1 to fail; however, this new vers

[2015-10-01 15:14] PropGit commented on #204
**[Bug Introduced]**
The solution employed to solve this issue causes cursor navigation to fail while editing the filename.

Clicking in the field (to place the cursor anywhere but at the end), cursor keys, HOME, Ctrl and/or Shift + cursor key combinations (and more) are thwarted, forcing the user to edit the whole filename only from the right side.  Any cursor movement is undone and the cursor is

[2015-10-01 18:41] phated commented on #204
@PropGit I am unable to reproduce what you are explaining.  None of the code I modified would cause it either

[2015-10-01 18:50] phated commented on #288
@PropGit Great news.  He tested against Chrome 45 while putting together the fix.  I think the download failures are still possible, just much less likely.  I will get this change propagated through the dependencies and into master before release.

[2015-10-01 19:14] phated commented on #288
I've updated the dependency in master and will be removing the branches shortly

[2015-10-01 19:16] PropGit commented on #204
@phated - Whoa... is this perhaps a Windows thing or a Chrome 45 thing?

Wait.  I built off of the break-compat branch; perhaps that's the source of the problem.  Maybe it's a non-issue for the pre-release you're building today?

[2015-10-01 19:19] phated commented on #204
@PropGit I am using Chrome 45 on my mac.  I will try to get a windows VM running but the cursor stuff shouldn't be platform dependent.  The break-compat branch had the same changes in it.

[2015-10-01 19:20] PropGit commented on #288
Sounds great.  Looking forward to testing all the other changes when you release.

[2015-10-01 19:21] PropGit commented on #204
@phated - I'll make a video then.

[2015-10-01 19:28] PropGit commented on #204
@phated - Here's [a demo video](https://drive.google.com/file/d/0B0tev9Y3WaL4UW84bXZCLWJJSTQ/view?usp=sharing) of the symptoms I'm seeing.

[2015-10-01 19:38] phated commented on #204
@PropGit thanks for the video.  I did a fresh install and build and am able to see this behavior now.  Working on a fix before the release.  Thanks for catching this and showing me.

[2015-10-01 19:45] phated commented on #204
@PropGit I've pushed a fix to the master branch.  Can you please build from master, test and let me know if it is working?  If so, I will cut the release

[2015-10-01 19:53] PropGit commented on #204
@phated - Yes.  I will do that now...

[2015-10-01 20:33] PropGit commented on #204
@phated - Success!  It works perfectly now, thank you!

[2015-10-01 20:33] #204 closed, assigned to nobody

[2015-10-01 20:35] phated commented on #204
@PropGit Hooray!  Cutting the release shortly

[2015-10-02 22:46] PropGit commented on #144
Verified implemented.  Works great in all the tests on Win 7!
Thank you Google and Iced Dev!

[2015-10-02 23:27] PropGit commented on #194
@2fast2fourier - Regarding [this post above](https://github.com/parallaxinc/Parallax-IDE/issues/194#issuecomment-142084826), I whole-heartedly agree, you've greatly minimized the conditions that trigger the problem.  I've tested with all the code (and more) that I found the original problem with and Parallax IDE _never_ failed to download again on Win 7!  This is incredibly exciting because I didn

[2015-10-03 21:02] PropGit commented on #271
Verified enhanced though demo.

[2015-10-03 21:03] PropGit commented on #269
Verified fixed.

[2015-10-03 21:04] PropGit commented on #268
Verified fixed.

[2015-10-03 21:05] PropGit commented on #204
Verified fixed.

[2015-10-03 21:09] PropGit commented on #184
Verified enhanced.

[2015-10-05 19:13] PropGit commented on #288
Done.  Things are _so_ much better than before!  See Issue #194 and Issue #144.

[2015-10-05 19:13] #288 closed, assigned to PropGit

[2015-10-06 16:01] PropGit opened #290 "Project/File View scrollbar ignores mouse click"
[Similar to Issue #277]

The Project/File View's scrollbar ignores mouse clicks.
- Click and drag of thumb does nothing
- Click on empty area of scrollbar does nothing

Mouse wheel events do affect the scrollbar, however.

[2015-10-06 17:28] urbantumbleweed commented on #77
This issue may need to be split into two issues.

[2015-10-06 17:33] PropGit commented on #77
Agreed.

[2015-10-06 19:00] PropGit opened #291 "Test and Enhance to Identify and Download to BS2e, BS2sx, BS2p24, BS2p40, and BS2pe"
Verify that the app can identify and download to BS2e, BS2sx, BS2p24, BS2p40, and BS2pe modules.

At this point in time, it appears that this functionality is already built-in, or is close to being complete for Identification.

The current app may or may not be able to handle the normal single-slot download properly.  Please verify as part of this issue.  Note that Issue #292 (to be implemented at

[2015-10-06 19:09] PropGit opened #292 "Verify or add support for multi-slot programming of BS2e, BS2sx, BS2p24, BS2p40, and BS2pe"
**Action Item:** Verify or add support for multi-slot programming.

Downloading to the BS2e, BS2sx, BS2p24, BS2p40, and BS2pe adds an additional aspect to the protocol beyond that of downloading to the BS2; namely multi-slot programming.

Each of these modules (beyond the BS2) has multiple 2 kByte program slots.  Each program slot is programmed separately in a similar fashion as the BS2's single-p

[2015-10-06 19:12] PropGit opened #293 "Add support for multi-slot projects"
[Placeholder for adding editing and compiling support for multi-slot projects]
[This issue should not be addressed without Issue #292 being in place]

[2015-10-06 21:27] PropGit commented on #79
@2fast2fourier - Here's a list of the VID/PID pairs we are interested in monitoring for spontaneous departure/re-arrival:

[code]

[2015-10-06 23:22] PropGit commented on #79
Reminder, the algorithm for handling departure and arrival events is listed in the third major bullet of the **Settings** section of the [Debug Terminal](https://docs.google.com/document/d/1u0L0WTVU-jfvN4H56efHdBhNYTbObEX72Bn7Fc2RxwE/edit?usp=sharing) document.  Any mention of "visible port field" can be treated as "the current known port in use" since we don't currently have a visible port field.

[2015-10-07 20:27] urbantumbleweed commented on #280
The short answer to this is no.  The updating is performed within syncFileSystem and our application has no way to initiate synchronization activity. We are able to get the sync status on existing files.

The api allows for us to write to, read from, listen for events, select a conflict strategy, and check status... that's really about it.  The ability to force actions like a synchronization event

[2015-10-07 20:27] #280 closed, assigned to urbantumbleweed

[2015-10-07 20:28] urbantumbleweed commented on #286
When we deploy on Android and IOS the use of parallaxIDE will be local to the device. These would not be sync'd from use of ChromeBooks and desktop computers. In order for that synchronization to occur an additional service would be needed.

[2015-10-07 20:28] #286 closed, assigned to urbantumbleweed

[2015-10-07 20:30] urbantumbleweed commented on #279
The atomicity question doesn't really apply to syncFileSystem and there is no atomic file operation setting because we are not writing to Google Drive directly. All file operations are occurring on the local file system and are synced by syncFileSystem if the the file status becomes 'pending'. It is only possible to have one instance of the application open at any one time on a host so the atomici

[2015-10-07 20:30] #279 closed, assigned to urbantumbleweed

[2015-10-08 19:31] urbantumbleweed commented on #133
@propgit: There are a number of decisions that must be made before development can begin. You can use the checkboxs to indicate what tasks/questions are completed/resolved.
- [x] Step 1: Answer discovery questions and define specifications.
  - [x] The actual content to be contained in the examples folder has been created.
  - [x] What interaction (in regards to the example folder) is expected the

[2015-10-08 20:47] PropGit commented on #133
@urbantumbleweed - great idea with the checkboxes!
I can answer some of these now; others need more work on my part.

You mean in the on-line help link?  Likely none (or very little) initially.  We will probably just mention the examples and how to get to them.  In later revisions of the on-line help, we'll likely more directly refer to certain examples (which we might expand on later) that natura

[2015-10-08 20:59] PropGit commented on #279
But if there's another host with the app open, atomicity does indeed apply; thus the reason for the question.  I'm forward-thinking about uses and problems.

That answers part of my question; the write operation is atomic (as I expected it would be).

In practice, I've found they each client doesn't have to write the files locally in any related time... same time doesn't matter, totally separate t

[2015-10-08 22:33] urbantumbleweed opened #294 "Document the ramifications of changing from syncFileSystem to Google Drive API"
Create a list of things that will change if we decide to use Google Drive:
1.  Application will be using Oauth to connect to Google Drive.

more to come...

[2015-10-08 22:45] phated commented on #294
1. Migration of files
2. Offline support/handling when to sync

[2015-10-11 04:09] PropGit commented on #133
The first time the application is run, after the "updated" prompt that already appears, the app will notify the user via overlay that an examples project has been provided for them.  This is described in Issue #295.

[2015-10-13 18:45] 2fast2fourier commented on #291
@PropGit I'm working through these modules now, and encountered something odd with BS2e. According to the BASIC Stamp Programming Protocol 1.1 docs, BS2e identification should be a sequence of:
- Send `e` (`0x65`)
- Receive echo `e`
- Receive version byte, where `0x65`is 1.0. No other versions are mentioned.

This BS2e is Rev E, but I'm seeing a `0x67` response for the version step. Is this just a

[2015-10-13 20:41] PropGit commented on #133
The _first_ version of examples folder content is here for this release: [Examples Project Files](https://drive.google.com/file/d/0B0tev9Y3WaL4Y0JkSVZZRDhVUFE/view?usp=sharing)

[2015-10-13 20:53] PropGit commented on #133
Ideally, the app could recognize that this is a special "examples" folder and provide a UI/UX feature (ex: right-click > restore example) to restore it.

For now, this is not a feature we will implement.  Instead, the only way to restore will be by deleting and restoring the entire examples folder.

Yes, they can delete the folder (which is one way to lead to restoring it) and then can recreate it

[2015-10-13 21:10] PropGit commented on #291
@2fast2fourier - The hardware revision doesn't relate in any direct way to the firmware version; so just ignore the "Rev E" you see on the hardware.

The firmware of many modules has been revised since that document was written.  Here's a current list of expected firmware versions (but _every_ version from v1.0 through the listed version should be supported by the app; ie: identify and download to

[2015-10-13 22:28] PropGit commented on #133
The implementation of this feature will be done in phases, across at least two sprints.  Other issues describe the separate related features.

[2015-10-13 23:06] PropGit opened #295 "Ensure "Examples" project exists on session start"
[This issue spawns from issue #133]

App must perform the following:
- Upon every session start (after the ["New Version"](https://github.com/parallaxinc/Parallax-IDE/issues/215) notice, if any) check for the existence of a project named "Examples"
  - Exists?  Done!
  - Doesn't exist?
    - Create a project called "Examples"
    - Fill the new Examples project with [BASIC Stamp Source Code Exampl

[2015-10-13 23:48] PropGit opened #296 "User-initiated restoration of examples"
As it relates to Issue #133 for future features...

Is there anything preventing us from a treating the Examples folder (Issue #133 and #295) as a special folder:
- That is prevented from deletion through the app interface?
- Whose contents is prevented from deletion through the app interface?
- Provides a special UI/UX feature to "restore all examples" and/or "restore a specific example"

It is u

[2015-10-13 23:51] PropGit commented on #133
@urbantumbleweed - Since other issues were created to resolve this, this issue can be closed in this sprint after it is read and understood.

[2015-10-13 23:55] PropGit opened #297 "Create multi-slot BS2e+ Examples"
After multi-slot features are added to app, PropGit should create multi-slot examples to include in the Examples project.

[2015-10-14 17:59] PropGit commented on #297
UPDATE: I've now created examples that are ready for inclusion once multi-slot functionality is added to app.

[2015-10-14 18:24] PropGit commented on #291
_[CORRECTION]_

All versions 1.0 through the latest listed in the previous post should be identifiable and downloadable from the app with the exception of the BS2p... that should only support v1.2 through v1.7.  It's not the way I'd want it, but it's the way it is.

[2015-10-14 23:23] urbantumbleweed commented on #133
@PropGit @phated Here is a listing of issues that I think can be created from this thread.  I have included the two issues that were created already (#295 and #296)
1. Ensure that 'Examples' project exists on session start (#295)
2. Create example files for the example directory from zip file content. [here](https://github.com/parallaxinc/Parallax-IDE/issues/133#issuecomment-147846201)
3. Create U

[2015-10-14 23:44] #278 closed, assigned to nobody

[2015-10-14 23:49] phated commented on #133
@urbantumbleweed it looks like a bunch of these would be enhancements that wouldn't get implemented until a ways into the future.  Can you mark those in your list in some way?

[2015-10-15 18:14] urbantumbleweed commented on #133
Updated, let me know what you think.

[2015-10-15 18:27] PropGit commented on #133
@urbantumbleweed @phated
Number 3 - seems to provide a pseudo-read-only feature.  Is that right?  The intent of this item is to preserve the original example?  This begs the question, what happens with unsaved changes?

Number 4 - I don't understand this one.  Please explain.

[2015-10-15 21:45] urbantumbleweed commented on #295
It is great that we added this issue to the project and I saw it was added to sprint 12.  As it stands we are not able to get to it this sprint.  I will mark it as deferred and then we can talk about it during the demo meeting.

[2015-10-15 22:13] urbantumbleweed commented on #133
Shoot, I moved the issues around and don't know which is Number 4.  Please let me know which one it is.

For Number 3, it is the pseudo-read-only feature.  If there are unsaved changes then the original example file would remain intact.

[2015-10-15 23:07] PropGit commented on #133
The one I don't understand is "Create CodeMirror documents and example directory from zip file here"

I don't know what CodeMirror documents are or why they apply here, and the example directory is what is being created in Issue #295.

Other than that, I like the others and agree that we should make issues out of them.  Would you like me to create them?

[2015-10-16 00:35] #185 closed, assigned to 2fast2fourier

[2015-10-16 02:14] #291 closed, assigned to 2fast2fourier

[2015-10-16 18:16] #277 closed, assigned to nobody

[2015-10-16 18:16] #290 closed, assigned to nobody

[2015-10-16 18:24] urbantumbleweed commented on #133
All that was meant was that we would use the content from the supplied zip archive to create the example files in the application.  I have rephrased the issue above because we won't be creating CodeMirror documents but will be creating files on the application file system.

Yes, please create the issues at your convenience.

[2015-10-16 18:24] #133 closed, assigned to urbantumbleweed

[2015-10-16 19:00] phated commented on #79
The comment at https://github.com/parallaxinc/Parallax-IDE/pull/299#issuecomment-148805652 outlines a caveat on Windows for this feature.  However, it will work on OSX and ChromeOS due to no reliance on WinUSB on those platforms.

[2015-10-16 19:00] monteslu commented on #270
update:

I've been working on changes including replacing holovisor dependency with a new layout view.
This view is the main Route element "/" of an instance of react-router.  Its child elements are the overlays which get rendered when we call pushState() of the overlay we wish to see.  This allows us to move backwards to a previous context when we do something such as canceling a nested overlay d

[2015-10-16 19:05] #79 closed, assigned to 2fast2fourier

[2015-10-16 19:48] 2fast2fourier commented on #213
I've submitted this as PR #302, but with a minimum unlit time of 50ms. When testing the flashing on a fast loop, 50ms looked a lot cleaner than a 25ms period.

[2015-10-16 20:18] PropGit opened #303 "Update Online Help to refer to Examples project contents"
As it relates to Issues #133 and #295 for future features...

Parallax is to update Online Help to refer to the Examples project contents.

[2015-10-16 20:21] PropGit opened #304 "User should be able to hide the Examples project"
As it relates to Issues #133 and #295 for future features...

Provide a UI/UX option to hide the Examples folder.  This also implies preventing the user from creating another project called "Examples."

[2015-10-16 20:24] PropGit opened #305 "Pull Examples project content from an Internet resource"
As it relates to Issues #133 and #295 for future features...

Use a Parallax-provided Internet resource as the source of content for the Examples project.  This source is accessed when the app creates (or re-creates) the Examples project (Issue #295) or when the app checks for potential updates to existing content #306.

[2015-10-16 20:28] PropGit opened #306 "Check for updates to Examples project content"
As it relates to Issues #133 and #295 for future features...

Periodically (frequency TBD) the app will check the Internet-based resource for updates to existing Examples project content, will inform the user of such updates, and will provide an option to automatically update it.

[2015-10-16 20:33] #213 closed, assigned to 2fast2fourier

[2015-10-16 20:36] PropGit opened #307 "Pseudo-read-only Examples project content"
As it relates to Issues #133 and #295 for future features...

The app recognizes Example project content as being _special_.  Modifications to source are allowed; however, if the user chooses to Save, the app actually creates another file with the content state, restores the original, and moves to the new file.

The exact nature of this is to be determined and may require multiple related issues.

[2015-10-16 20:37] PropGit commented on #133
I created a number of related issues as requested and also updated [the list above](https://github.com/parallaxinc/Parallax-IDE/issues/133#issuecomment-148231456) to reference them.

[2015-10-16 20:45] PropGit commented on #213
@2fast2fourier - Thank you!

[2015-10-21 03:16] PropGit opened #309 ""New Version" notice snubbed"
@phated - Upon auto-updating, the "New Version" notice for v0.10.0 seems to be snubbed by the new permission that Chrome to auto-disabled the app until user intervention.

![image](https://cloud.githubusercontent.com/assets/1266318/10645540/19ec71dc-77e3-11e5-920f-7b0c528962e5.png)

When the user accepts the new permission (Re-enables the app), the New Version notice for v0.10.0 is still not shown

[2015-10-21 18:04] PropGit commented on #290
Verified fixed.

[2015-10-21 18:04] PropGit commented on #277
Verified fixed.

[2015-10-21 18:10] PropGit opened #310 "Debug Terminal: Tx activity light does not blink on transmission"
The Tx activity indicator on the Debug Terminal does not blink when there's transmission activity in the Transmit pane.

It should behave exactly like the Rx activity indicator (in regards to timing) as done in issue #213, except upon transmission instead of reception, of course.

[2015-10-21 18:11] PropGit commented on #213
Verified fixed on Rx, but Tx seems to not blink at all.  Opened a new issue #310.

[2015-10-21 18:32] PropGit opened #311 "When target Stamp not found, Download dialog indicates error if found a non-target Stamp"
NOTE: This issue _may_ have been fixed in-between sprints.  Please verify.

When the target BASIC Stamp is not found but a non-target BASIC Stamp is found, the Download dialog reports a hard red-colored error "No BASIC Stamps found."  Instead, in this case, it should report a soft yellow colored error "Target BASIC Stamp not found; choose another instead?"

[2015-10-21 18:39] PropGit commented on #291
Verified working.